## Trabajo Grupal 4

      Integrantes Grupo 8:
    
    - Renzo Mosquera (20181960)
    - Yenner Huancahuire (20173340)
    - Pamela Obreg√≥n (20173040)

In [1]:
# Importamos librerias

import pandas as pd
import numpy as np
import warnings
import pyreadstat
import savReaderWriter as sav
import seaborn as sns
import matplotlib.pyplot as plt 
from matplotlib.lines import Line2D

warnings.filterwarnings('ignore')

In [2]:
## Ejercicio sobre Datos de la CVR

# Importamos la base de datos

pd.read_spss(r"../../data/actos_est.sav")

# Mostramos la base sin etiquetas

datoscvr = pd.read_spss(r"../../data/actos_est.sav", convert_categoricals = False)

datoscvr

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000001,14867.0,54406.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000001,14867.0,54407.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000001,20535.0,74109.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000001,20535.0,74110.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000003,14834.0,54220.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36014,1200682,13183.0,48743.0,MAE,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36015,1991433,630.0,2473.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36016,1991433,632.0,2478.0,TTR,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36017,1991433,640.0,2509.0,MAE,1.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36018,1991433,644.0,2528.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
with sav.SavHeaderReader(r"../../data/actos_est.sav", ioUtf8 = True) as header:
    metadata = header.all()
    valuelabels = metadata.valueLabels
    varlabels = metadata.varLabels

In [4]:
# Observamos las etiquetas de los valores

valuelabels

{'idtipoac': {'TLA      ': 'Lesiones o Heridas',
  'LRC      ': 'Reclutamiento Forzado',
  'MAE      ': 'Asesinatos/Ejecuciones Extrajudiciales',
  'LSE      ': 'Secuestros',
  'MEF      ': 'Muertos en enfrentamientos',
  'TTR      ': 'Tortura',
  'LDS      ': 'Desaparici√≥n - contin√∫a desaparecido',
  'TVS      ': 'Violaci√≥n Sexual',
  'MAT      ': 'Muertos en atentados',
  'LDT      ': 'Detenciones'},
 'lds_ldt': {0.0: 'No', 1.0: 'S√≠'},
 'ldt': {0.0: 'No', 1.0: 'S√≠'},
 'lrc': {0.0: 'No', 1.0: 'S√≠'},
 'lse': {0.0: 'No', 1.0: 'S√≠'},
 'mae': {0.0: 'No', 1.0: 'S√≠'},
 'mat': {0.0: 'No', 1.0: 'S√≠'},
 'mef': {0.0: 'No', 1.0: 'S√≠'},
 'tla': {0.0: 'No', 1.0: 'S√≠'},
 'ttr': {0.0: 'No', 1.0: 'S√≠'},
 'tvs': {0.0: 'No', 1.0: 'S√≠'},
 'ano': {1980.0: '80',
  1981.0: '81',
  1982.0: '82',
  1983.0: '83',
  1984.0: '84',
  1985.0: '85',
  1986.0: '86',
  1987.0: '87',
  1988.0: '88',
  1989.0: '89',
  1990.0: '90',
  1991.0: '91',
  1992.0: '92',
  1993.0: '93',
  1994.0: '94',
  1995.0: '95',
  1996.0: '96',
  1997.0: '97',
  1998.0: '98',
  1999.0: '99',
  2000.0: '00'},
 'sexo': {1.0: 'Femenino', 2.0: 'Masculino'},
 'edadrec': {1.0: '0 a 9',
  2.0: '10 a 19',
  3.0: '20 a 29',
  4.0: '30 a 39',
  5.0: '40 a 49',
  6.0: '50 a 59',
  7.0: '60 a 69',
  8.0: '70 a +'},
 'idnivedu': {1.0: 'Ninguno',
  2.0: 'Inicial',
  3.0: 'Primaria',
  4.0: 'Secundaria',
  5.0: 'Superior'},
 'condalfa': {1.0: 'No lee ni escribe', 2.0: 'S√≠ lee y escribe'},
 'estaciv': {1.0: 'Soltero(a)',
  2.0: 'Casado(a) / Conviviente',
  3.0: 'Separado(a) / Divorciado(a)',
  4.0: 'Viudo(a)'},
 'religion': {1.0: 'Cat√≥lica',
  2.0: 'Evang√©lica',
  3.0: 'Otras',
  4.0: 'Ninguna'},
 'idioma': {1.0: 'Castellano', 2.0: 'Quechua', 3.0: 'Otras lenguas nativas'},
 'ocupaci0': {1.0: 'Campesinos',
  2.0: 'Vendedores y comerciantes',
  3.0: 'Profesores',
  4.0: 'Amas de casa',
  5.0: 'Empleados',
  6.0: 'Obreros',
  7.0: 'Profesionales e intelectuales',
  8.0: 'Autoridades',
  9.0: 'Trabajadores independientes',
  10.0: 'Fuerzas armadas y policiales',
  11.0: 'Estudiantes univers. y de IST',
  12.0: 'Otras ocupaciones'},
 'organiza': {1.0: 'Org. o asoc. de familiares y/o v√≠ctimas de la violencia',
  2.0: 'Comun. camp. o asoc. de campesinos - Presidente',
  3.0: 'Com. camp. o asoc. de campesinos - Miembro de la directiva',
  4.0: 'Org. o asoc. campesinas de Apoyo, o por obras determinadas',
  5.0: 'Rondas campesinas',
  6.0: 'Gremios de campesinos o productores agropecuarios',
  7.0: 'Organizaciones o asociaciones de desplazados',
  8.0: 'Organizaciones o asociaciones de productores o comerciantes',
  9.0: 'Organizaciones pol√≠ticas',
  10.0: 'Sindicatos o federaciones de trabajadores',
  11.0: 'Organizaciones de estudiantes universitarios',
  12.0: 'Organizaciones gremiales',
  13.0: 'Organizaciones vecinales',
  14.0: 'Organizaciones asistenciales',
  15.0: 'Cooperativas',
  16.0: 'Organizaciones o asociaciones de padres de familia',
  17.0: 'Organizaciones deportivas y/o recreativas',
  18.0: 'Organizaciones o clubes sociales',
  19.0: 'Organizaciones Culturales',
  20.0: 'Organizaciones Art√≠sticas',
  21.0: 'Otras'},
 'ocupacio': {1.0: 'Campesinos',
  2.0: 'Vendedores y comerciantes',
  3.0: 'Profesores',
  4.0: 'Amas de casa',
  5.0: 'Empleados',
  6.0: 'Obreros',
  7.0: 'Profesionales e intelectuales',
  8.0: 'Autoridades y dirigentes locales',
  9.0: 'Trabajadores independientes',
  10.0: 'Fuerzas armadas y policiales',
  11.0: 'Estudiantes univers. y de IST',
  12.0: 'Otras ocupaciones'},
 'a00': {0.0: 'No', 1.0: 'S√≠'},
 'a01': {0.0: 'No', 1.0: 'S√≠'},
 'a02': {0.0: 'No', 1.0: 'S√≠'},
 'a03': {0.0: 'No', 1.0: 'S√≠'},
 'a04': {0.0: 'No', 1.0: 'S√≠'},
 'ab0': {0.0: 'No', 1.0: 'S√≠'},
 'b00': {0.0: 'No', 1.0: 'S√≠'},
 'b01': {0.0: 'No', 1.0: 'S√≠'},
 'b02': {0.0: 'No', 1.0: 'S√≠'},
 'b03': {0.0: 'No', 1.0: 'S√≠'},
 'b04': {0.0: 'No', 1.0: 'S√≠'},
 'b05': {0.0: 'No', 1.0: 'S√≠'},
 'b06': {0.0: 'No', 1.0: 'S√≠'},
 'b07': {0.0: 'No', 1.0: 'S√≠'},
 'b08': {0.0: 'No', 1.0: 'S√≠'},
 'b09': {0.0: 'No', 1.0: 'S√≠'},
 'c00': {0.0: 'No', 1.0: 'S√≠'},
 'c01': {0.0: 'No', 1.0: 'S√≠'},
 'c02': {0.0: 'No', 1.0: 'S√≠'},
 'd00': {0.0: 'No', 1.0: 'S√≠'},
 'd01': {0.0: 'No', 1.0: 'S√≠'},
 'd02': {0.0: 'No', 1.0: 'S√≠'},
 'd03': {0.0: 'No', 1.0: 'S√≠'},
 'd04': {0.0: 'No', 1.0: 'S√≠'},
 'd05': {0.0: 'No', 1.0: 'S√≠'},
 'd06': {0.0: 'No', 1.0: 'S√≠'},
 'e00': {0.0: 'No', 1.0: 'S√≠'},
 'e01': {0.0: 'No', 1.0: 'S√≠'},
 'e02': {0.0: 'No', 1.0: 'S√≠'},
 'f00': {0.0: 'No', 1.0: 'S√≠'},
 'g00': {0.0: 'No', 1.0: 'S√≠'},
 'h00': {0.0: 'No', 1.0: 'S√≠'},
 'ortersol': {0.0: 'No', 1.0: 'S√≠'},
 'civisol': {0.0: 'No', 1.0: 'S√≠'},
 'otrosol': {0.0: 'No', 1.0: 'S√≠'},
 'indetsol': {0.0: 'No', 1.0: 'S√≠'},
 'ffaa': {0.0: 'No', 1.0: 'S√≠'},
 'ffpp': {0.0: 'No', 1.0: 'S√≠'},
 'cads': {0.0: 'No', 1.0: 'S√≠'},
 'estado': {0.0: 'No', 1.0: 'S√≠'},
 'param': {0.0: 'No', 1.0: 'S√≠'},
 'forden': {0.0: 'No', 1.0: 'S√≠'},
 'nodeter': {0.0: 'No', 1.0: 'S√≠'},
 'civotr': {0.0: 'No', 1.0: 'S√≠'},
 'nodetotr': {0.0: 'No', 1.0: 'S√≠'},
 'contrasu': {0.0: 'No', 1.0: 'S√≠'},
 'depnac': {'      ': 's.i.',
  '10    ': 'HU√ÅNUCO',
  '20    ': 'PIURA',
  '01    ': 'AMAZONAS',
  '11    ': 'ICA',
  '21    ': 'PUNO',
  '02    ': 'ANCASH',
  '12    ': 'JUN√çN',
  '22    ': 'SAN MART√çN',
  '03    ': 'APUR√çMAC',
  '13    ': 'LA LIBERTAD',
  '23    ': 'TACNA',
  '04    ': 'AREQUIPA',
  '14    ': 'LAMBAYEQUE',
  '24    ': 'TUMBES',
  '05    ': 'AYACUCHO',
  '15    ': 'LIMA',
  '25    ': 'UCAYALI',
  '06    ': 'CAJAMARCA',
  '16    ': 'LORETO',
  '07    ': 'CALLAO',
  '17    ': 'MADRE DE DIOS',
  '08    ': 'CUSCO',
  '18    ': 'MOQUEGUA',
  '09    ': 'HUANCAVELICA',
  '19    ': 'PASCO'},
 'depna0': {1.0: 'AYACUCHO',
  2.0: 'APUR√çMAC',
  3.0: 'HUANCAVELICA',
  4.0: 'CUSCO',
  5.0: 'HU√ÅNUCO',
  6.0: 'UCAYALI',
  7.0: 'SAN MART√çN',
  8.0: 'PUNO',
  9.0: 'JUN√çN',
  10.0: 'LIMA - CALLAO',
  90.0: 'OTROS'},
 'ubidep': {'      ': 's.i.',
  '10    ': 'HU√ÅNUCO',
  '20    ': 'PIURA',
  '01    ': 'AMAZONAS',
  '11    ': 'ICA',
  '21    ': 'PUNO',
  '02    ': 'ANCASH',
  '12    ': 'JUN√çN',
  '22    ': 'SAN MART√çN',
  '03    ': 'APUR√çMAC',
  '13    ': 'LA LIBERTAD',
  '23    ': 'TACNA',
  '04    ': 'AREQUIPA',
  '14    ': 'LAMBAYEQUE',
  '24    ': 'TUMBES',
  '05    ': 'AYACUCHO',
  '15    ': 'LIMA',
  '25    ': 'UCAYALI',
  '06    ': 'CAJAMARCA',
  '16    ': 'LORETO',
  '07    ': 'CALLAO',
  '17    ': 'MADRE DE DIOS',
  '08    ': 'CUSCO',
  '18    ': 'MOQUEGUA',
  '09    ': 'HUANCAVELICA',
  '19    ': 'PASCO'},
 'dephe0': {1.0: 'AYACUCHO',
  2.0: 'APUR√çMAC',
  3.0: 'HUANCAVELICA',
  4.0: 'CUSCO',
  5.0: 'HU√ÅNUCO',
  6.0: 'UCAYALI',
  7.0: 'SAN MART√çN',
  8.0: 'PUNO',
  9.0: 'JUN√çN',
  10.0: 'LIMA - CALLAO',
  90.0: 'OTROS'},
 'ubiprov': {'            ': 's.i.',
  '0000        ': 'n.e.',
  '1000        ': 'n.e.',
  '2000        ': 'n.e.',
  '0100        ': 'n.e.',
  '1100        ': 'n.e.',
  '2100        ': 'n.e.',
  '0200        ': 'n.e.',
  '1200        ': 'n.e.',
  '2200        ': 'n.e.',
  '0300        ': 'n.e.',
  '1300        ': 'n.e.',
  '2300        ': 'n.e.',
  '0400        ': 'n.e.',
  '1400        ': 'n.e.',
  '2400        ': 'n.e.',
  '0500        ': 'n.e.',
  '1500        ': 'n.e.',
  '2500        ': 'n.e.',
  '0600        ': 'n.e.',
  '1600        ': 'n.e.',
  '0700        ': 'n.e.',
  '1700        ': 'n.e.',
  '0800        ': 'n.e.',
  '1800        ': 'n.e.',
  '0900        ': 'n.e.',
  '1900        ': 'n.e.',
  '1010        ': 'LAURICOCHA',
  '2110        ': 'SAN ANTONIO DE PUTINA',
  '0210        ': 'HUARI',
  '2210        ': 'TOCACHE',
  '1310        ': 'SANTIAGO DE CHUCO',
  '0510        ': 'V√çCTOR FAJARDO',
  '1510        ': 'YAUYOS',
  '0610        ': 'SAN MARCOS',
  '0810        ': 'PARURO',
  '0220        ': 'YUNGAY',
  '1001        ': 'HU√ÅNUCO',
  '2001        ': 'PIURA',
  '0101        ': 'CHACHAPOYAS',
  '1101        ': 'ICA',
  '2101        ': 'PUNO',
  '0201        ': 'HUARAZ',
  '1201        ': 'HUANCAYO',
  '2201        ': 'MOYOBAMBA',
  '0301        ': 'ABANCAY',
  '1301        ': 'TRUJILLO',
  '2301        ': 'TACNA',
  '0401        ': 'AREQUIPA',
  '1401        ': 'CHICLAYO',
  '2401        ': 'TUMBES',
  '0501        ': 'HUAMANGA',
  '1501        ': 'LIMA',
  '2501        ': 'CORONEL PORTILLO',
  '0601        ': 'CAJAMARCA',
  '1601        ': 'MAYNAS',
  '0701        ': 'CALLAO',
  '1701        ': 'TAMBOPATA',
  '0801        ': 'CUSCO',
  '1801        ': 'MARISCAL NIETO',
  '0901        ': 'HUANCAVELICA',
  '1901        ': 'PASCO',
  '1011        ': 'YAROWILCA',
  '2111        ': 'SAN ROM√ÅN',
  '0211        ': 'HUARMEY',
  '1311        ': 'GRAN CHIM√ö',
  '0511        ': 'VILCAS HUAM√ÅN',
  '0611        ': 'SAN MIGUEL',
  '0811        ': 'PAUCARTAMBO',
  '1002        ': 'AMBO',
  '2002        ': 'AYABACA',
  '0102        ': 'BAGUA',
  '1102        ': 'CHINCHA',
  '2102        ': 'AZ√ÅNGARO',
  '0202        ': 'AIJA',
  '1202        ': 'CONCEPCI√ìN',
  '2202        ': 'BELLAVISTA',
  '0302        ': 'ANDAHUAYLAS',
  '1302        ': 'ASCOPE',
  '2302        ': 'CANDARAVE',
  '0402        ': 'CAMAN√Å',
  '1402        ': 'FERRE√ëAFE',
  '2402        ': 'CONTRALMIRANTE VILLAR',
  '0502        ': 'CANGALLO',
  '1502        ': 'BARRANCA',
  '2502        ': 'ATALAYA',
  '0602        ': 'CAJABAMBA',
  '1602        ': 'ALTO AMAZONAS',
  '1702        ': 'MAN√ö',
  '0802        ': 'ACOMAYO',
  '1802        ': 'GENERAL S√ÅNCHEZ CERRO',
  '0902        ': 'ACOBAMBA',
  '1902        ': 'DANIEL ALCIDES CARRI√ìN',
  '2112        ': 'SANDIA',
  '0212        ': 'HUAYLAS',
  '1312        ': 'VIR√ö',
  '0612        ': 'SAN PABLO',
  '0812        ': 'QUISPICANCHI',
  '1003        ': 'DOS DE MAYO',
  '2003        ': 'HUANCABAMBA',
  '0103        ': 'BONGAR√Å',
  '1103        ': 'NAZCA',
  '2103        ': 'CARABAYA',
  '0203        ': 'ANTONIO RAYMONDI',
  '1203        ': 'CHANCHAMAYO',
  '2203        ': 'EL DORADO',
  '0303        ': 'ANTABAMBA',
  '1303        ': 'BOL√çVAR',
  '2303        ': 'JORGE BASADRE',
  '0403        ': 'CARAVEL√ç',
  '1403        ': 'LAMBAYEQUE',
  '2403        ': 'ZARUMILLA',
  '0503        ': 'HUANCA SANCOS',
  '1503        ': 'CAJATAMBO',
  '2503        ': 'PADRE ABAD',
  '0603        ': 'CELEND√çN',
  '1603        ': 'LORETO',
  '1703        ': 'TAHUAMAN√ö',
  '0803        ': 'ANTA',
  '1803        ': 'ILO',
  '0903        ': 'ANGARAES',
  '1903        ': 'OXAPAMPA',
  '2113        ': 'YUNGUYO',
  '0213        ': 'MARISCAL LUZURIAGA',
  '0613        ': 'SANTA CRUZ',
  '0813        ': 'URUBAMBA',
  '1004        ': 'HUACAYBAMBA',
  '2004        ': 'MORROP√ìN',
  '0104        ': 'CONDORCANQUI',
  '1104        ': 'PALPA',
  '2104        ': 'CHUCUITO',
  '0204        ': 'ASUNCI√ìN',
  '1204        ': 'JAUJA',
  '2204        ': 'HUALLAGA',
  '0304        ': 'AYMARAES',
  '1304        ': 'CHEP√âN',
  '2304        ': 'TARATA',
  '0404        ': 'CASTILLA',
  '0504        ': 'HUANTA',
  '1504        ': 'CANTA',
  '2504        ': 'PUR√öS',
  '0604        ': 'CHOTA',
  '1604        ': 'MARISCAL RAM√ìN CASTILLA',
  '0804        ': 'CALCA',
  '0904        ': 'CASTROVIRREYNA',
  '0214        ': 'OCROS',
  '1005        ': 'HUAMALIES',
  '2005        ': 'PAITA',
  '0105        ': 'LUYA',
  '1105        ': 'PISCO',
  '2105        ': 'EL COLLAO',
  '0205        ': 'BOLOGNESI',
  '1205        ': 'JUN√çN',
  '2205        ': 'LAMAS',
  '0305        ': 'COTABAMBAS',
  '1305        ': 'JULC√ÅN',
  '0405        ': 'CAYLLOMA',
  '0505        ': 'LA MAR',
  '1505        ': 'CA√ëETE',
  '0605        ': 'CONTUMAZ√Å',
  '1605        ': 'REQUENA',
  '0805        ': 'CANAS',
  '0905        ': 'CHURCAMPA',
  '0215        ': 'PALLASCA',
  '1006        ': 'LEONCIO PRADO',
  '2006        ': 'SULLANA',
  '0106        ': 'RODR√çGUEZ DE MENDOZA',
  '2106        ': 'HUANCAN√â',
  '0206        ': 'CARHUAZ',
  '1206        ': 'SATIPO',
  '2206        ': 'MARISCAL C√ÅCERES',
  '0306        ': 'CHINCHEROS',
  '1306        ': 'OTUZCO',
  '0406        ': 'CONDESUYOS',
  '0506        ': 'LUCANAS',
  '1506        ': 'HUARAL',
  '0606        ': 'CUTERVO',
  '1606        ': 'UCAYALI',
  '0806        ': 'CANCHIS',
  '0906        ': 'HUAYTAR√Å',
  '0216        ': 'POMABAMBA',
  '1007        ': 'MARA√ë√ìN',
  '2007        ': 'TALARA',
  '0107        ': 'UTCUBAMBA',
  '2107        ': 'LAMPA',
  '0207        ': 'CARLOS F. FITZCARRALD',
  '1207        ': 'TARMA',
  '2207        ': 'PICOTA',
  '0307        ': 'GRAU',
  '1307        ': 'PACASMAYO',
  '0407        ': 'ISLAY',
  '0507        ': 'PARINACOCHAS',
  '1507        ': 'HUAROCHIR√ç',
  '0607        ': 'HUALGAYOC',
  '0807        ': 'CHUMBIVILCAS',
  '0907        ': 'TAYACAJA',
  '0217        ': 'RECUAY',
  '1008        ': 'PACHITEA',
  '2008        ': 'SECHURA',
  '2108        ': 'MELGAR',
  '0208        ': 'CASMA',
  '1208        ': 'YAULI',
  '2208        ': 'RIOJA',
  '1308        ': 'PATAZ',
  '0408        ': 'LA UNI√ìN',
  '0508        ': 'PAUCAR DEL SARA SARA',
  '1508        ': 'HUAURA',
  '0608        ': 'JA√âN',
  '0808        ': 'ESPINAR',
  '0218        ': 'SANTA',
  '1009        ': 'PUERTO INCA',
  '2109        ': 'MOHO',
  '0209        ': 'CORONGO',
  '1209        ': 'CHUPACA',
  '2209        ': 'SAN MART√çN',
  '1309        ': 'S√ÅNCHEZ CARRI√ìN',
  '0509        ': 'SUCRE',
  '1509        ': 'OY√ìN',
  '0609        ': 'SAN IGNACIO',
  '0809        ': 'LA CONVENCI√ìN',
  '0219        ': 'SIHUAS'},
 'area': {0.0: 'Rural', 1.0: 'Urbana'},
 'region': {1.0: 'Regi√≥n Sur Central',
  2.0: 'Regi√≥n Nor Oriental',
  3.0: 'Regi√≥n Central',
  4.0: 'Lima Metropolitana',
  5.0: 'Sur Andino',
  6.0: 'Regi√≥n Norte'},
 'periodo': {1.0: '80 - 82',
  2.0: '83 - 85',
  3.0: '86 - 88',
  4.0: '89 - 92',
  5.0: '93 - 00'},
 'maegrorc': {1.0: '1 v√≠ctima',
  2.0: '2-4 v√≠ctimas',
  3.0: '5-9 v√≠ctimas',
  4.0: '10-+ v√≠ctimas'},
 'declaran': {0.0: 'No', 1.0: 'S√≠'},
 'lugdet': {1.0: 'Domicilio',
  2.0: 'Domicilio otros',
  3.0: 'Centro de trabajo / estudios (ciudad)',
  4.0: 'Calles / plazas',
  5.0: 'Campo / chacra',
  6.0: 'Camino / carretera (zonas rurales)',
  7.0: 'Otros'},
 'metmue': {1.0: 'Arma de fuego',
  2.0: 'Arma u objeto punzocortante',
  3.0: 'Objetos contundentes o golpes',
  4.0: 'Explosivos / detonaciones',
  5.0: 'Asfixia',
  6.0: 'Otros'},
 'muecirc': {1.0: 'Muerte circunstancial'},
 'muettr': {0.0: 'Muerte no es consecuencia de tortura',
  1.0: 'Muerte es consecuencia de tortura'},
 'dp': {0.0: 'No', 1.0: 'S√≠'},
 'dm': {0.0: 'No', 1.0: 'S√≠'},
 'dj': {0.0: 'No', 1.0: 'S√≠'},
 'pe': {0.0: 'No', 1.0: 'S√≠'},
 'pl': {0.0: 'No', 1.0: 'S√≠'},
 'ot': {0.0: 'No', 1.0: 'S√≠'},
 't01': {0.0: 'No', 1.0: 'S√≠'},
 't02': {0.0: 'No', 1.0: 'S√≠'},
 't03': {0.0: 'No', 1.0: 'S√≠'},
 't04': {0.0: 'No', 1.0: 'S√≠'},
 't05': {0.0: 'No', 1.0: 'S√≠'},
 't06': {0.0: 'No', 1.0: 'S√≠'},
 't07': {0.0: 'No', 1.0: 'S√≠'},
 't08': {0.0: 'No', 1.0: 'S√≠'},
 't09': {0.0: 'No', 1.0: 'S√≠'},
 't10': {0.0: 'No', 1.0: 'S√≠'},
 't11': {0.0: 'No', 1.0: 'S√≠'},
 't12': {0.0: 'No', 1.0: 'S√≠'},
 't13': {0.0: 'No', 1.0: 'S√≠'},
 't14': {0.0: 'No', 1.0: 'S√≠'},
 't15': {0.0: 'No', 1.0: 'S√≠'},
 't16': {0.0: 'No', 1.0: 'S√≠'},
 't90': {0.0: 'No', 1.0: 'S√≠'}}

In [5]:
# Observamos las etiquetas de las variables

varlabels

{'idevento': 'ID DEL EVENTO',
 'idacto': 'ID DEL ACTO',
 'idactor': 'ID DEL ACTOR',
 'idtipoac': 'TIPO DE ACTO',
 'lds_ldt': 'Desaparici√≥n forzada',
 'ldt': 'Detenciones',
 'lrc': 'Reclutamiento Forzado',
 'lse': 'Secuestros',
 'mae': 'Asesinatos/Ejecuciones Extrajudiciales',
 'mat': 'Muertos en atentados',
 'mef': 'Muertos en enfrentamientos',
 'tla': 'Lesiones o Heridas',
 'ttr': 'Tortura',
 'tvs': 'Violaci√≥n Sexual',
 'idperson': 'ID DE LA V√çCTIMA',
 'fechali': 'FECHA L√çMITE INFERIOR',
 'fechals': 'FECHA L√çMITE SUPERIOR',
 'fechamed': 'FECHA MEDIA',
 'ano': 'A√ëO EN EL QUE OCURRIERON LOS HECHOS',
 'sexo': 'SEXO DE LA V√çCTIMA',
 'anonac': 'ANO DE NACIMIENTO',
 'edad': 'EDAD DE LA V√çCTIMA',
 'edadrec': 'GRUPOS DE EDAD',
 'idnivedu': 'NIVEL EDUCATIVO DE LA V√çCTIMA',
 'condalfa': 'CONDICI√ìN DE ALFABETISMO',
 'estaciv': 'ESTADO CIVIL DE LA V√çCTIMA',
 'religion': 'RELIGION DE LA V√çCTIMA',
 'idioma': 'IDIOMA MATERNO DE LA V√çCTIMA',
 'ocupaci0': 'OCUPACI√ìN DE LA V√çCTIMA',
 'organiza': 'TIPO DE ORGANIZACI√ìN - L√çDERES Y DIRIGENTES',
 'ocupacio': 'OCUPACI√ìN DE LA V√çCTIMA',
 'a00': '    FA n.e.',
 'a01': '    Ej√©rcito',
 'a02': '    Fuerza A√©rea',
 'a03': '    Marina',
 'a04': '    Servicio de Inteligencia',
 'ab0': 'Fuerzas del orden n.e.',
 'b00': '    FP n.e.',
 'b01': '    Polic√≠a Nacional',
 'b02': '    Guardia Civil',
 'b03': '    Sinchis',
 'b04': '    Guardia Republicana',
 'b05': '    Llapanatic',
 'b06': '    Polic√≠a de Investigaciones',
 'b07': '    Dircote o Dincote',
 'b08': '    Does',
 'b09': '    Dindes',
 'c00': '    Rondas n.e.',
 'c01': '    Rondas de Defensa Civil',
 'c02': '    Rondas Campesinas',
 'd00': '    Paramilitares n.e.',
 'd01': '    Grupo Paramilitar Rodrigo Franco',
 'd02': '    Grupo Paramilitar Comando Manuel Santana Chiri',
 'd03': '    Grupo Paramilitar Gato',
 'd04': '    Grupo Paramilitar Mata',
 'd05': '    Grupo Paramilitar Pelot√≥n Punitivo Peruano',
 'd06': '    Grupo Colina',
 'e00': 'Organizaciones terroristas n.e.',
 'e01': 'MRTA',
 'e02': 'PCP - SENDERO LUMINOSO',
 'f00': 'CIVILES',
 'g00': 'OTROS',
 'h00': 'SIN DETERMINAR',
 'ortersol': 'Organizaciones terroristas n.e. solas',
 'civisol': 'Civiles solos',
 'otrosol': 'Otros solos',
 'indetsol': 'Indeterminados solos',
 'ffaa': 'TOTAL Fuerzas Armadas',
 'ffpp': 'TOTAL Fuerzas Policiales',
 'cads': 'TOTAL RONDAS O COMIT√âS DE AUTODEFENSA',
 'estado': 'TOTAL AGENTES DEL ESTADO',
 'param': 'TOTAL GRUPOS PARAMILITARES',
 'forden': 'Agentes Estatales n.e.',
 'nodeter': 'NO DETERMINADO',
 'civotr': 'CIVILES Y OTROS',
 'nodetotr': 'NO DETERMINADO Y OTROS',
 'contrasu': 'ESTADO Y FUERZAS CONTRASUBVERSIVAS',
 'ubigeona': 'UBIGEO DEL LUGAR DE NACIMIENTO DE LA V√çCTIMA',
 'depnac': 'LUGAR DE NACIMIENTO DE LA V√çCTIMA',
 'depna0': 'LUGAR DE NACIMIENTO DE LA V√çCTIMA',
 'ubigeo': 'UBIGEO DEL LUGAR DONDE OCURRIERON LOS HECHOS',
 'ubidep': 'DEPARTAMENTO EN EL QUE OCURRIERON LOS HECHOS',
 'dephe0': 'DEPARTAMENTO EN EL QUE OCURRIERON LOS HECHOS',
 'ubiprov': 'PROVINCIA EN LA QUE OCURRIERON LOS HECHOS',
 'ubidist': 'DISTRITO EN EL QUE OCURRIERON LOS HECHOS',
 'area': '√ÅREA URBANA O RURAL',
 'region': 'REGI√ìN EN LA QUE OCURRIERON LOS HECHOS',
 'periodo': 'PER√çODO EN EL QUE OCURRIERON LOS HECHOS',
 'maegroup': 'TAMA√ëO DE GRUPO V√çCTIMAS IDENTIFICADAS',
 'maegrorc': 'TAMA√ëO DE GRUPO V√çCTIMAS IDENTIFICADAS',
 'declaran': 'DECLARANTES V√çCTIMAS',
 'lugdet': 'LUGAR DE DETENCI√ìN',
 'metmue': 'M√âTODO DE MUERTE',
 'muecirc': 'MUERTE CIRCUNSTANCIAL',
 'muettr': 'MUERTE COMO CONSECUENCIA DE TORTURA',
 'dp': 'Dependencia Policial',
 'dm': 'Dependencia Militar',
 'dj': 'Dependencia Judicial',
 'pe': 'Establecimiento penitenciario',
 'pl': 'Plazas p√∫blicas',
 'ot': 'Otros',
 't01': 'Golpes',
 't02': 'Suspensi√≥n / Colgaduras',
 't03': 'Descargas el√©ctricas',
 't04': 'Asfixia / Inmersi√≥n',
 't05': 'Quemaduras',
 't06': 'Cortes / heridas intencionales',
 't07': 'Drogas',
 't08': 'Simulacro de ejecuci√≥n',
 't09': 'Ingestiones forzadas',
 't10': 'Tortura psicol√≥gica',
 't11': 'Inmovilizaciones',
 't12': 'Privaci√≥n temporal de alguno de los sentidos',
 't13': 'Desnudo forzado',
 't14': 'Privaci√≥n del sue√±o',
 't15': 'Privaci√≥n de alimentos',
 't16': 'Privaci√≥n de higiene',
 't90': 'Otras formas de tortura'}

In [145]:
## Otra forma de ver etiquetas de valores y variables:

# Observamos las etiquetas de valores

meta.variable_value_labels

In [144]:
# Observamos las etiquetas de las variables

etiquetasvar = dict(zip(meta.column_names, meta.column_labels))
etiquetasvar

In [6]:
# Filtramos la base de datos seg√∫n los eventos de desaparici√≥n, secuestros, reclutamiento forzado y muertes en atentados

datoscvr = datoscvr[ (datoscvr.IDTIPOAC.isin(["LDS_LDT","LSE","LRC","MAT"]))]
datoscvr = datoscvr[['IDACTO','DEPNA0', 'UBIDIST', 'PERIODO', 'IDTIPOAC', 'LDS_LDT','LSE','LRC','MAT']]
datoscvr

        IDACTO  DEPNA0 UBIDIST  PERIODO IDTIPOAC  LDS_LDT  LSE  LRC  MAT
7      14428.0     9.0  120206      4.0      LSE      0.0  1.0  0.0  0.0
8      14428.0     9.0  120206      4.0      LSE      0.0  1.0  0.0  0.0
9      14428.0     9.0  120206      4.0      LSE      0.0  1.0  0.0  0.0
10     14428.0     9.0  120206      4.0      LSE      0.0  1.0  0.0  0.0
11     14428.0     NaN  120206      4.0      LSE      0.0  1.0  0.0  0.0
...        ...     ...     ...      ...      ...      ...  ...  ...  ...
36003  37029.0     8.0  210806      4.0      LSE      0.0  1.0  0.0  0.0
36004  37029.0     NaN  210806      4.0      LSE      0.0  1.0  0.0  0.0
36005  37029.0     8.0  210806      4.0      LSE      0.0  1.0  0.0  0.0
36006  37029.0     8.0  210806      4.0      LSE      0.0  1.0  0.0  0.0
36013  35060.0     1.0  050505      2.0      LSE      0.0  1.0  0.0  0.0

[4376 rows x 9 columns]

In [7]:
# Renombramos algunas variables

datoscvr.rename(columns = {"DEPNA0": "DEPARTAMENTO",
                           "UBIDIST": "DISTRITO"}, inplace = True)

In [8]:
# Eliminamos valores duplicados de la variable "IDACTO"

datoscvr = datoscvr.drop_duplicates("IDACTO")
datoscvr.reset_index(drop = True, inplace = True)
datoscvr

       IDACTO  DEPARTAMENTO DISTRITO  PERIODO IDTIPOAC  LDS_LDT  LSE  LRC  MAT
0     14428.0           9.0   120206      4.0      LSE      0.0  1.0  0.0  0.0
1     15289.0          90.0   110504      4.0      MAT      0.0  0.0  0.0  1.0
2     21289.0           NaN   110504      4.0      LSE      0.0  1.0  0.0  0.0
3     15506.0           1.0   050406      1.0      LSE      0.0  1.0  0.0  0.0
4     14816.0           5.0   100105      4.0      LSE      0.0  1.0  0.0  0.0
...       ...           ...      ...      ...      ...      ...  ...  ...  ...
2464  36846.0           NaN   250301      4.0      LRC      0.0  0.0  1.0  0.0
2465  35129.0           9.0   120604      4.0      LSE      0.0  1.0  0.0  0.0
2466  37028.0           8.0   210806      4.0      LSE      0.0  1.0  0.0  0.0
2467  37029.0           8.0   210806      4.0      LSE      0.0  1.0  0.0  0.0
2468  35060.0           1.0   050505      2.0      LSE      0.0  1.0  0.0  0.0

[2469 rows x 9 columns]

In [9]:
# Creamos una base de datos que se agrupa por departamento y obtenemos el total de eventos de violencia

EventosxDpto = datoscvr.groupby('DEPARTAMENTO',
                                as_index = False).agg(
                                Total_Desaparici√≥n = ('LDS_LDT', np.sum),
                                Total_Secuestros = ('LSE', np.sum),
                                Total_RecluForza = ('LRC', np.sum),
                                Total_MuAtentados = ('MAT', np.sum))
EventosxDpto

,DEPARTAMENTO,Total_Desaparici√≥n,Total_Secuestros,Total_RecluForza,Total_MuAtentados
0,1.0,0.0,619.0,91.0,15.0
1,2.0,0.0,131.0,31.0,2.0
2,3.0,0.0,103.0,22.0,7.0
3,4.0,0.0,22.0,3.0,0.0
4,5.0,0.0,345.0,57.0,14.0
5,6.0,0.0,25.0,2.0,3.0
6,7.0,0.0,67.0,12.0,8.0
7,8.0,0.0,41.0,5.0,6.0
8,9.0,0.0,211.0,30.0,10.0
9,10.0,0.0,38.0,6.0,10.0
10,90.0,0.0,114.0,14.0,15.0

In [18]:
# Creamos una base de datos que se agrupa por distrito y obtenemos el total de eventos de violencia

EventosxDistr = datoscvr.groupby('DISTRITO',
                                as_index = False).agg(
                                Total_Desaparici√≥n = ('LDS_LDT', np.sum),
                                Total_Secuestros = ('LSE', np.sum),
                                Total_RecluForza = ('LRC', np.sum),
                                Total_MuAtentados = ('MAT', np.sum))
                                
EventosxDistr

,DISTRITO,Total_Desaparici√≥n,Total_Secuestros,Total_RecluForza,Total_MuAtentados
0,010609,0.0,1.0,0.0,0.0
1,020101,0.0,6.0,1.0,0.0
2,020104,0.0,0.0,1.0,0.0
3,020105,0.0,5.0,0.0,0.0
4,020502,0.0,1.0,0.0,0.0
...,...,...,...,...,...
431,250202,0.0,1.0,0.0,0.0
432,250300,0.0,1.0,0.0,0.0
433,250301,0.0,63.0,6.0,0.0
434,250302,0.0,14.0,0.0,0.0
435,250303,0.0,1.0,0.0,0.0

In [206]:
# Creamos una base de datos que se agrupa por departamento y periodo, 
# luego obtenemos el total de eventos de violencia

EventosDyP = datoscvr.groupby(['DEPARTAMENTO','PERIODO'],
                                as_index = False).agg(
                                Total_Desaparici√≥n = ('LDS_LDT', np.sum),
                                Total_Secuestros = ('LSE', np.sum),
                                Total_RecluForza = ('LRC', np.sum),
                                Total_MuAtentados = ('MAT', np.sum))

EventosDyP

,DEPARTAMENTO,PERIODO,Total_Desaparici√≥n,Total_Secuestros,Total_RecluForza,Total_MuAtentados
0,1.0,1.0,0.0,51.0,6.0,1.0
1,1.0,2.0,0.0,336.0,44.0,2.0
2,1.0,3.0,0.0,96.0,12.0,6.0
3,1.0,4.0,0.0,119.0,26.0,6.0
4,1.0,5.0,0.0,17.0,3.0,0.0
5,2.0,1.0,0.0,8.0,1.0,0.0
6,2.0,2.0,0.0,26.0,3.0,0.0
7,2.0,3.0,0.0,44.0,13.0,0.0
8,2.0,4.0,0.0,44.0,11.0,2.0
9,2.0,5.0,0.0,9.0,3.0,0.0
10,3.0,1.0,0.0,4.0,2.0,0.0
11,3.0,2.0,0.0,32.0,8.0,0.0
12,3.0,3.0,0.0,19.0,5.0,1.0
13,3.0,4.0,0.0,41.0,4.0,4.0
14,3.0,5.0,0.0,7.0,3.0,2.0
15,4.0,1.0,0.0,2.0,0.0,0.0
16,4.0,2.0,0.0,9.0,1.0,0.0
17,4.0,3.0,0.0,6.0,0.0,0.0
18,4.0,4.0,0.0,3.0,2.0,0.0
19,4.0,5.0,0.0,2.0,0.0,0.0
20,5.0,1.0,0.0,6.0,1.0,0.0
21,5.0,2.0,0.0,27.0,11.0,0.0
22,5.0,3.0,0.0,69.0,18.0,5.0
23,5.0,4.0,0.0,126.0,17.0,7.0
24,5.0,5.0,0.0,117.0,10.0,2.0
25,6.0,3.0,0.0,2.0,1.0,1.0
26,6.0,4.0,0.0,16.0,1.0,2.0
27,6.0,5.0,0.0,7.0,0.0,0.0
28,7.0,2.0,0.0,1.0,3.0,2.0
29,7.0,3.0,0.0,15.0,2.0,2.0
30,7.0,4.0,0.0,41.0,6.0,3.0
31,7.0,5.0,0.0,10.0,1.0,1.0
32,8.0,2.0,0.0,0.0,0.0,1.0
33,8.0,3.0,0.0,6.0,1.0,1.0
34,8.0,4.0,0.0,29.0,4.0,4.0
35,8.0,5.0,0.0,6.0,0.0,0.0
36,9.0,1.0,0.0,0.0,0.0,1.0
37,9.0,2.0,0.0,7.0,3.0,1.0
38,9.0,3.0,0.0,28.0,7.0,0.0
39,9.0,4.0,0.0,154.0,19.0,6.0
40,9.0,5.0,0.0,22.0,1.0,2.0
41,10.0,1.0,0.0,1.0,0.0,0.0
42,10.0,2.0,0.0,6.0,2.0,0.0
43,10.0,3.0,0.0,6.0,1.0,1.0
44,10.0,4.0,0.0,19.0,3.0,6.0
45,10.0,5.0,0.0,6.0,0.0,3.0
46,90.0,1.0,0.0,3.0,1.0,0.0
47,90.0,2.0,0.0,15.0,1.0,0.0
48,90.0,3.0,0.0,11.0,2.0,3.0
49,90.0,4.0,0.0,63.0,5.0,11.0
50,90.0,5.0,0.0,22.0,5.0,1.0