## Tarea 4
### Datos de la Comisión de la Verdad y Reconciliación (Script en Python)

In [1]:
import os
import pyreadstat
import pandas as pd

os.getcwd() # Para seleccionar mi directorio de trabajo
data1, meta = pyreadstat.read_sav(r'../../data/actos_est.sav', metadataonly=False)
df = pd.DataFrame(data1) # Para poder trabajar con la base necesitamos convertirlo a un data frame

* Mostrar las etiquetas de valor y las etiquetas de las variables

In [2]:
# Etiquetas de valor
print(meta.variable_value_labels)

{'IDTIPOAC': {'LDS': 'Desaparición - continúa desaparecido', 'LDT': 'Detenciones', 'LRC': 'Reclutamiento Forzado', 'LSE': 'Secuestros', 'MAE': 'Asesinatos/Ejecuciones Extrajudiciales', 'MAT': 'Muertos en atentados', 'MEF': 'Muertos en enfrentamientos', 'TLA': 'Lesiones o Heridas', 'TTR': 'Tortura', 'TVS': 'Violación Sexual'}, 'LDS_LDT': {0.0: 'No', 1.0: 'Sí'}, 'LDT': {0.0: 'No', 1.0: 'Sí'}, 'LRC': {0.0: 'No', 1.0: 'Sí'}, 'LSE': {0.0: 'No', 1.0: 'Sí'}, 'MAE': {0.0: 'No', 1.0: 'Sí'}, 'MAT': {0.0: 'No', 1.0: 'Sí'}, 'MEF': {0.0: 'No', 1.0: 'Sí'}, 'TLA': {0.0: 'No', 1.0: 'Sí'}, 'TTR': {0.0: 'No', 1.0: 'Sí'}, 'TVS': {0.0: 'No', 1.0: 'Sí'}, 'ANO': {1980.0: '80', 1981.0: '81', 1982.0: '82', 1983.0: '83', 1984.0: '84', 1985.0: '85', 1986.0: '86', 1987.0: '87', 1988.0: '88', 1989.0: '89', 1990.0: '90', 1991.0: '91', 1992.0: '92', 1993.0: '93', 1994.0: '94', 1995.0: '95', 1996.0: '96', 1997.0: '97', 1998.0: '98', 1999.0: '99', 2000.0: '00'}, 'SEXO': {1.0: 'Femenino', 2.0: 'Masculino'}, 'EDADREC': {1.0: '0 a 9', 2.0: '10 a 19', 3.0: '20 a 29', 4.0: '30 a 39', 5.0: '40 a 49', 6.0: '50 a 59', 7.0: '60 a 69', 8.0: '70 a +'}, 'IDNIVEDU': {1.0: 'Ninguno', 2.0: 'Inicial', 3.0: 'Primaria', 4.0: 'Secundaria', 5.0: 'Superior'}, 'CONDALFA': {1.0: 'No lee ni escribe', 2.0: 'Sí lee y escribe'}, 'ESTACIV': {1.0: 'Soltero(a)', 2.0: 'Casado(a) / Conviviente', 3.0: 'Separado(a) / Divorciado(a)', 4.0: 'Viudo(a)'}, 'RELIGION': {1.0: 'Católica', 2.0: 'Evangélica', 3.0: 'Otras', 4.0: 'Ninguna'}, 'IDIOMA': {1.0: 'Castellano', 2.0: 'Quechua', 3.0: 'Otras lenguas nativas'}, 'OCUPACI0': {1.0: 'Campesinos', 2.0: 'Vendedores y comerciantes', 3.0: 'Profesores', 4.0: 'Amas de casa', 5.0: 'Empleados', 6.0: 'Obreros', 7.0: 'Profesionales e intelectuales', 8.0: 'Autoridades', 9.0: 'Trabajadores independientes', 10.0: 'Fuerzas armadas y policiales', 11.0: 'Estudiantes univers. y de IST', 12.0: 'Otras ocupaciones'}, 'ORGANIZA': {1.0: 'Org. o asoc. de familiares y/o víctimas de la violencia', 2.0: 'Comun. camp. o asoc. de campesinos - Presidente', 3.0: 'Com. camp. o asoc. de campesinos - Miembro de la directiva', 4.0: 'Org. o asoc. campesinas de Apoyo, o por obras determinadas', 5.0: 'Rondas campesinas', 6.0: 'Gremios de campesinos o productores agropecuarios', 7.0: 'Organizaciones o asociaciones de desplazados', 8.0: 'Organizaciones o asociaciones de productores o comerciantes', 9.0: 'Organizaciones políticas', 10.0: 'Sindicatos o federaciones de trabajadores', 11.0: 'Organizaciones de estudiantes universitarios', 12.0: 'Organizaciones gremiales', 13.0: 'Organizaciones vecinales', 14.0: 'Organizaciones asistenciales', 15.0: 'Cooperativas', 16.0: 'Organizaciones o asociaciones de padres de familia', 17.0: 'Organizaciones deportivas y/o recreativas', 18.0: 'Organizaciones o clubes sociales', 19.0: 'Organizaciones Culturales', 20.0: 'Organizaciones Artísticas', 21.0: 'Otras'}, 'OCUPACIO': {1.0: 'Campesinos', 2.0: 'Vendedores y comerciantes', 3.0: 'Profesores', 4.0: 'Amas de casa', 5.0: 'Empleados', 6.0: 'Obreros', 7.0: 'Profesionales e intelectuales', 8.0: 'Autoridades y dirigentes locales', 9.0: 'Trabajadores independientes', 10.0: 'Fuerzas armadas y policiales', 11.0: 'Estudiantes univers. y de IST', 12.0: 'Otras ocupaciones'}, 'A00': {0.0: 'No', 1.0: 'Sí'}, 'A01': {0.0: 'No', 1.0: 'Sí'}, 'A02': {0.0: 'No', 1.0: 'Sí'}, 'A03': {0.0: 'No', 1.0: 'Sí'}, 'A04': {0.0: 'No', 1.0: 'Sí'}, 'AB0': {0.0: 'No', 1.0: 'Sí'}, 'B00': {0.0: 'No', 1.0: 'Sí'}, 'B01': {0.0: 'No', 1.0: 'Sí'}, 'B02': {0.0: 'No', 1.0: 'Sí'}, 'B03': {0.0: 'No', 1.0: 'Sí'}, 'B04': {0.0: 'No', 1.0: 'Sí'}, 'B05': {0.0: 'No', 1.0: 'Sí'}, 'B06': {0.0: 'No', 1.0: 'Sí'}, 'B07': {0.0: 'No', 1.0: 'Sí'}, 'B08': {0.0: 'No', 1.0: 'Sí'}, 'B09': {0.0: 'No', 1.0: 'Sí'}, 'C00': {0.0: 'No', 1.0: 'Sí'}, 'C01': {0.0: 'No', 1.0: 'Sí'}, 'C02': {0.0: 'No', 1.0: 'Sí'}, 'D00': {0.0: 'No', 1.0: 'Sí'}, 'D01': {0.0: 'No', 1.0: 'Sí'}, 'D02': {0.0: 'No', 1.0: 'Sí'}, 'D03': {0.0: 'No', 1.0: 'Sí'}, 'D04': {0.0: 'No', 1.0: 'Sí'}, 'D05': {0.0: 'No', 1.0: 'Sí'}, 'D06': {0.0: 'No', 1.0: 'Sí'}, 'E00': {0.0: 'No', 1.0: 'Sí'}, 'E01': {0.0: 'No', 1.0: 'Sí'}, 'E02': {0.0: 'No', 1.0: 'Sí'}, 'F00': {0.0: 'No', 1.0: 'Sí'}, 'G00': {0.0: 'No', 1.0: 'Sí'}, 'H00': {0.0: 'No', 1.0: 'Sí'}, 'ORTERSOL': {0.0: 'No', 1.0: 'Sí'}, 'CIVISOL': {0.0: 'No', 1.0: 'Sí'}, 'OTROSOL': {0.0: 'No', 1.0: 'Sí'}, 'INDETSOL': {0.0: 'No', 1.0: 'Sí'}, 'FFAA': {0.0: 'No', 1.0: 'Sí'}, 'FFPP': {0.0: 'No', 1.0: 'Sí'}, 'CADS': {0.0: 'No', 1.0: 'Sí'}, 'ESTADO': {0.0: 'No', 1.0: 'Sí'}, 'PARAM': {0.0: 'No', 1.0: 'Sí'}, 'FORDEN': {0.0: 'No', 1.0: 'Sí'}, 'NODETER': {0.0: 'No', 1.0: 'Sí'}, 'CIVOTR': {0.0: 'No', 1.0: 'Sí'}, 'NODETOTR': {0.0: 'No', 1.0: 'Sí'}, 'CONTRASU': {0.0: 'No', 1.0: 'Sí'}, 'DEPNAC': {'': 's.i.', '01': 'AMAZONAS', '02': 'ANCASH', '03': 'APURÍMAC', '04': 'AREQUIPA', '05': 'AYACUCHO', '06': 'CAJAMARCA', '07': 'CALLAO', '08': 'CUSCO', '09': 'HUANCAVELICA', '10': 'HUÁNUCO', '11': 'ICA', '12': 'JUNÍN', '13': 'LA LIBERTAD', '14': 'LAMBAYEQUE', '15': 'LIMA', '16': 'LORETO', '17': 'MADRE DE DIOS', '18': 'MOQUEGUA', '19': 'PASCO', '20': 'PIURA', '21': 'PUNO', '22': 'SAN MARTÍN', '23': 'TACNA', '24': 'TUMBES', '25': 'UCAYALI'}, 'DEPNA0': {1.0: 'AYACUCHO', 2.0: 'APURÍMAC', 3.0: 'HUANCAVELICA', 4.0: 'CUSCO', 5.0: 'HUÁNUCO', 6.0: 'UCAYALI', 7.0: 'SAN MARTÍN', 8.0: 'PUNO', 9.0: 'JUNÍN', 10.0: 'LIMA - CALLAO', 90.0: 'OTROS'}, 'UBIDEP': {'': 's.i.', '01': 'AMAZONAS', '02': 'ANCASH', '03': 'APURÍMAC', '04': 'AREQUIPA', '05': 'AYACUCHO', '06': 'CAJAMARCA', '07': 'CALLAO', '08': 'CUSCO', '09': 'HUANCAVELICA', '10': 'HUÁNUCO', '11': 'ICA', '12': 'JUNÍN', '13': 'LA LIBERTAD', '14': 'LAMBAYEQUE', '15': 'LIMA', '16': 'LORETO', '17': 'MADRE DE DIOS', '18': 'MOQUEGUA', '19': 'PASCO', '20': 'PIURA', '21': 'PUNO', '22': 'SAN MARTÍN', '23': 'TACNA', '24': 'TUMBES', '25': 'UCAYALI'}, 'DEPHE0': {1.0: 'AYACUCHO', 2.0: 'APURÍMAC', 3.0: 'HUANCAVELICA', 4.0: 'CUSCO', 5.0: 'HUÁNUCO', 6.0: 'UCAYALI', 7.0: 'SAN MARTÍN', 8.0: 'PUNO', 9.0: 'JUNÍN', 10.0: 'LIMA - CALLAO', 90.0: 'OTROS'}, 'UBIPROV': {'': 's.i.', '0000': 'n.e.', '0100': 'n.e.', '0101': 'CHACHAPOYAS', '0102': 'BAGUA', '0103': 'BONGARÁ', '0104': 'CONDORCANQUI', '0105': 'LUYA', '0106': 'RODRÍGUEZ DE MENDOZA', '0107': 'UTCUBAMBA', '0200': 'n.e.', '0201': 'HUARAZ', '0202': 'AIJA', '0203': 'ANTONIO RAYMONDI', '0204': 'ASUNCIÓN', '0205': 'BOLOGNESI', '0206': 'CARHUAZ', '0207': 'CARLOS F. FITZCARRALD', '0208': 'CASMA', '0209': 'CORONGO', '0210': 'HUARI', '0211': 'HUARMEY', '0212': 'HUAYLAS', '0213': 'MARISCAL LUZURIAGA', '0214': 'OCROS', '0215': 'PALLASCA', '0216': 'POMABAMBA', '0217': 'RECUAY', '0218': 'SANTA', '0219': 'SIHUAS', '0220': 'YUNGAY', '0300': 'n.e.', '0301': 'ABANCAY', '0302': 'ANDAHUAYLAS', '0303': 'ANTABAMBA', '0304': 'AYMARAES', '0305': 'COTABAMBAS', '0306': 'CHINCHEROS', '0307': 'GRAU', '0400': 'n.e.', '0401': 'AREQUIPA', '0402': 'CAMANÁ', '0403': 'CARAVELÍ', '0404': 'CASTILLA', '0405': 'CAYLLOMA', '0406': 'CONDESUYOS', '0407': 'ISLAY', '0408': 'LA UNIÓN', '0500': 'n.e.', '0501': 'HUAMANGA', '0502': 'CANGALLO', '0503': 'HUANCA SANCOS', '0504': 'HUANTA', '0505': 'LA MAR', '0506': 'LUCANAS', '0507': 'PARINACOCHAS', '0508': 'PAUCAR DEL SARA SARA', '0509': 'SUCRE', '0510': 'VÍCTOR FAJARDO', '0511': 'VILCAS HUAMÁN', '0600': 'n.e.', '0601': 'CAJAMARCA', '0602': 'CAJABAMBA', '0603': 'CELENDÍN', '0604': 'CHOTA', '0605': 'CONTUMAZÁ', '0606': 'CUTERVO', '0607': 'HUALGAYOC', '0608': 'JAÉN', '0609': 'SAN IGNACIO', '0610': 'SAN MARCOS', '0611': 'SAN MIGUEL', '0612': 'SAN PABLO', '0613': 'SANTA CRUZ', '0700': 'n.e.', '0701': 'CALLAO', '0800': 'n.e.', '0801': 'CUSCO', '0802': 'ACOMAYO', '0803': 'ANTA', '0804': 'CALCA', '0805': 'CANAS', '0806': 'CANCHIS', '0807': 'CHUMBIVILCAS', '0808': 'ESPINAR', '0809': 'LA CONVENCIÓN', '0810': 'PARURO', '0811': 'PAUCARTAMBO', '0812': 'QUISPICANCHI', '0813': 'URUBAMBA', '0900': 'n.e.', '0901': 'HUANCAVELICA', '0902': 'ACOBAMBA', '0903': 'ANGARAES', '0904': 'CASTROVIRREYNA', '0905': 'CHURCAMPA', '0906': 'HUAYTARÁ', '0907': 'TAYACAJA', '1000': 'n.e.', '1001': 'HUÁNUCO', '1002': 'AMBO', '1003': 'DOS DE MAYO', '1004': 'HUACAYBAMBA', '1005': 'HUAMALIES', '1006': 'LEONCIO PRADO', '1007': 'MARAÑÓN', '1008': 'PACHITEA', '1009': 'PUERTO INCA', '1010': 'LAURICOCHA', '1011': 'YAROWILCA', '1100': 'n.e.', '1101': 'ICA', '1102': 'CHINCHA', '1103': 'NAZCA', '1104': 'PALPA', '1105': 'PISCO', '1200': 'n.e.', '1201': 'HUANCAYO', '1202': 'CONCEPCIÓN', '1203': 'CHANCHAMAYO', '1204': 'JAUJA', '1205': 'JUNÍN', '1206': 'SATIPO', '1207': 'TARMA', '1208': 'YAULI', '1209': 'CHUPACA', '1300': 'n.e.', '1301': 'TRUJILLO', '1302': 'ASCOPE', '1303': 'BOLÍVAR', '1304': 'CHEPÉN', '1305': 'JULCÁN', '1306': 'OTUZCO', '1307': 'PACASMAYO', '1308': 'PATAZ', '1309': 'SÁNCHEZ CARRIÓN', '1310': 'SANTIAGO DE CHUCO', '1311': 'GRAN CHIMÚ', '1312': 'VIRÚ', '1400': 'n.e.', '1401': 'CHICLAYO', '1402': 'FERREÑAFE', '1403': 'LAMBAYEQUE', '1500': 'n.e.', '1501': 'LIMA', '1502': 'BARRANCA', '1503': 'CAJATAMBO', '1504': 'CANTA', '1505': 'CAÑETE', '1506': 'HUARAL', '1507': 'HUAROCHIRÍ', '1508': 'HUAURA', '1509': 'OYÓN', '1510': 'YAUYOS', '1600': 'n.e.', '1601': 'MAYNAS', '1602': 'ALTO AMAZONAS', '1603': 'LORETO', '1604': 'MARISCAL RAMÓN CASTILLA', '1605': 'REQUENA', '1606': 'UCAYALI', '1700': 'n.e.', '1701': 'TAMBOPATA', '1702': 'MANÚ', '1703': 'TAHUAMANÚ', '1800': 'n.e.', '1801': 'MARISCAL NIETO', '1802': 'GENERAL SÁNCHEZ CERRO', '1803': 'ILO', '1900': 'n.e.', '1901': 'PASCO', '1902': 'DANIEL ALCIDES CARRIÓN', '1903': 'OXAPAMPA', '2000': 'n.e.', '2001': 'PIURA', '2002': 'AYABACA', '2003': 'HUANCABAMBA', '2004': 'MORROPÓN', '2005': 'PAITA', '2006': 'SULLANA', '2007': 'TALARA', '2008': 'SECHURA', '2100': 'n.e.', '2101': 'PUNO', '2102': 'AZÁNGARO', '2103': 'CARABAYA', '2104': 'CHUCUITO', '2105': 'EL COLLAO', '2106': 'HUANCANÉ', '2107': 'LAMPA', '2108': 'MELGAR', '2109': 'MOHO', '2110': 'SAN ANTONIO DE PUTINA', '2111': 'SAN ROMÁN', '2112': 'SANDIA', '2113': 'YUNGUYO', '2200': 'n.e.', '2201': 'MOYOBAMBA', '2202': 'BELLAVISTA', '2203': 'EL DORADO', '2204': 'HUALLAGA', '2205': 'LAMAS', '2206': 'MARISCAL CÁCERES', '2207': 'PICOTA', '2208': 'RIOJA', '2209': 'SAN MARTÍN', '2210': 'TOCACHE', '2300': 'n.e.', '2301': 'TACNA', '2302': 'CANDARAVE', '2303': 'JORGE BASADRE', '2304': 'TARATA', '2400': 'n.e.', '2401': 'TUMBES', '2402': 'CONTRALMIRANTE VILLAR', '2403': 'ZARUMILLA', '2500': 'n.e.', '2501': 'CORONEL PORTILLO', '2502': 'ATALAYA', '2503': 'PADRE ABAD', '2504': 'PURÚS'}, 'AREA': {0.0: 'Rural', 1.0: 'Urbana'}, 'REGION': {1.0: 'Región Sur Central', 2.0: 'Región Nor Oriental', 3.0: 'Región Central', 4.0: 'Lima Metropolitana', 5.0: 'Sur Andino', 6.0: 'Región Norte'}, 'PERIODO': {1.0: '80 - 82', 2.0: '83 - 85', 3.0: '86 - 88', 4.0: '89 - 92', 5.0: '93 - 00'}, 'MAEGRORC': {1.0: '1 víctima', 2.0: '2-4 víctimas', 3.0: '5-9 víctimas', 4.0: '10-+ víctimas'}, 'DECLARAN': {0.0: 'No', 1.0: 'Sí'}, 'LUGDET': {1.0: 'Domicilio', 2.0: 'Domicilio otros', 3.0: 'Centro de trabajo / estudios (ciudad)', 4.0: 'Calles / plazas', 5.0: 'Campo / chacra', 6.0: 'Camino / carretera (zonas rurales)', 7.0: 'Otros'}, 'METMUE': {1.0: 'Arma de fuego', 2.0: 'Arma u objeto punzocortante', 3.0: 'Objetos contundentes o golpes', 4.0: 'Explosivos / detonaciones', 5.0: 'Asfixia', 6.0: 'Otros'}, 'MUECIRC': {1.0: 'Muerte circunstancial'}, 'MUETTR': {0.0: 'Muerte no es consecuencia de tortura', 1.0: 'Muerte es consecuencia de tortura'}, 'DP': {0.0: 'No', 1.0: 'Sí'}, 'DM': {0.0: 'No', 1.0: 'Sí'}, 'DJ': {0.0: 'No', 1.0: 'Sí'}, 'PE': {0.0: 'No', 1.0: 'Sí'}, 'PL': {0.0: 'No', 1.0: 'Sí'}, 'OT': {0.0: 'No', 1.0: 'Sí'}, 'T01': {0.0: 'No', 1.0: 'Sí'}, 'T02': {0.0: 'No', 1.0: 'Sí'}, 'T03': {0.0: 'No', 1.0: 'Sí'}, 'T04': {0.0: 'No', 1.0: 'Sí'}, 'T05': {0.0: 'No', 1.0: 'Sí'}, 'T06': {0.0: 'No', 1.0: 'Sí'}, 'T07': {0.0: 'No', 1.0: 'Sí'}, 'T08': {0.0: 'No', 1.0: 'Sí'}, 'T09': {0.0: 'No', 1.0: 'Sí'}, 'T10': {0.0: 'No', 1.0: 'Sí'}, 'T11': {0.0: 'No', 1.0: 'Sí'}, 'T12': {0.0: 'No', 1.0: 'Sí'}, 'T13': {0.0: 'No', 1.0: 'Sí'}, 'T14': {0.0: 'No', 1.0: 'Sí'}, 'T15': {0.0: 'No', 1.0: 'Sí'}, 'T16': {0.0: 'No', 1.0: 'Sí'}, 'T90': {0.0: 'No', 1.0: 'Sí'}}

In [3]:
# Etiquetas de variables
print(meta.column_names_to_labels)

{'IDEVENTO': 'ID DEL EVENTO', 'IDACTO': 'ID DEL ACTO', 'IDACTOR': 'ID DEL ACTOR', 'IDTIPOAC': 'TIPO DE ACTO', 'LDS_LDT': 'Desaparición forzada', 'LDT': 'Detenciones', 'LRC': 'Reclutamiento Forzado', 'LSE': 'Secuestros', 'MAE': 'Asesinatos/Ejecuciones Extrajudiciales', 'MAT': 'Muertos en atentados', 'MEF': 'Muertos en enfrentamientos', 'TLA': 'Lesiones o Heridas', 'TTR': 'Tortura', 'TVS': 'Violación Sexual', 'IDPERSON': 'ID DE LA VÍCTIMA', 'FECHALI': 'FECHA LÍMITE INFERIOR', 'FECHALS': 'FECHA LÍMITE SUPERIOR', 'FECHAMED': 'FECHA MEDIA', 'ANO': 'AÑO EN EL QUE OCURRIERON LOS HECHOS', 'SEXO': 'SEXO DE LA VÍCTIMA', 'ANONAC': 'ANO DE NACIMIENTO', 'EDAD': 'EDAD DE LA VÍCTIMA', 'EDADREC': 'GRUPOS DE EDAD', 'IDNIVEDU': 'NIVEL EDUCATIVO DE LA VÍCTIMA', 'CONDALFA': 'CONDICIÓN DE ALFABETISMO', 'ESTACIV': 'ESTADO CIVIL DE LA VÍCTIMA', 'RELIGION': 'RELIGION DE LA VÍCTIMA', 'IDIOMA': 'IDIOMA MATERNO DE LA VÍCTIMA', 'OCUPACI0': 'OCUPACIÓN DE LA VÍCTIMA', 'ORGANIZA': 'TIPO DE ORGANIZACIÓN - LÍDERES Y DIRIGENTES', 'OCUPACIO': 'OCUPACIÓN DE LA VÍCTIMA', 'A00': '    FA n.e.', 'A01': '    Ejército', 'A02': '    Fuerza Aérea', 'A03': '    Marina', 'A04': '    Servicio de Inteligencia', 'AB0': 'Fuerzas del orden n.e.', 'B00': '    FP n.e.', 'B01': '    Policía Nacional', 'B02': '    Guardia Civil', 'B03': '    Sinchis', 'B04': '    Guardia Republicana', 'B05': '    Llapanatic', 'B06': '    Policía de Investigaciones', 'B07': '    Dircote o Dincote', 'B08': '    Does', 'B09': '    Dindes', 'C00': '    Rondas n.e.', 'C01': '    Rondas de Defensa Civil', 'C02': '    Rondas Campesinas', 'D00': '    Paramilitares n.e.', 'D01': '    Grupo Paramilitar Rodrigo Franco', 'D02': '    Grupo Paramilitar Comando Manuel Santana Chiri', 'D03': '    Grupo Paramilitar Gato', 'D04': '    Grupo Paramilitar Mata', 'D05': '    Grupo Paramilitar Pelotón Punitivo Peruano', 'D06': '    Grupo Colina', 'E00': 'Organizaciones terroristas n.e.', 'E01': 'MRTA', 'E02': 'PCP - SENDERO LUMINOSO', 'F00': 'CIVILES', 'G00': 'OTROS', 'H00': 'SIN DETERMINAR', 'ORTERSOL': 'Organizaciones terroristas n.e. solas', 'CIVISOL': 'Civiles solos', 'OTROSOL': 'Otros solos', 'INDETSOL': 'Indeterminados solos', 'FFAA': 'TOTAL Fuerzas Armadas', 'FFPP': 'TOTAL Fuerzas Policiales', 'CADS': 'TOTAL RONDAS O COMITÉS DE AUTODEFENSA', 'ESTADO': 'TOTAL AGENTES DEL ESTADO', 'PARAM': 'TOTAL GRUPOS PARAMILITARES', 'FORDEN': 'Agentes Estatales n.e.', 'NODETER': 'NO DETERMINADO', 'CIVOTR': 'CIVILES Y OTROS', 'NODETOTR': 'NO DETERMINADO Y OTROS', 'CONTRASU': 'ESTADO Y FUERZAS CONTRASUBVERSIVAS', 'UBIGEONA': 'UBIGEO DEL LUGAR DE NACIMIENTO DE LA VÍCTIMA', 'DEPNAC': 'LUGAR DE NACIMIENTO DE LA VÍCTIMA', 'DEPNA0': 'LUGAR DE NACIMIENTO DE LA VÍCTIMA', 'UBIGEO': 'UBIGEO DEL LUGAR DONDE OCURRIERON LOS HECHOS', 'UBIDEP': 'DEPARTAMENTO EN EL QUE OCURRIERON LOS HECHOS', 'DEPHE0': 'DEPARTAMENTO EN EL QUE OCURRIERON LOS HECHOS', 'UBIPROV': 'PROVINCIA EN LA QUE OCURRIERON LOS HECHOS', 'UBIDIST': 'DISTRITO EN EL QUE OCURRIERON LOS HECHOS', 'AREA': 'ÁREA URBANA O RURAL', 'REGION': 'REGIÓN EN LA QUE OCURRIERON LOS HECHOS', 'PERIODO': 'PERÍODO EN EL QUE OCURRIERON LOS HECHOS', 'MAEGROUP': 'TAMAÑO DE GRUPO VÍCTIMAS IDENTIFICADAS', 'MAEGRORC': 'TAMAÑO DE GRUPO VÍCTIMAS IDENTIFICADAS', 'DECLARAN': 'DECLARANTES VÍCTIMAS', 'LUGDET': 'LUGAR DE DETENCIÓN', 'METMUE': 'MÉTODO DE MUERTE', 'MUECIRC': 'MUERTE CIRCUNSTANCIAL', 'MUETTR': 'MUERTE COMO CONSECUENCIA DE TORTURA', 'DP': 'Dependencia Policial', 'DM': 'Dependencia Militar', 'DJ': 'Dependencia Judicial', 'PE': 'Establecimiento penitenciario', 'PL': 'Plazas públicas', 'OT': 'Otros', 'T01': 'Golpes', 'T02': 'Suspensión / Colgaduras', 'T03': 'Descargas eléctricas', 'T04': 'Asfixia / Inmersión', 'T05': 'Quemaduras', 'T06': 'Cortes / heridas intencionales', 'T07': 'Drogas', 'T08': 'Simulacro de ejecución', 'T09': 'Ingestiones forzadas', 'T10': 'Tortura psicológica', 'T11': 'Inmovilizaciones', 'T12': 'Privación temporal de alguno de los sentidos', 'T13': 'Desnudo forzado', 'T14': 'Privación del sueño', 'T15': 'Privación de alimentos', 'T16': 'Privación de higiene', 'T90': 'Otras formas de tortura'}

* Filtrar la base de datos según los siguientes tipos de eventos: desaparición, secuestros, reclutamiento forzado y muertes en atentados.

In [4]:
# Creamos filtro1 para filtrar data1 considerando los tipos de eventos de violencia mencionados
filtro1 = data1[(data1['IDTIPOAC'] == 'LDS') | (data1['IDTIPOAC'] == 'LSE') | 
                (data1['IDTIPOAC'] == 'LRC') | (data1['IDTIPOAC'] == 'MAT')]
filtro1

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000001,14867.0,54406.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000001,14867.0,54407.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,1000003,14837.0,54227.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1000004,14996.0,54905.0,LDS,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,1000005,14428.0,52785.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36003,1015706,37029.0,123646.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36004,1015706,37029.0,123647.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36005,1015706,37029.0,123648.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36006,1015706,37029.0,123649.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36013,1016674,35060.0,116898.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

* Borrar los duplicados de la columna **(IDACTO)**

In [5]:
idacto_sd = data1['IDACTO'].drop_duplicates().to_frame()
idacto_sd

        IDACTO
0      14867.0
2      20535.0
4      14834.0
5      14837.0
6      14996.0
...        ...
36014  13183.0
36015    630.0
36016    632.0
36017    640.0
36018    644.0

[20534 rows x 1 columns]

Dado lo anterior generar lo siguiente:

* Crear una base de datos con el total de eventos de violencia según su tipo a nivel departamento **(DEPNA0)**. La base de datos debe contar con columnas según el tipo de evento.

In [10]:
import pandas as pd
import numpy as np

#Creamos data2 que contenga los eventos de violencia según su tipo y también le cambiamos el nombre de las columnas
data2 = data1.groupby('DEPNA0').agg({
    'LDS_LDT': np.sum,
    'LSE': np.sum,
    'LRC': np.sum,
    'MAT': np.sum
}).rename(columns={
    'LDS_LDT': 'Desaparición',
    'LSE': 'Secuestros',
    'LRC': 'Reclutamiento_fozad0',
    'MAT': 'Muertes_en_atentados'
}).reset_index()
data2['DEPNA0'] = data2['DEPNA0'].replace([1,2,3,4,5,6,7,8,9,10,90], ["Ayacucho","Apurímac","Huancavelica","Cusco", "Huánuco", "Ucayali", "San Martín","Puno", "Junín", "Lima/Callao", "Otros"])
data2

,DEPNA0,Desaparición,Secuestros,Reclutamiento_fozad0,Muertes_en_atentados
0,Ayacucho,1822.0,1016.0,135.0,27.0
1,Apurímac,224.0,177.0,46.0,2.0
2,Huancavelica,274.0,149.0,32.0,7.0
3,Cusco,54.0,58.0,5.0,0.0
4,Huánuco,654.0,419.0,64.0,16.0
5,Ucayali,54.0,28.0,2.0,5.0
6,San Martín,176.0,85.0,15.0,9.0
7,Puno,60.0,69.0,6.0,6.0
8,Junín,379.0,382.0,57.0,12.0
9,Lima/Callao,99.0,50.0,6.0,11.0
10,Otros,213.0,160.0,18.0,28.0

* Crear una base de datos con el total de eventos de violencia según su tipo a nivel distrito (UBIDIST). La base de datos debe tener tantas columnas por tipo de evento. Adicionlamente, crear variables con el logaritmo del total de eventos. Apoyese de las variables dummy por cada tipo de evento que está en la base de datos.

In [7]:
# Agrupamos con groupby por UBIDIST y cambiamos el nombre de las columnas para identificar el tipo de evento
data3 = data1.groupby('UBIDIST').agg({'LDS_LDT': 'sum', 'LSE': 'sum', 'LRC': 'sum', 'MAT': 'sum'})
data3 = data3.rename(columns={'LDS_LDT': 'Desaparición', 'LSE': 'Secuestros', 'LRC': 'Reclutamiento_fozado', 'MAT': 'Muertes_en_atentados'})

# Ahora creamos la variable Total_Eventos que contenga la suma
data3['Total_Eventos'] = data3.sum(axis=1)

In [8]:
# Como ya creamos esta columna, ahora la utilizamos para crear una nueva columna que contenga el logaritmo de los valores de Total_Eventos
data3['log_Total_Eventos'] = np.log(data3['Total_Eventos'])
data3

C:\Users\requi\anaconda3\lib\site-packages\pandas\core\arraylike.py:397: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,Desaparición,Secuestros,Reclutamiento_fozado,Muertes_en_atentados,Total_Eventos,log_Total_Eventos
UBIDIST,,,,,,
010201,1.0,0.0,0.0,0.0,1.0,0.000000
010301,0.0,0.0,0.0,0.0,0.0,-inf
010403,0.0,0.0,0.0,0.0,0.0,-inf
010502,0.0,0.0,0.0,0.0,0.0,-inf
010509,0.0,0.0,0.0,0.0,0.0,-inf
...,...,...,...,...,...,...
250203,1.0,0.0,0.0,0.0,1.0,0.000000
250300,1.0,1.0,0.0,0.0,2.0,0.693147
250301,124.0,71.0,7.0,0.0,202.0,5.308268
250302,35.0,19.0,0.0,0.0,54.0,3.988984
250303,1.0,1.0,0.0,0.0,2.0,0.693147

* Crear una base de datos con el total de eventos de violencia según su tipo a nivel departamento **(DEPNAO)** y periodo **(PERIODO)**. La base de datos debe contar con columnas según el tipo de evento.

In [9]:
# Agrupamos con groupby DEPNA0 y Periodo
data4 = data1.groupby(['DEPNA0', 'PERIODO']).agg({'LDS_LDT':'sum', 'LSE':'sum', 'LRC':'sum', 'MAT':'sum'}).reset_index().rename(columns={'LDS_LDT':'Desaparición', 'LSE':'Secuestros', 'LRC':'Reclutamiento_fozado', 'MAT':'Muertes_en_atentados'})

#Ahora cambiamos las etiquetas de los valores de DEPNA0 y PERIODO según la información del PDF
data4['DEPNA0'] = data4['DEPNA0'].replace([1,2,3,4,5,6,7,8,9,10,90], ["Ayacucho","Apurímac","Huancavelica","Cusco", "Huánuco", "Ucayali", "San Martín","Puno", "Junín", "Lima/Callao", "Otros"])
data4['PERIODO'] = data4['PERIODO'].replace([1,2,3,4,5], ["80 - 82","83 - 85","86 - 88", "89 - 92", "93 - 00"])
data4

,DEPNA0,PERIODO,Desaparición,Secuestros,Reclutamiento_fozado,Muertes_en_atentados
0,Ayacucho,80 - 82,58.0,63.0,16.0,1.0
1,Ayacucho,83 - 85,1202.0,553.0,69.0,2.0
2,Ayacucho,86 - 88,232.0,138.0,12.0,9.0
3,Ayacucho,89 - 92,295.0,236.0,35.0,14.0
4,Ayacucho,93 - 00,35.0,26.0,3.0,1.0
5,Apurímac,80 - 82,9.0,10.0,1.0,0.0
6,Apurímac,83 - 85,43.0,33.0,3.0,0.0
7,Apurímac,86 - 88,87.0,58.0,21.0,0.0
8,Apurímac,89 - 92,64.0,61.0,18.0,2.0
9,Apurímac,93 - 00,21.0,15.0,3.0,0.0
10,Huancavelica,80 - 82,3.0,4.0,2.0,0.0
11,Huancavelica,83 - 85,81.0,46.0,12.0,0.0
12,Huancavelica,86 - 88,28.0,25.0,6.0,1.0
13,Huancavelica,89 - 92,151.0,63.0,8.0,4.0
14,Huancavelica,93 - 00,11.0,11.0,4.0,2.0
15,Cusco,80 - 82,1.0,2.0,0.0,0.0
16,Cusco,83 - 85,16.0,22.0,1.0,0.0
17,Cusco,86 - 88,10.0,19.0,0.0,0.0
18,Cusco,89 - 92,24.0,11.0,4.0,0.0
19,Cusco,93 - 00,3.0,4.0,0.0,0.0
20,Huánuco,80 - 82,4.0,6.0,2.0,0.0
21,Huánuco,83 - 85,62.0,30.0,12.0,0.0
22,Huánuco,86 - 88,93.0,84.0,20.0,7.0
23,Huánuco,89 - 92,309.0,159.0,20.0,7.0
24,Huánuco,93 - 00,186.0,140.0,10.0,2.0
25,Ucayali,83 - 85,0.0,0.0,0.0,0.0
26,Ucayali,86 - 88,3.0,2.0,1.0,1.0
27,Ucayali,89 - 92,44.0,19.0,1.0,4.0
28,Ucayali,93 - 00,7.0,7.0,0.0,0.0
29,San Martín,80 - 82,0.0,0.0,0.0,0.0
30,San Martín,83 - 85,2.0,1.0,5.0,2.0
31,San Martín,86 - 88,29.0,16.0,2.0,2.0
32,San Martín,89 - 92,128.0,56.0,7.0,4.0
33,San Martín,93 - 00,17.0,12.0,1.0,1.0
34,Puno,80 - 82,0.0,0.0,0.0,0.0
35,Puno,83 - 85,2.0,0.0,0.0,1.0
36,Puno,86 - 88,11.0,12.0,1.0,1.0
37,Puno,89 - 92,41.0,47.0,5.0,4.0
38,Puno,93 - 00,6.0,10.0,0.0,0.0
39,Junín,80 - 82,1.0,1.0,0.0,1.0
40,Junín,83 - 85,8.0,8.0,3.0,1.0
41,Junín,86 - 88,36.0,50.0,12.0,0.0
42,Junín,89 - 92,303.0,294.0,41.0,8.0
43,Junín,93 - 00,31.0,29.0,1.0,2.0
44,Lima/Callao,80 - 82,0.0,1.0,0.0,0.0
45,Lima/Callao,83 - 85,20.0,7.0,2.0,0.0
46,Lima/Callao,86 - 88,6.0,10.0,1.0,1.0
47,Lima/Callao,89 - 92,56.0,26.0,3.0,7.0
48,Lima/Callao,93 - 00,17.0,6.0,0.0,3.0
49,Otros,80 - 82,2.0,3.0,1.0,0.0
50,Otros,83 - 85,16.0,20.0,1.0,0.0
51,Otros,86 - 88,15.0,14.0,3.0,5.0
52,Otros,89 - 92,143.0,92.0,8.0,22.0
53,Otros,93 - 00,37.0,31.0,5.0,1.0