# TAREA 4
### Integrantes:
##### Narumi Miyamoto
##### Rodrigo Cervera
##### Alicia Chaquila

In [1]:
## Datos de la Comisión de la Verdad y Reconciliación
# instalamos la libreria que usaremos
!pip install pyreadstat

Requirement already satisfied: pyreadstat in c:\users\nmiyamoto\appdata\local\anaconda3\lib\site-packages (1.2.1)
Requirement already satisfied: pandas>=1.2.0 in c:\users\nmiyamoto\appdata\local\anaconda3\lib\site-packages (from pyreadstat) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\nmiyamoto\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\nmiyamoto\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.23.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\nmiyamoto\appdata\local\anaconda3\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\nmiyamoto\appdata\local\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas>=1.2.0->pyreadstat) (1.16.0)

In [2]:
# se importaron las librerías que utilizaremos
import pandas as pd
import numpy as np
import os
import pyreadstat

# se leyó la base de datos del spss
pd.read_spss(r"C:\Users\nmiyamoto\Documents\GitHub\1ECO35_2023_1\data\actos_est.sav")

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000001,14867.0,54406.0,Desaparición - continúa desaparecido,Sí,No,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000001,14867.0,54407.0,Desaparición - continúa desaparecido,Sí,No,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000001,20535.0,74109.0,Detenciones,No,Sí,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000001,20535.0,74110.0,Detenciones,No,Sí,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000003,14834.0,54220.0,Detenciones,No,Sí,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36014,1200682,13183.0,48743.0,Asesinatos/Ejecuciones Extrajudiciales,No,No,No,No,Sí,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36015,1991433,630.0,2473.0,Detenciones,No,Sí,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36016,1991433,632.0,2478.0,Tortura,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,No,No
36017,1991433,640.0,2509.0,Asesinatos/Ejecuciones Extrajudiciales,Sí,No,No,No,Sí,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36018,1991433,644.0,2528.0,Detenciones,No,Sí,No,No,No,No,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# se mostrarán la información sobre las variables y los metadatos
datospss, meta =  pyreadstat.read_sav(r"C:\Users\nmiyamoto\Documents\GitHub\1ECO35_2023_1\data\actos_est.sav")
datospss

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000001,14867.0,54406.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000001,14867.0,54407.0,LDS,1.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000001,20535.0,74109.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000001,20535.0,74110.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000003,14834.0,54220.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36014,1200682,13183.0,48743.0,MAE,0.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36015,1991433,630.0,2473.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36016,1991433,632.0,2478.0,TTR,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
36017,1991433,640.0,2509.0,MAE,1.0,0.0,0.0,0.0,1.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36018,1991433,644.0,2528.0,LDT,0.0,1.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# se mostrarán las etiquetas
var_labels = dict(zip(meta.column_names, meta.column_labels))
var_labels

{'IDEVENTO': 'ID DEL EVENTO',
 'IDACTO': 'ID DEL ACTO',
 'IDACTOR': 'ID DEL ACTOR',
 'IDTIPOAC': 'TIPO DE ACTO',
 'LDS_LDT': 'Desaparición forzada',
 'LDT': 'Detenciones',
 'LRC': 'Reclutamiento Forzado',
 'LSE': 'Secuestros',
 'MAE': 'Asesinatos/Ejecuciones Extrajudiciales',
 'MAT': 'Muertos en atentados',
 'MEF': 'Muertos en enfrentamientos',
 'TLA': 'Lesiones o Heridas',
 'TTR': 'Tortura',
 'TVS': 'Violación Sexual',
 'IDPERSON': 'ID DE LA VÍCTIMA',
 'FECHALI': 'FECHA LÍMITE INFERIOR',
 'FECHALS': 'FECHA LÍMITE SUPERIOR',
 'FECHAMED': 'FECHA MEDIA',
 'ANO': 'AÑO EN EL QUE OCURRIERON LOS HECHOS',
 'SEXO': 'SEXO DE LA VÍCTIMA',
 'ANONAC': 'ANO DE NACIMIENTO',
 'EDAD': 'EDAD DE LA VÍCTIMA',
 'EDADREC': 'GRUPOS DE EDAD',
 'IDNIVEDU': 'NIVEL EDUCATIVO DE LA VÍCTIMA',
 'CONDALFA': 'CONDICIÓN DE ALFABETISMO',
 'ESTACIV': 'ESTADO CIVIL DE LA VÍCTIMA',
 'RELIGION': 'RELIGION DE LA VÍCTIMA',
 'IDIOMA': 'IDIOMA MATERNO DE LA VÍCTIMA',
 'OCUPACI0': 'OCUPACIÓN DE LA VÍCTIMA',
 'ORGANIZA': 'TIPO DE ORGANIZACIÓN - LÍDERES Y DIRIGENTES',
 'OCUPACIO': 'OCUPACIÓN DE LA VÍCTIMA',
 'A00': '    FA n.e.',
 'A01': '    Ejército',
 'A02': '    Fuerza Aérea',
 'A03': '    Marina',
 'A04': '    Servicio de Inteligencia',
 'AB0': 'Fuerzas del orden n.e.',
 'B00': '    FP n.e.',
 'B01': '    Policía Nacional',
 'B02': '    Guardia Civil',
 'B03': '    Sinchis',
 'B04': '    Guardia Republicana',
 'B05': '    Llapanatic',
 'B06': '    Policía de Investigaciones',
 'B07': '    Dircote o Dincote',
 'B08': '    Does',
 'B09': '    Dindes',
 'C00': '    Rondas n.e.',
 'C01': '    Rondas de Defensa Civil',
 'C02': '    Rondas Campesinas',
 'D00': '    Paramilitares n.e.',
 'D01': '    Grupo Paramilitar Rodrigo Franco',
 'D02': '    Grupo Paramilitar Comando Manuel Santana Chiri',
 'D03': '    Grupo Paramilitar Gato',
 'D04': '    Grupo Paramilitar Mata',
 'D05': '    Grupo Paramilitar Pelotón Punitivo Peruano',
 'D06': '    Grupo Colina',
 'E00': 'Organizaciones terroristas n.e.',
 'E01': 'MRTA',
 'E02': 'PCP - SENDERO LUMINOSO',
 'F00': 'CIVILES',
 'G00': 'OTROS',
 'H00': 'SIN DETERMINAR',
 'ORTERSOL': 'Organizaciones terroristas n.e. solas',
 'CIVISOL': 'Civiles solos',
 'OTROSOL': 'Otros solos',
 'INDETSOL': 'Indeterminados solos',
 'FFAA': 'TOTAL Fuerzas Armadas',
 'FFPP': 'TOTAL Fuerzas Policiales',
 'CADS': 'TOTAL RONDAS O COMITÉS DE AUTODEFENSA',
 'ESTADO': 'TOTAL AGENTES DEL ESTADO',
 'PARAM': 'TOTAL GRUPOS PARAMILITARES',
 'FORDEN': 'Agentes Estatales n.e.',
 'NODETER': 'NO DETERMINADO',
 'CIVOTR': 'CIVILES Y OTROS',
 'NODETOTR': 'NO DETERMINADO Y OTROS',
 'CONTRASU': 'ESTADO Y FUERZAS CONTRASUBVERSIVAS',
 'UBIGEONA': 'UBIGEO DEL LUGAR DE NACIMIENTO DE LA VÍCTIMA',
 'DEPNAC': 'LUGAR DE NACIMIENTO DE LA VÍCTIMA',
 'DEPNA0': 'LUGAR DE NACIMIENTO DE LA VÍCTIMA',
 'UBIGEO': 'UBIGEO DEL LUGAR DONDE OCURRIERON LOS HECHOS',
 'UBIDEP': 'DEPARTAMENTO EN EL QUE OCURRIERON LOS HECHOS',
 'DEPHE0': 'DEPARTAMENTO EN EL QUE OCURRIERON LOS HECHOS',
 'UBIPROV': 'PROVINCIA EN LA QUE OCURRIERON LOS HECHOS',
 'UBIDIST': 'DISTRITO EN EL QUE OCURRIERON LOS HECHOS',
 'AREA': 'ÁREA URBANA O RURAL',
 'REGION': 'REGIÓN EN LA QUE OCURRIERON LOS HECHOS',
 'PERIODO': 'PERÍODO EN EL QUE OCURRIERON LOS HECHOS',
 'MAEGROUP': 'TAMAÑO DE GRUPO VÍCTIMAS IDENTIFICADAS',
 'MAEGRORC': 'TAMAÑO DE GRUPO VÍCTIMAS IDENTIFICADAS',
 'DECLARAN': 'DECLARANTES VÍCTIMAS',
 'LUGDET': 'LUGAR DE DETENCIÓN',
 'METMUE': 'MÉTODO DE MUERTE',
 'MUECIRC': 'MUERTE CIRCUNSTANCIAL',
 'MUETTR': 'MUERTE COMO CONSECUENCIA DE TORTURA',
 'DP': 'Dependencia Policial',
 'DM': 'Dependencia Militar',
 'DJ': 'Dependencia Judicial',
 'PE': 'Establecimiento penitenciario',
 'PL': 'Plazas públicas',
 'OT': 'Otros',
 'T01': 'Golpes',
 'T02': 'Suspensión / Colgaduras',
 'T03': 'Descargas eléctricas',
 'T04': 'Asfixia / Inmersión',
 'T05': 'Quemaduras',
 'T06': 'Cortes / heridas intencionales',
 'T07': 'Drogas',
 'T08': 'Simulacro de ejecución',
 'T09': 'Ingestiones forzadas',
 'T10': 'Tortura psicológica',
 'T11': 'Inmovilizaciones',
 'T12': 'Privación temporal de alguno de los sentidos',
 'T13': 'Desnudo forzado',
 'T14': 'Privación del sueño',
 'T15': 'Privación de alimentos',
 'T16': 'Privación de higiene',
 'T90': 'Otras formas de tortura'}

In [5]:
# se mostrarán la información de los valores para cada etiqueta
meta.variable_value_labels

{'IDTIPOAC': {'LDS': 'Desaparición - continúa desaparecido',
  'LDT': 'Detenciones',
  'LRC': 'Reclutamiento Forzado',
  'LSE': 'Secuestros',
  'MAE': 'Asesinatos/Ejecuciones Extrajudiciales',
  'MAT': 'Muertos en atentados',
  'MEF': 'Muertos en enfrentamientos',
  'TLA': 'Lesiones o Heridas',
  'TTR': 'Tortura',
  'TVS': 'Violación Sexual'},
 'LDS_LDT': {0.0: 'No', 1.0: 'Sí'},
 'LDT': {0.0: 'No', 1.0: 'Sí'},
 'LRC': {0.0: 'No', 1.0: 'Sí'},
 'LSE': {0.0: 'No', 1.0: 'Sí'},
 'MAE': {0.0: 'No', 1.0: 'Sí'},
 'MAT': {0.0: 'No', 1.0: 'Sí'},
 'MEF': {0.0: 'No', 1.0: 'Sí'},
 'TLA': {0.0: 'No', 1.0: 'Sí'},
 'TTR': {0.0: 'No', 1.0: 'Sí'},
 'TVS': {0.0: 'No', 1.0: 'Sí'},
 'ANO': {1980.0: '80',
  1981.0: '81',
  1982.0: '82',
  1983.0: '83',
  1984.0: '84',
  1985.0: '85',
  1986.0: '86',
  1987.0: '87',
  1988.0: '88',
  1989.0: '89',
  1990.0: '90',
  1991.0: '91',
  1992.0: '92',
  1993.0: '93',
  1994.0: '94',
  1995.0: '95',
  1996.0: '96',
  1997.0: '97',
  1998.0: '98',
  1999.0: '99',
  2000.0: '00'},
 'SEXO': {1.0: 'Femenino', 2.0: 'Masculino'},
 'EDADREC': {1.0: '0 a 9',
  2.0: '10 a 19',
  3.0: '20 a 29',
  4.0: '30 a 39',
  5.0: '40 a 49',
  6.0: '50 a 59',
  7.0: '60 a 69',
  8.0: '70 a +'},
 'IDNIVEDU': {1.0: 'Ninguno',
  2.0: 'Inicial',
  3.0: 'Primaria',
  4.0: 'Secundaria',
  5.0: 'Superior'},
 'CONDALFA': {1.0: 'No lee ni escribe', 2.0: 'Sí lee y escribe'},
 'ESTACIV': {1.0: 'Soltero(a)',
  2.0: 'Casado(a) / Conviviente',
  3.0: 'Separado(a) / Divorciado(a)',
  4.0: 'Viudo(a)'},
 'RELIGION': {1.0: 'Católica',
  2.0: 'Evangélica',
  3.0: 'Otras',
  4.0: 'Ninguna'},
 'IDIOMA': {1.0: 'Castellano', 2.0: 'Quechua', 3.0: 'Otras lenguas nativas'},
 'OCUPACI0': {1.0: 'Campesinos',
  2.0: 'Vendedores y comerciantes',
  3.0: 'Profesores',
  4.0: 'Amas de casa',
  5.0: 'Empleados',
  6.0: 'Obreros',
  7.0: 'Profesionales e intelectuales',
  8.0: 'Autoridades',
  9.0: 'Trabajadores independientes',
  10.0: 'Fuerzas armadas y policiales',
  11.0: 'Estudiantes univers. y de IST',
  12.0: 'Otras ocupaciones'},
 'ORGANIZA': {1.0: 'Org. o asoc. de familiares y/o víctimas de la violencia',
  2.0: 'Comun. camp. o asoc. de campesinos - Presidente',
  3.0: 'Com. camp. o asoc. de campesinos - Miembro de la directiva',
  4.0: 'Org. o asoc. campesinas de Apoyo, o por obras determinadas',
  5.0: 'Rondas campesinas',
  6.0: 'Gremios de campesinos o productores agropecuarios',
  7.0: 'Organizaciones o asociaciones de desplazados',
  8.0: 'Organizaciones o asociaciones de productores o comerciantes',
  9.0: 'Organizaciones políticas',
  10.0: 'Sindicatos o federaciones de trabajadores',
  11.0: 'Organizaciones de estudiantes universitarios',
  12.0: 'Organizaciones gremiales',
  13.0: 'Organizaciones vecinales',
  14.0: 'Organizaciones asistenciales',
  15.0: 'Cooperativas',
  16.0: 'Organizaciones o asociaciones de padres de familia',
  17.0: 'Organizaciones deportivas y/o recreativas',
  18.0: 'Organizaciones o clubes sociales',
  19.0: 'Organizaciones Culturales',
  20.0: 'Organizaciones Artísticas',
  21.0: 'Otras'},
 'OCUPACIO': {1.0: 'Campesinos',
  2.0: 'Vendedores y comerciantes',
  3.0: 'Profesores',
  4.0: 'Amas de casa',
  5.0: 'Empleados',
  6.0: 'Obreros',
  7.0: 'Profesionales e intelectuales',
  8.0: 'Autoridades y dirigentes locales',
  9.0: 'Trabajadores independientes',
  10.0: 'Fuerzas armadas y policiales',
  11.0: 'Estudiantes univers. y de IST',
  12.0: 'Otras ocupaciones'},
 'A00': {0.0: 'No', 1.0: 'Sí'},
 'A01': {0.0: 'No', 1.0: 'Sí'},
 'A02': {0.0: 'No', 1.0: 'Sí'},
 'A03': {0.0: 'No', 1.0: 'Sí'},
 'A04': {0.0: 'No', 1.0: 'Sí'},
 'AB0': {0.0: 'No', 1.0: 'Sí'},
 'B00': {0.0: 'No', 1.0: 'Sí'},
 'B01': {0.0: 'No', 1.0: 'Sí'},
 'B02': {0.0: 'No', 1.0: 'Sí'},
 'B03': {0.0: 'No', 1.0: 'Sí'},
 'B04': {0.0: 'No', 1.0: 'Sí'},
 'B05': {0.0: 'No', 1.0: 'Sí'},
 'B06': {0.0: 'No', 1.0: 'Sí'},
 'B07': {0.0: 'No', 1.0: 'Sí'},
 'B08': {0.0: 'No', 1.0: 'Sí'},
 'B09': {0.0: 'No', 1.0: 'Sí'},
 'C00': {0.0: 'No', 1.0: 'Sí'},
 'C01': {0.0: 'No', 1.0: 'Sí'},
 'C02': {0.0: 'No', 1.0: 'Sí'},
 'D00': {0.0: 'No', 1.0: 'Sí'},
 'D01': {0.0: 'No', 1.0: 'Sí'},
 'D02': {0.0: 'No', 1.0: 'Sí'},
 'D03': {0.0: 'No', 1.0: 'Sí'},
 'D04': {0.0: 'No', 1.0: 'Sí'},
 'D05': {0.0: 'No', 1.0: 'Sí'},
 'D06': {0.0: 'No', 1.0: 'Sí'},
 'E00': {0.0: 'No', 1.0: 'Sí'},
 'E01': {0.0: 'No', 1.0: 'Sí'},
 'E02': {0.0: 'No', 1.0: 'Sí'},
 'F00': {0.0: 'No', 1.0: 'Sí'},
 'G00': {0.0: 'No', 1.0: 'Sí'},
 'H00': {0.0: 'No', 1.0: 'Sí'},
 'ORTERSOL': {0.0: 'No', 1.0: 'Sí'},
 'CIVISOL': {0.0: 'No', 1.0: 'Sí'},
 'OTROSOL': {0.0: 'No', 1.0: 'Sí'},
 'INDETSOL': {0.0: 'No', 1.0: 'Sí'},
 'FFAA': {0.0: 'No', 1.0: 'Sí'},
 'FFPP': {0.0: 'No', 1.0: 'Sí'},
 'CADS': {0.0: 'No', 1.0: 'Sí'},
 'ESTADO': {0.0: 'No', 1.0: 'Sí'},
 'PARAM': {0.0: 'No', 1.0: 'Sí'},
 'FORDEN': {0.0: 'No', 1.0: 'Sí'},
 'NODETER': {0.0: 'No', 1.0: 'Sí'},
 'CIVOTR': {0.0: 'No', 1.0: 'Sí'},
 'NODETOTR': {0.0: 'No', 1.0: 'Sí'},
 'CONTRASU': {0.0: 'No', 1.0: 'Sí'},
 'DEPNAC': {'': 's.i.',
  '01': 'AMAZONAS',
  '02': 'ANCASH',
  '03': 'APURÍMAC',
  '04': 'AREQUIPA',
  '05': 'AYACUCHO',
  '06': 'CAJAMARCA',
  '07': 'CALLAO',
  '08': 'CUSCO',
  '09': 'HUANCAVELICA',
  '10': 'HUÁNUCO',
  '11': 'ICA',
  '12': 'JUNÍN',
  '13': 'LA LIBERTAD',
  '14': 'LAMBAYEQUE',
  '15': 'LIMA',
  '16': 'LORETO',
  '17': 'MADRE DE DIOS',
  '18': 'MOQUEGUA',
  '19': 'PASCO',
  '20': 'PIURA',
  '21': 'PUNO',
  '22': 'SAN MARTÍN',
  '23': 'TACNA',
  '24': 'TUMBES',
  '25': 'UCAYALI'},
 'DEPNA0': {1.0: 'AYACUCHO',
  2.0: 'APURÍMAC',
  3.0: 'HUANCAVELICA',
  4.0: 'CUSCO',
  5.0: 'HUÁNUCO',
  6.0: 'UCAYALI',
  7.0: 'SAN MARTÍN',
  8.0: 'PUNO',
  9.0: 'JUNÍN',
  10.0: 'LIMA - CALLAO',
  90.0: 'OTROS'},
 'UBIDEP': {'': 's.i.',
  '01': 'AMAZONAS',
  '02': 'ANCASH',
  '03': 'APURÍMAC',
  '04': 'AREQUIPA',
  '05': 'AYACUCHO',
  '06': 'CAJAMARCA',
  '07': 'CALLAO',
  '08': 'CUSCO',
  '09': 'HUANCAVELICA',
  '10': 'HUÁNUCO',
  '11': 'ICA',
  '12': 'JUNÍN',
  '13': 'LA LIBERTAD',
  '14': 'LAMBAYEQUE',
  '15': 'LIMA',
  '16': 'LORETO',
  '17': 'MADRE DE DIOS',
  '18': 'MOQUEGUA',
  '19': 'PASCO',
  '20': 'PIURA',
  '21': 'PUNO',
  '22': 'SAN MARTÍN',
  '23': 'TACNA',
  '24': 'TUMBES',
  '25': 'UCAYALI'},
 'DEPHE0': {1.0: 'AYACUCHO',
  2.0: 'APURÍMAC',
  3.0: 'HUANCAVELICA',
  4.0: 'CUSCO',
  5.0: 'HUÁNUCO',
  6.0: 'UCAYALI',
  7.0: 'SAN MARTÍN',
  8.0: 'PUNO',
  9.0: 'JUNÍN',
  10.0: 'LIMA - CALLAO',
  90.0: 'OTROS'},
 'UBIPROV': {'': 's.i.',
  '0000': 'n.e.',
  '0100': 'n.e.',
  '0101': 'CHACHAPOYAS',
  '0102': 'BAGUA',
  '0103': 'BONGARÁ',
  '0104': 'CONDORCANQUI',
  '0105': 'LUYA',
  '0106': 'RODRÍGUEZ DE MENDOZA',
  '0107': 'UTCUBAMBA',
  '0200': 'n.e.',
  '0201': 'HUARAZ',
  '0202': 'AIJA',
  '0203': 'ANTONIO RAYMONDI',
  '0204': 'ASUNCIÓN',
  '0205': 'BOLOGNESI',
  '0206': 'CARHUAZ',
  '0207': 'CARLOS F. FITZCARRALD',
  '0208': 'CASMA',
  '0209': 'CORONGO',
  '0210': 'HUARI',
  '0211': 'HUARMEY',
  '0212': 'HUAYLAS',
  '0213': 'MARISCAL LUZURIAGA',
  '0214': 'OCROS',
  '0215': 'PALLASCA',
  '0216': 'POMABAMBA',
  '0217': 'RECUAY',
  '0218': 'SANTA',
  '0219': 'SIHUAS',
  '0220': 'YUNGAY',
  '0300': 'n.e.',
  '0301': 'ABANCAY',
  '0302': 'ANDAHUAYLAS',
  '0303': 'ANTABAMBA',
  '0304': 'AYMARAES',
  '0305': 'COTABAMBAS',
  '0306': 'CHINCHEROS',
  '0307': 'GRAU',
  '0400': 'n.e.',
  '0401': 'AREQUIPA',
  '0402': 'CAMANÁ',
  '0403': 'CARAVELÍ',
  '0404': 'CASTILLA',
  '0405': 'CAYLLOMA',
  '0406': 'CONDESUYOS',
  '0407': 'ISLAY',
  '0408': 'LA UNIÓN',
  '0500': 'n.e.',
  '0501': 'HUAMANGA',
  '0502': 'CANGALLO',
  '0503': 'HUANCA SANCOS',
  '0504': 'HUANTA',
  '0505': 'LA MAR',
  '0506': 'LUCANAS',
  '0507': 'PARINACOCHAS',
  '0508': 'PAUCAR DEL SARA SARA',
  '0509': 'SUCRE',
  '0510': 'VÍCTOR FAJARDO',
  '0511': 'VILCAS HUAMÁN',
  '0600': 'n.e.',
  '0601': 'CAJAMARCA',
  '0602': 'CAJABAMBA',
  '0603': 'CELENDÍN',
  '0604': 'CHOTA',
  '0605': 'CONTUMAZÁ',
  '0606': 'CUTERVO',
  '0607': 'HUALGAYOC',
  '0608': 'JAÉN',
  '0609': 'SAN IGNACIO',
  '0610': 'SAN MARCOS',
  '0611': 'SAN MIGUEL',
  '0612': 'SAN PABLO',
  '0613': 'SANTA CRUZ',
  '0700': 'n.e.',
  '0701': 'CALLAO',
  '0800': 'n.e.',
  '0801': 'CUSCO',
  '0802': 'ACOMAYO',
  '0803': 'ANTA',
  '0804': 'CALCA',
  '0805': 'CANAS',
  '0806': 'CANCHIS',
  '0807': 'CHUMBIVILCAS',
  '0808': 'ESPINAR',
  '0809': 'LA CONVENCIÓN',
  '0810': 'PARURO',
  '0811': 'PAUCARTAMBO',
  '0812': 'QUISPICANCHI',
  '0813': 'URUBAMBA',
  '0900': 'n.e.',
  '0901': 'HUANCAVELICA',
  '0902': 'ACOBAMBA',
  '0903': 'ANGARAES',
  '0904': 'CASTROVIRREYNA',
  '0905': 'CHURCAMPA',
  '0906': 'HUAYTARÁ',
  '0907': 'TAYACAJA',
  '1000': 'n.e.',
  '1001': 'HUÁNUCO',
  '1002': 'AMBO',
  '1003': 'DOS DE MAYO',
  '1004': 'HUACAYBAMBA',
  '1005': 'HUAMALIES',
  '1006': 'LEONCIO PRADO',
  '1007': 'MARAÑÓN',
  '1008': 'PACHITEA',
  '1009': 'PUERTO INCA',
  '1010': 'LAURICOCHA',
  '1011': 'YAROWILCA',
  '1100': 'n.e.',
  '1101': 'ICA',
  '1102': 'CHINCHA',
  '1103': 'NAZCA',
  '1104': 'PALPA',
  '1105': 'PISCO',
  '1200': 'n.e.',
  '1201': 'HUANCAYO',
  '1202': 'CONCEPCIÓN',
  '1203': 'CHANCHAMAYO',
  '1204': 'JAUJA',
  '1205': 'JUNÍN',
  '1206': 'SATIPO',
  '1207': 'TARMA',
  '1208': 'YAULI',
  '1209': 'CHUPACA',
  '1300': 'n.e.',
  '1301': 'TRUJILLO',
  '1302': 'ASCOPE',
  '1303': 'BOLÍVAR',
  '1304': 'CHEPÉN',
  '1305': 'JULCÁN',
  '1306': 'OTUZCO',
  '1307': 'PACASMAYO',
  '1308': 'PATAZ',
  '1309': 'SÁNCHEZ CARRIÓN',
  '1310': 'SANTIAGO DE CHUCO',
  '1311': 'GRAN CHIMÚ',
  '1312': 'VIRÚ',
  '1400': 'n.e.',
  '1401': 'CHICLAYO',
  '1402': 'FERREÑAFE',
  '1403': 'LAMBAYEQUE',
  '1500': 'n.e.',
  '1501': 'LIMA',
  '1502': 'BARRANCA',
  '1503': 'CAJATAMBO',
  '1504': 'CANTA',
  '1505': 'CAÑETE',
  '1506': 'HUARAL',
  '1507': 'HUAROCHIRÍ',
  '1508': 'HUAURA',
  '1509': 'OYÓN',
  '1510': 'YAUYOS',
  '1600': 'n.e.',
  '1601': 'MAYNAS',
  '1602': 'ALTO AMAZONAS',
  '1603': 'LORETO',
  '1604': 'MARISCAL RAMÓN CASTILLA',
  '1605': 'REQUENA',
  '1606': 'UCAYALI',
  '1700': 'n.e.',
  '1701': 'TAMBOPATA',
  '1702': 'MANÚ',
  '1703': 'TAHUAMANÚ',
  '1800': 'n.e.',
  '1801': 'MARISCAL NIETO',
  '1802': 'GENERAL SÁNCHEZ CERRO',
  '1803': 'ILO',
  '1900': 'n.e.',
  '1901': 'PASCO',
  '1902': 'DANIEL ALCIDES CARRIÓN',
  '1903': 'OXAPAMPA',
  '2000': 'n.e.',
  '2001': 'PIURA',
  '2002': 'AYABACA',
  '2003': 'HUANCABAMBA',
  '2004': 'MORROPÓN',
  '2005': 'PAITA',
  '2006': 'SULLANA',
  '2007': 'TALARA',
  '2008': 'SECHURA',
  '2100': 'n.e.',
  '2101': 'PUNO',
  '2102': 'AZÁNGARO',
  '2103': 'CARABAYA',
  '2104': 'CHUCUITO',
  '2105': 'EL COLLAO',
  '2106': 'HUANCANÉ',
  '2107': 'LAMPA',
  '2108': 'MELGAR',
  '2109': 'MOHO',
  '2110': 'SAN ANTONIO DE PUTINA',
  '2111': 'SAN ROMÁN',
  '2112': 'SANDIA',
  '2113': 'YUNGUYO',
  '2200': 'n.e.',
  '2201': 'MOYOBAMBA',
  '2202': 'BELLAVISTA',
  '2203': 'EL DORADO',
  '2204': 'HUALLAGA',
  '2205': 'LAMAS',
  '2206': 'MARISCAL CÁCERES',
  '2207': 'PICOTA',
  '2208': 'RIOJA',
  '2209': 'SAN MARTÍN',
  '2210': 'TOCACHE',
  '2300': 'n.e.',
  '2301': 'TACNA',
  '2302': 'CANDARAVE',
  '2303': 'JORGE BASADRE',
  '2304': 'TARATA',
  '2400': 'n.e.',
  '2401': 'TUMBES',
  '2402': 'CONTRALMIRANTE VILLAR',
  '2403': 'ZARUMILLA',
  '2500': 'n.e.',
  '2501': 'CORONEL PORTILLO',
  '2502': 'ATALAYA',
  '2503': 'PADRE ABAD',
  '2504': 'PURÚS'},
 'AREA': {0.0: 'Rural', 1.0: 'Urbana'},
 'REGION': {1.0: 'Región Sur Central',
  2.0: 'Región Nor Oriental',
  3.0: 'Región Central',
  4.0: 'Lima Metropolitana',
  5.0: 'Sur Andino',
  6.0: 'Región Norte'},
 'PERIODO': {1.0: '80 - 82',
  2.0: '83 - 85',
  3.0: '86 - 88',
  4.0: '89 - 92',
  5.0: '93 - 00'},
 'MAEGRORC': {1.0: '1 víctima',
  2.0: '2-4 víctimas',
  3.0: '5-9 víctimas',
  4.0: '10-+ víctimas'},
 'DECLARAN': {0.0: 'No', 1.0: 'Sí'},
 'LUGDET': {1.0: 'Domicilio',
  2.0: 'Domicilio otros',
  3.0: 'Centro de trabajo / estudios (ciudad)',
  4.0: 'Calles / plazas',
  5.0: 'Campo / chacra',
  6.0: 'Camino / carretera (zonas rurales)',
  7.0: 'Otros'},
 'METMUE': {1.0: 'Arma de fuego',
  2.0: 'Arma u objeto punzocortante',
  3.0: 'Objetos contundentes o golpes',
  4.0: 'Explosivos / detonaciones',
  5.0: 'Asfixia',
  6.0: 'Otros'},
 'MUECIRC': {1.0: 'Muerte circunstancial'},
 'MUETTR': {0.0: 'Muerte no es consecuencia de tortura',
  1.0: 'Muerte es consecuencia de tortura'},
 'DP': {0.0: 'No', 1.0: 'Sí'},
 'DM': {0.0: 'No', 1.0: 'Sí'},
 'DJ': {0.0: 'No', 1.0: 'Sí'},
 'PE': {0.0: 'No', 1.0: 'Sí'},
 'PL': {0.0: 'No', 1.0: 'Sí'},
 'OT': {0.0: 'No', 1.0: 'Sí'},
 'T01': {0.0: 'No', 1.0: 'Sí'},
 'T02': {0.0: 'No', 1.0: 'Sí'},
 'T03': {0.0: 'No', 1.0: 'Sí'},
 'T04': {0.0: 'No', 1.0: 'Sí'},
 'T05': {0.0: 'No', 1.0: 'Sí'},
 'T06': {0.0: 'No', 1.0: 'Sí'},
 'T07': {0.0: 'No', 1.0: 'Sí'},
 'T08': {0.0: 'No', 1.0: 'Sí'},
 'T09': {0.0: 'No', 1.0: 'Sí'},
 'T10': {0.0: 'No', 1.0: 'Sí'},
 'T11': {0.0: 'No', 1.0: 'Sí'},
 'T12': {0.0: 'No', 1.0: 'Sí'},
 'T13': {0.0: 'No', 1.0: 'Sí'},
 'T14': {0.0: 'No', 1.0: 'Sí'},
 'T15': {0.0: 'No', 1.0: 'Sí'},
 'T16': {0.0: 'No', 1.0: 'Sí'},
 'T90': {0.0: 'No', 1.0: 'Sí'}}

In [6]:
# se filtra la base de datos para los tipos de eventos: desaparición, secuestros, reclutamiento forzado y muertes en atentados
datospss, meta =  pyreadstat.read_sav(r"C:\Users\nmiyamoto\Documents\GitHub\1ECO35_2023_1\data\actos_est.sav")
cvr_datos = datospss[(datospss.IDTIPOAC == "LDS_LDT")| (datospss.IDTIPOAC == "LSE")| (datospss.IDTIPOAC == "LRC")| (datospss.IDTIPOAC == "MAT")]
cvr_datos

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
7,1000005,14428.0,52785.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,1000005,14428.0,66646.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1000005,14428.0,66647.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,1000005,14428.0,66648.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,1000005,14428.0,66649.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
36003,1015706,37029.0,123646.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36004,1015706,37029.0,123647.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36005,1015706,37029.0,123648.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36006,1015706,37029.0,123649.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36013,1016674,35060.0,116898.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# se eliminan los valores duplicados de la columna IDACTO
cvr_datos = cvr_datos.copy() 
# se colocó el .copy para no recibir advertencia del SettingWithCopyWarning
cvr_datos.drop_duplicates(subset='IDACTO', inplace=True)
cvr_datos.reset_index(drop=True, inplace=True)
cvr_datos

,IDEVENTO,IDACTO,IDACTOR,IDTIPOAC,LDS_LDT,LDT,LRC,LSE,MAE,MAT,...,T08,T09,T10,T11,T12,T13,T14,T15,T16,T90
0,1000005,14428.0,52785.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1000024,15289.0,56137.0,MAT,0.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1000024,21289.0,76356.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1000026,15506.0,56946.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1000031,14816.0,54149.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2464,1015514,36846.0,122792.0,LRC,0.0,0.0,1.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2465,1015603,35129.0,117145.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2466,1015706,37028.0,123639.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2467,1015706,37029.0,123646.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2468,1016674,35060.0,116898.0,LSE,0.0,0.0,0.0,1.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
# se crea una nueva base de datos filtrando idacto, idtipoac y departamento
df_nuevo = cvr_datos[['IDACTO','IDTIPOAC', 'DEPNA0','UBIDIST','PERIODO','LDS_LDT', 'LSE', 'LRC', 'MAT']]

# se renombra el depnao
df_nuevo = df_nuevo.rename(columns={'DEPNA0': 'DPTO', "UBIDIST": "DIST", "PERIODO": "PER"})
df_nuevo

       IDACTO IDTIPOAC  DPTO    DIST  PER  LDS_LDT  LSE  LRC  MAT
0     14428.0      LSE   9.0  120206  4.0      0.0  1.0  0.0  0.0
1     15289.0      MAT  90.0  110504  4.0      0.0  0.0  0.0  1.0
2     21289.0      LSE   NaN  110504  4.0      0.0  1.0  0.0  0.0
3     15506.0      LSE   1.0  050406  1.0      0.0  1.0  0.0  0.0
4     14816.0      LSE   5.0  100105  4.0      0.0  1.0  0.0  0.0
...       ...      ...   ...     ...  ...      ...  ...  ...  ...
2464  36846.0      LRC   NaN  250301  4.0      0.0  0.0  1.0  0.0
2465  35129.0      LSE   9.0  120604  4.0      0.0  1.0  0.0  0.0
2466  37028.0      LSE   8.0  210806  4.0      0.0  1.0  0.0  0.0
2467  37029.0      LSE   8.0  210806  4.0      0.0  1.0  0.0  0.0
2468  35060.0      LSE   1.0  050505  2.0      0.0  1.0  0.0  0.0

[2469 rows x 9 columns]

In [17]:
# para cada departamento se obtiene el total de eventos de violencia

tipo_event_dpto = pd.pivot_table(df_nuevo, index='DPTO', values=['LDS_LDT', 'LSE', 'LRC', 'MAT'],
                              aggfunc=np.sum, margins=True, margins_name='Total')
tipo_event_dpto

# se renombra cada evento
df_nuevorename = tipo_event_dpto.rename(columns={'LDS_LDT': 'TotalDesap','LSE': 'TotalSecu','LRC': 'TotalRe','MAT': 'TotalMuertes'})
df_nuevorename

       TotalDesap  TotalRe  TotalSecu  TotalMuertes
DPTO
1.0           0.0     91.0      619.0          15.0
2.0           0.0     31.0      131.0           2.0
3.0           0.0     22.0      103.0           7.0
4.0           0.0      3.0       22.0           0.0
5.0           0.0     57.0      345.0          14.0
6.0           0.0      2.0       25.0           3.0
7.0           0.0     12.0       67.0           8.0
8.0           0.0      5.0       41.0           6.0
9.0           0.0     30.0      211.0          10.0
10.0          0.0      6.0       38.0          10.0
90.0          0.0     14.0      114.0          15.0
Total         0.0    273.0     1716.0          90.0

In [18]:
# para cada distrito se obtiene el total de eventos de violencia

tipo_event_dist = pd.pivot_table(df_nuevo, index='DIST', values=['LDS_LDT', 'LSE', 'LRC', 'MAT'],
                              aggfunc=np.sum, margins=True, margins_name='Total')
tipo_event_dist

# se renombra cada evento
df_nuevorename = tipo_event_dist.rename(columns={'LDS_LDT': 'TotalDesap','LSE': 'TotalSecu','LRC': 'TotalRe','MAT': 'TotalMuertes'})
df_nuevorename

        TotalDesap  TotalRe  TotalSecu  TotalMuertes
DIST
010609         0.0      0.0        1.0           0.0
020101         0.0      1.0        6.0           0.0
020104         0.0      1.0        0.0           0.0
020105         0.0      0.0        5.0           0.0
020502         0.0      0.0        1.0           0.0
...            ...      ...        ...           ...
250300         0.0      0.0        1.0           0.0
250301         0.0      6.0       63.0           0.0
250302         0.0      0.0       14.0           0.0
250303         0.0      0.0        1.0           0.0
Total          0.0    331.0     2031.0         107.0

[437 rows x 4 columns]

In [24]:
# crear variables con el logaritmo del total de eventos
df_nuevorename['Log_TotalDesap'] = np.log(df_nuevorename['TotalDesap'])
df_nuevorename['Log_TotalSecu'] = np.log(df_nuevorename['TotalSecu'])
df_nuevorename['Log_TotalRe'] = np.log(df_nuevorename['TotalRe'])
df_nuevorename['Log_TotalMuertes'] = np.log(df_nuevorename['TotalMuertes'])
df_nuevorename

# los valores que salen -inf significa que se intentó calcular logaritmos de valores de 0 por ello sale el warning

C:\Users\nmiyamoto\AppData\Local\anaconda3\lib\site-packages\pandas\core\arraylike.py:402: RuntimeWarning: divide by zero encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

,TotalDesap,TotalRe,TotalSecu,TotalMuertes,Log_TotalDesap,Log_TotalSecu,Log_TotalRe,Log_TotalMuertes
DIST,,,,,,,,
010609,0.0,0.0,1.0,0.0,-inf,0.000000,-inf,-inf
020101,0.0,1.0,6.0,0.0,-inf,1.791759,0.000000,-inf
020104,0.0,1.0,0.0,0.0,-inf,-inf,0.000000,-inf
020105,0.0,0.0,5.0,0.0,-inf,1.609438,-inf,-inf
020502,0.0,0.0,1.0,0.0,-inf,0.000000,-inf,-inf
...,...,...,...,...,...,...,...,...
250300,0.0,0.0,1.0,0.0,-inf,0.000000,-inf,-inf
250301,0.0,6.0,63.0,0.0,-inf,4.143135,1.791759,-inf
250302,0.0,0.0,14.0,0.0,-inf,2.639057,-inf,-inf
250303,0.0,0.0,1.0,0.0,-inf,0.000000,-inf,-inf
Total,0.0,331.0,2031.0,107.0,-inf,7.616284,5.802118,4.672829

In [30]:
# para cada departamento y periodo se obtiene el total de eventos de violencia

tipo_event_dptoyper = pd.pivot_table(df_nuevo, index= ['DPTO','PER'], values=['LDS_LDT', 'LSE', 'LRC', 'MAT'],
                              aggfunc=np.sum, margins=True, margins_name='Total')
tipo_event_dptoyper

# se renombra cada evento
df_nuevorename = tipo_event_dptoyper.rename(columns={'LDS_LDT': 'TotalDesap','LSE': 'TotalSecu','LRC': 'TotalRe','MAT': 'TotalMuertes'})
df_nuevorename

           TotalDesap  TotalRe  TotalSecu  TotalMuertes
DPTO  PER
1.0   1.0         0.0      6.0       51.0           1.0
      2.0         0.0     44.0      336.0           2.0
      3.0         0.0     12.0       96.0           6.0
      4.0         0.0     26.0      119.0           6.0
      5.0         0.0      3.0       17.0           0.0
2.0   1.0         0.0      1.0        8.0           0.0
      2.0         0.0      3.0       26.0           0.0
      3.0         0.0     13.0       44.0           0.0
      4.0         0.0     11.0       44.0           2.0
      5.0         0.0      3.0        9.0           0.0
3.0   1.0         0.0      2.0        4.0           0.0
      2.0         0.0      8.0       32.0           0.0
      3.0         0.0      5.0       19.0           1.0
      4.0         0.0      4.0       41.0           4.0
      5.0         0.0      3.0        7.0           2.0
4.0   1.0         0.0      0.0        2.0           0.0
      2.0         0.0      1.0        9.0           0.0
      3.0         0.0      0.0        6.0           0.0
      4.0         0.0      2.0        3.0           0.0
      5.0         0.0      0.0        2.0           0.0
5.0   1.0         0.0      1.0        6.0           0.0
      2.0         0.0     11.0       27.0           0.0
      3.0         0.0     18.0       69.0           5.0
      4.0         0.0     17.0      126.0           7.0
      5.0         0.0     10.0      117.0           2.0
6.0   3.0         0.0      1.0        2.0           1.0
      4.0         0.0      1.0       16.0           2.0
      5.0         0.0      0.0        7.0           0.0
7.0   2.0         0.0      3.0        1.0           2.0
      3.0         0.0      2.0       15.0           2.0
      4.0         0.0      6.0       41.0           3.0
      5.0         0.0      1.0       10.0           1.0
8.0   2.0         0.0      0.0        0.0           1.0
      3.0         0.0      1.0        6.0           1.0
      4.0         0.0      4.0       29.0           4.0
      5.0         0.0      0.0        6.0           0.0
9.0   1.0         0.0      0.0        0.0           1.0
      2.0         0.0      3.0        7.0           1.0
      3.0         0.0      7.0       28.0           0.0
      4.0         0.0     19.0      154.0           6.0
      5.0         0.0      1.0       22.0           2.0
10.0  1.0         0.0      0.0        1.0           0.0
      2.0         0.0      2.0        6.0           0.0
      3.0         0.0      1.0        6.0           1.0
      4.0         0.0      3.0       19.0           6.0
      5.0         0.0      0.0        6.0           3.0
90.0  1.0         0.0      1.0        3.0           0.0
      2.0         0.0      1.0       15.0           0.0
      3.0         0.0      2.0       11.0           3.0
      4.0         0.0      5.0       63.0          11.0
      5.0         0.0      5.0       22.0           1.0
Total             0.0    273.0     1716.0          90.0