#  Laboratorio 2 - Python
## @author: Roberto Mendoza

- <a href='#1.0'>  1.0 If statement </a> 
- <a href='#1.1'> 1.1 Nested if statement   </a> 
- <a href='#1.2'> 1.2 While if statement  </a> 
- <a href='#1.3'> 1.3 For Loop </a> 
- <a href='#1.4'> 1.4 Function   </a>

In [2]:
import random
import numpy as np
import math
import pandas as pd  # cargamos pandas (modulo que nos permitirá manipular bases de datos)

## <a id='1.0'> 1.0 If statement </a>

In [42]:
y = np.random.randint(-10, 10, 50)   # valores entre -10 y 10. Extraer 50 numeros. 

if np.mean(y) > 0 :
    dummy = 1
else :
    dummy = 0
        
print(dummy)

1

In [43]:
dummy = 1 if np.mean(y) > 0 else  0

print(dummy)

1

## <a id='1.1'> 1.1 Nested if statement </a>

In [44]:
# v = 2
# v = np.nan
# v = "String"
v = False

if isinstance( v, int ):
    print(v, " es numero entero (no missing)")
elif math.isnan(v):
    print(v, " es un missing")
elif isinstance( v, str ):
    print(v, " es un string") 
elif isinstance( v, bool ):
    print(v, " es un logical")     
else:
    print("Sin resultado")

False  es numero entero (no missing)

### Si hoy tengo mis ahorros de S/.1,000.00. ¿Cuánto valdrán mis ahorros en 10 años a una tasa de interés de 5%?

$$
    S_{y+1}	=S_{y}(1+i)
$$

In [47]:
#  save
S = 1000

# Periods
n = 5

# interes rate
i = 0.05

In [48]:
year = 1
while year < n:
    S =  S * (1+i)
    year += 1
    print( year, S)

2 1050.0
3 1102.5
4 1157.625
5 1215.5062500000001

## <a id='1.2'> 1.2 While if statement </a>

In [32]:
w = 10

while (w > 7  & w <= 15) :
      
    coin = round( np.random.uniform(0,1) ) # numero aleatorio entre 0 y 1
  
    if coin == 1:
        w =  w + 2  # se suma w +2 si coin es 1
    else :
        w = w - 10  # caso contrario
        print(w)

0

## <a id='1.3'> 1.3 For Loop </a>

In [33]:
#### For Loop ##

ages = np.array([21, 23, 25, 24, 20])

for age in ages:

    print(age+10 )

31
33
35
34
30

In [34]:
for i in range(50):
    if i in range(15,21) :
        None
    else :
        print("Ejecutanto",i,"\n")


# Example 2

for j in range(101):
    print(j)
    
    if j > 20:
        break
    
#### While + break

w = 10

while True :
    coin = round( np.random.uniform(0,1) ) # redondear al entero más cercano
    if coin == 1 :
        break   # sale del while
    else:
        w = w + 10  # se ejecuta si el coin es diferente de 1 
        print(w)

Ejecutanto 0

Ejecutanto 1

Ejecutanto 2

Ejecutanto 3

Ejecutanto 4

Ejecutanto 5

Ejecutanto 6

Ejecutanto 7

Ejecutanto 8

Ejecutanto 9

Ejecutanto 10

Ejecutanto 11

Ejecutanto 12

Ejecutanto 13

Ejecutanto 14

Ejecutanto 21

Ejecutanto 22

Ejecutanto 23

Ejecutanto 24

Ejecutanto 25

Ejecutanto 26

Ejecutanto 27

Ejecutanto 28

Ejecutanto 29

Ejecutanto 30

Ejecutanto 31

Ejecutanto 32

Ejecutanto 33

Ejecutanto 34

Ejecutanto 35

Ejecutanto 36

Ejecutanto 37

Ejecutanto 38

Ejecutanto 39

Ejecutanto 40

Ejecutanto 41

Ejecutanto 42

Ejecutanto 43

Ejecutanto 44

Ejecutanto 45

Ejecutanto 46

Ejecutanto 47

Ejecutanto 48

Ejecutanto 49

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

## <a id='1.4'> 1.4 Function </a>

In [35]:
def calculator(x,y,z):
    result = x*y*z
    
    return result

print( calculator( 158, 38, 10 ) )

calculator( 158, 38)

60040

TypeError: calculator() missing 1 required positional argument: 'z'

In [36]:
## return multiple

def calculator_square( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    
    return (result, x2, f"La multiplicación del cuadrado es: {result}")  # multiple resultado 

calculator_square(3, 4)
                  
print( calculator_square(3, 4)[1] )
calculator_square(3, 4)[2]
                

#### IF statement and return 
def calculator_square_2( x, y ):
    
    x2 = x * x
    y2 = y * y
    
    result = x2 * y2   
    if result <= 200:
           return f"Large number. Get only the result variable {result}"
    else:
           return  print( "Too large number. Do not return variables!")


calculator_square_2(300, 4)


## Función y tipo de variables


def calculator_base_5( x , y = 5 ):
    
    result = x * y
    
    return result


calculator_base_5( 7 )

9
Too large number. Do not return variables!

35

### Si hoy tengo mis ahorros de S/.1,000.00. ¿Cuánto valdrán mis ahorros en 10 años a una tasa de interés de 5%?

$$
    S_{t}	=S_{o}(1+i)^t
$$

### Ejemplo en finanzas

In [5]:
portfolio = pd.read_csv(r'../../data/Portafolio.csv')

In [6]:
print(portfolio.shape)
portfolio.head()

(100, 2)

          X         Y
0 -0.895251 -0.234924
1 -1.562454 -0.885176
2 -0.417090  0.271888
3  1.044356 -0.734198
4 -0.315568  0.841983

In [11]:
X = portfolio['X']
y = portfolio['Y']

In [14]:
np.cov(X,y)

array([[1.12864236, 0.62635829],
       [0.62635829, 1.30823747]])

In [15]:
def alpha(data):
    X = data['X']
    y = data['Y']
    
    coeff_pearson = (np.var(y) - np.cov(X,y)[0][1]) / (np.var(X) + np.var(y) - 2*(np.cov(X,y)[0][1]))
    
    return coeff_pearson

In [16]:
alpha(portfolio)

0.5766511516104116