In [42]:

import pandas as pd 
import statsmodels.api as sm

In [20]:
df = pd.read_stata(r"G:\Mi unidad\1ECO35_2023_1\data\trabajo_final\replicacion\SerraPorterAEJ.dta")
df

,anonid,took_fall,took_year,tookanother,numeconclass,econmajor,Major,Major_STEM,Major_Business,Major_Finance,...,ecojobs_b,ecojobs_c,ecojobs_d,ecojobs_e,ecojobs_f,ecojobs_g,ecojobs_h,major_current_a,major_current_b,survey_econmajor
0,4.0,0.0,0.0,0.0,0.0,0.0,Mathematics - BS,1.0,0.0,0.0,...,Entrepreneur,Journalist/ Correspondent,Working for marketplace on NPR,Business consultant,,,,Mathematics,,0.0
1,5.0,0.0,0.0,0.0,0.0,0.0,Biological Sciences - BS,1.0,0.0,0.0,...,Tax advisor,Managerial Position,,,,,,Biology,,0.0
2,7.0,1.0,1.0,1.0,13.0,1.0,Economics w/ Fina Appl - BS,0.0,0.0,0.0,...,,,,,,,,,,NaN
3,9.0,0.0,0.0,0.0,0.0,0.0,Journalism - BA,0.0,0.0,0.0,...,,,,,,,,Journalism,Communications,0.0
4,10.0,0.0,0.0,1.0,1.0,0.0,Markets & Culture - BA,0.0,0.0,0.0,...,Investment Banker,,,,,,,Markets and Culture,Economics,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
622,1386.0,0.0,0.0,0.0,0.0,0.0,Markets & Culture - BA,0.0,0.0,0.0,...,,,,,,,,,,NaN
623,1388.0,0.0,0.0,0.0,0.0,0.0,Economics w/ Fina Appl - PMJ,0.0,0.0,0.0,...,,,,,,,,Business,,0.0
624,1389.0,0.0,0.0,0.0,0.0,0.0,Accounting - BBA,0.0,1.0,0.0,...,Finance,Bank,Government,,,,,Economics,Public Relations,1.0
625,1393.0,0.0,1.0,1.0,10.0,1.0,Economics - BA,0.0,0.0,0.0,...,Professor,Economist,,,,,,Entrepreneurship,Finance Economics,0.0
626,1396.0,0.0,0.0,0.0,0.0,0.0,Finance - BBA,0.0,0.0,1.0,...,Political position,Business,,,,,,Finance,French,0.0

In [18]:
conteo_datos = df['Major'].value_counts()
conteo_datos

Marketing - BBA                 83
Finance - BBA                   76
Accounting - BBA                60
Markets & Culture - BA          33
Economics - BA                  30
                                ..
Creative Computing - PMJ         1
French Studies - BA              1
French Horn Performance - BM     1
History - BA                     1
Chemistry - BS                   1
Name: Major, Length: 76, dtype: int64

In [25]:
df01 = df.loc[:,['american','instate','freshman','ACumGPA','greek','econ_hs','varsity']]
df01

     american  instate  freshman  ACumGPA  greek  econ_hs  varsity
0         1.0      1.0       0.0    3.267    0.0      1.0      0.0
1         1.0      1.0       0.0    3.358    0.0      1.0      0.0
2         1.0      0.0       1.0    1.775    NaN      NaN      NaN
3         1.0      1.0       0.0    3.654    1.0      1.0      0.0
4         1.0      1.0       0.0    3.000    1.0      1.0      0.0
..        ...      ...       ...      ...    ...      ...      ...
622       1.0      0.0       1.0    2.653    NaN      NaN      NaN
623       0.0      0.0       1.0    3.200    0.0      0.0      0.0
624       0.0      0.0       1.0    3.677    0.0      0.0      1.0
625       0.0      0.0       1.0    3.500    0.0      0.0      0.0
626       1.0      0.0       1.0    4.000    1.0      1.0      0.0

[627 rows x 7 columns]

In [28]:
df_P1 = df01.describe().loc[["mean","std","min","max","count"]]
df_P1

,american,instate,freshman,ACumGPA,greek,econ_hs,varsity
mean,0.902711,0.221691,0.864434,3.432091,0.642715,0.578842,0.072000
std,0.296587,0.415717,0.342602,0.435175,0.479679,0.494239,0.258747
min,0.000000,0.000000,0.000000,1.200000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,4.000000,1.000000,1.000000,1.000000
count,627.000000,627.000000,627.000000,627.000000,501.000000,501.000000,500.000000

In [40]:
# definimos el nombre completo del archivo LaTeX
archivo_latex = r"G:\Mi unidad\1ECO35_2023_1\Trabajo_final\Grupo10\estadisticas_descriptivas.tex"

# utilizamos el método to_latex() para guardar el DataFrame en el archivo LaTeX
df_P1.to_latex(archivo_latex, column_format="lccccc")

C:\Users\admin\AppData\Local\Temp\ipykernel_6532\3886789371.py:5: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df_P1.to_latex(archivo_latex, column_format="lccccc")

In [49]:
# Primera regrecion 

A = df['took_year']
B = sm.add_constant(df.loc[:,["treat2016", "yr_2016", "treatment_class"]])

In [51]:
ols_model = sm.OLS(A, B).fit()

In [55]:
print(ols_model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              took_year   R-squared:                       0.008
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     1.679
Date:                Sat, 15 Jul 2023   Prob (F-statistic):              0.170
Time:                        20:30:07   Log-Likelihood:                -211.88
No. Observations:                 627   AIC:                             431.8
Df Residuals:                     623   BIC:                             449.5
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.1474      0.027      5.411      0.000       0.094       0.201
treat2016           0.1150      0.055      2.101      0.036       0.007       0.222
yr_2016            -0.0401      0.037     -1.073      0.284      -0.113       0.033
treatment_class    -0.0377      0.038     -0.990      0.323      -0.112       0.037
==============================================================================
Omnibus:                      248.008   Durbin-Watson:                   2.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              645.527
Skew:                           2.124   Prob(JB):                    6.69e-141
Kurtosis:                       5.582   Cond. No.                         6.63
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [57]:
ols_model_rb = sm.OLS(A, A).fit(cov_type='cluster', cov_kwds={'groups': df['class_fe2']})
print(ols_model_rb.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:              took_year   R-squared (uncentered):                   1.000
Model:                            OLS   Adj. R-squared (uncentered):              1.000
Method:                 Least Squares   F-statistic:                          1.881e+15
Date:                Sat, 15 Jul 2023   Prob (F-statistic):                    1.23e-79
Time:                        20:41:48   Log-Likelihood:                          10171.
No. Observations:                 627   AIC:                                 -2.034e+04
Df Residuals:                     626   BIC:                                 -2.034e+04
Df Model:                           1
Covariance Type:              cluster
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
took_year      1.0000   2.31e-08   4.34e+07      0.000       1.000       1.000
==============================================================================
Omnibus:                      251.352   Durbin-Watson:                   1.833
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              661.877
Skew:                           2.149   Prob(JB):                    1.88e-144
Kurtosis:                       5.619   Cond. No.                         1.00
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors are robust to cluster correlation (cluster)

In [ ]:
# Segunda regrecion

In [59]:
A01 = df['took_year']

# agregamos la constante

B01 = sm.add_constant(df.loc[:,["treat2016", "yr_2016", "treatment_class", "female_prof", "instate", "freshman", "american", "ACumGPA",
"gradePrinciples", "small_class"]])

In [60]:
ols_model1 = sm.OLS(A01, B01).fit()

In [61]:
print(ols_model1.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              took_year   R-squared:                       0.035
Model:                            OLS   Adj. R-squared:                  0.020
Method:                 Least Squares   F-statistic:                     2.250
Date:                Sat, 15 Jul 2023   Prob (F-statistic):             0.0139
Time:                        20:54:48   Log-Likelihood:                -203.16
No. Observations:                 627   AIC:                             428.3
Df Residuals:                     616   BIC:                             477.2
Df Model:                          10
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.3720      0.126      2.943      0.003       0.124       0.620
treat2016           0.1122      0.055      2.032      0.043       0.004       0.221
yr_2016            -0.0486      0.037     -1.304      0.193      -0.122       0.025
treatment_class    -0.0473      0.038     -1.237      0.217      -0.123       0.028
female_prof         0.0357      0.028      1.262      0.207      -0.020       0.091
instate            -0.0032      0.033     -0.097      0.923      -0.068       0.062
freshman            0.0149      0.041      0.363      0.717      -0.066       0.095
american           -0.1402      0.047     -2.971      0.003      -0.233      -0.048
ACumGPA            -0.0846      0.046     -1.836      0.067      -0.175       0.006
gradePrinciples     0.0600      0.023      2.622      0.009       0.015       0.105
small_class        -0.0440      0.033     -1.331      0.184      -0.109       0.021
==============================================================================
Omnibus:                      237.806   Durbin-Watson:                   2.135
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              598.324
Skew:                           2.045   Prob(JB):                    1.19e-130
Kurtosis:                       5.485   Cond. No.                         49.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
ols_model1_rb = sm.OLS(A, B).fit(cov_type='cluster', cov_kwds={'groups': df['class_fe2']})
print(ols_model1_rb.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              took_year   R-squared:                       0.008
Model:                            OLS   Adj. R-squared:                  0.003
Method:                 Least Squares   F-statistic:                     16.50
Date:                Sat, 15 Jul 2023   Prob (F-statistic):           0.000220
Time:                        20:55:28   Log-Likelihood:                -211.88
No. Observations:                 627   AIC:                             431.8
Df Residuals:                     623   BIC:                             449.5
Df Model:                           3
Covariance Type:              cluster
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.1474      0.014     10.307      0.000       0.119       0.175
treat2016           0.1150      0.038      3.048      0.002       0.041       0.189
yr_2016            -0.0401      0.027     -1.487      0.137      -0.093       0.013
treatment_class    -0.0377      0.025     -1.480      0.139      -0.088       0.012
==============================================================================
Omnibus:                      248.008   Durbin-Watson:                   2.128
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              645.527
Skew:                           2.124   Prob(JB):                    6.69e-141
Kurtosis:                       5.582   Cond. No.                         6.63
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [ ]:
#tercera regrecion

In [64]:
A = df['tookanother']
B = sm.add_constant(df.loc[:,["treat2016", "yr_2016", "treatment_class"]])

In [66]:
ols_model2 = sm.OLS(A, B).fit()

In [67]:
print(ols_model2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            tookanother   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     2.160
Date:                Sat, 15 Jul 2023   Prob (F-statistic):             0.0916
Time:                        20:57:54   Log-Likelihood:                -330.66
No. Observations:                 627   AIC:                             669.3
Df Residuals:                     623   BIC:                             687.1
Df Model:                           3
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.2372      0.033      7.202      0.000       0.173       0.302
treat2016           0.1576      0.066      2.384      0.017       0.028       0.287
yr_2016            -0.0620      0.045     -1.373      0.170      -0.151       0.027
treatment_class    -0.0482      0.046     -1.047      0.296      -0.138       0.042
==============================================================================
Omnibus:                      118.202   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              191.693
Skew:                           1.353   Prob(JB):                     2.37e-42
Kurtosis:                       2.894   Cond. No.                         6.63
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [69]:
ols_model2_rb = sm.OLS(A, B).fit(cov_type='cluster', cov_kwds={'groups': df['class_fe2']})
print(ols_model2_rb.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            tookanother   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     10.04
Date:                Sat, 15 Jul 2023   Prob (F-statistic):            0.00176
Time:                        20:58:12   Log-Likelihood:                -330.66
No. Observations:                 627   AIC:                             669.3
Df Residuals:                     623   BIC:                             687.1
Df Model:                           3
Covariance Type:              cluster
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.2372      0.018     13.285      0.000       0.202       0.272
treat2016           0.1576      0.046      3.452      0.001       0.068       0.247
yr_2016            -0.0620      0.016     -3.801      0.000      -0.094      -0.030
treatment_class    -0.0482      0.019     -2.527      0.012      -0.086      -0.011
==============================================================================
Omnibus:                      118.202   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              191.693
Skew:                           1.353   Prob(JB):                     2.37e-42
Kurtosis:                       2.894   Cond. No.                         6.63
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)

In [ ]:
#cuarta regresion

In [73]:
y = df['tookanother']
X = sm.add_constant(df.loc[:,["treat2016", "yr_2016", "treatment_class", "female_prof", "instate", "freshman", "american", "ACumGPA",
"gradePrinciples", "small_class"]])

In [74]:
ols_model3 = sm.OLS(A, B).fit()

In [75]:
print(ols_model3.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            tookanother   R-squared:                       0.049
Model:                            OLS   Adj. R-squared:                  0.034
Method:                 Least Squares   F-statistic:                     3.172
Date:                Sat, 15 Jul 2023   Prob (F-statistic):           0.000558
Time:                        21:02:28   Log-Likelihood:                -318.16
No. Observations:                 627   AIC:                             658.3
Df Residuals:                     616   BIC:                             707.2
Df Model:                          10
Covariance Type:            nonrobust
===================================================================================
                      coef    std err          t      P>|t|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.8032      0.152      5.290      0.000       0.505       1.101
treat2016           0.1389      0.066      2.093      0.037       0.009       0.269
yr_2016            -0.0668      0.045     -1.493      0.136      -0.155       0.021
treatment_class    -0.0615      0.046     -1.337      0.182      -0.152       0.029
female_prof         0.0231      0.034      0.678      0.498      -0.044       0.090
instate            -0.0192      0.040     -0.483      0.629      -0.097       0.059
freshman           -0.0154      0.049     -0.312      0.755      -0.112       0.081
american           -0.2090      0.057     -3.686      0.000      -0.320      -0.098
ACumGPA            -0.1370      0.055     -2.476      0.014      -0.246      -0.028
gradePrinciples     0.0420      0.028      1.526      0.128      -0.012       0.096
small_class        -0.0669      0.040     -1.685      0.092      -0.145       0.011
==============================================================================
Omnibus:                      110.999   Durbin-Watson:                   1.928
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              174.915
Skew:                           1.294   Prob(JB):                     1.04e-38
Kurtosis:                       2.986   Cond. No.                         49.5
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [77]:
ols_model3_rb = sm.OLS(A, B).fit(cov_type='cluster', cov_kwds={'groups': df['class_fe2']})
print(ols_model3_rb.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:            tookanother   R-squared:                       0.010
Model:                            OLS   Adj. R-squared:                  0.006
Method:                 Least Squares   F-statistic:                     10.04
Date:                Sat, 15 Jul 2023   Prob (F-statistic):            0.00176
Time:                        21:02:57   Log-Likelihood:                -330.66
No. Observations:                 627   AIC:                             669.3
Df Residuals:                     623   BIC:                             687.1
Df Model:                           3
Covariance Type:              cluster
===================================================================================
                      coef    std err          z      P>|z|      [0.025      0.975]
-----------------------------------------------------------------------------------
const               0.2372      0.018     13.285      0.000       0.202       0.272
treat2016           0.1576      0.046      3.452      0.001       0.068       0.247
yr_2016            -0.0620      0.016     -3.801      0.000      -0.094      -0.030
treatment_class    -0.0482      0.019     -2.527      0.012      -0.086      -0.011
==============================================================================
Omnibus:                      118.202   Durbin-Watson:                   1.905
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              191.693
Skew:                           1.353   Prob(JB):                     2.37e-42
Kurtosis:                       2.894   Cond. No.                         6.63
==============================================================================

Notes:
[1] Standard Errors are robust to cluster correlation (cluster)