# Tarea 3 - Grupo 2

## 1. Script R y Python
## 2. Script solo en Python

- <a href='#1.1'> 1.1 Map, sapply, apply, función Lambda  </a> 
- <a href='#1.2'> 1.2 Apply  </a> 
- <a href='#2.1'> 2.1 Función para calcular el factorial de un número n  </a>
- <a href='#2.2'> 2.2 Función de masa corporal  </a>
- <a href='#2.3'> 2.3 Función aplicada a dos activos financieros y que calcula coeficiente de Pearson y varianza del portafolio </a>
- <a href='#2.4'> 2.4 Keywords especiales _(*args and **kwargs)  </a>

## <a id='1.1'> 1.1 Map, sapply, apply, función Lambda </a>

In [41]:
#Se importan las librerías necesarias
import numpy as np
import pandas as pd

#Se crea la función
def funcionEscalamiento(vector):
    return list(map(lambda x: (x-np.min(vector))/(np.max(vector)-np.min(vector)), vector))

#Probando la función a 100 números aleatorios
vectorAleatorio=np.random.rand(100)*100

#Probando la función a las columnas numéricas de la base de datos de compras de consumidores
data= pd.read_csv(r'../../data/BDD_compras_consumidores.csv',delimiter=';')
   
columnasNumericas = data[['Channel','Region','Fresh', 'Milk', 'Grocery', 'Frozen', 'Detergents_Paper', 'Delicatessen']]
columnasEscaladas = columnasNumericas.apply(funcionEscalamiento)
columnasEscaladas
print("Las columnas escaladas son las siguientes:\n", columnasEscaladas)
funcionEscalamiento(vectorAleatorio)

Las columnas escaladas son las siguientes:
      Channel  Region     Fresh      Milk   Grocery    Frozen  \
0        1.0     1.0  0.112940  0.130727  0.081464  0.003106
1        1.0     1.0  0.062899  0.132824  0.103097  0.028548
2        1.0     1.0  0.056622  0.119181  0.082790  0.039116
3        0.0     1.0  0.118254  0.015536  0.045464  0.104842
4        1.0     1.0  0.201626  0.072914  0.077552  0.063934
..       ...     ...       ...       ...       ...       ...
435      0.0     1.0  0.264829  0.163338  0.172715  0.215469
436      0.0     1.0  0.349761  0.018736  0.008202  0.073713
437      1.0     1.0  0.129543  0.210136  0.325943  0.006771
438      0.0     1.0  0.091727  0.026224  0.024025  0.016649
439      0.0     1.0  0.024824  0.022371  0.027022  0.000657

     Detergents_Paper  Delicatessen
0            0.065427      0.027847
1            0.080590      0.036984
2            0.086052      0.163559
3            0.012346      0.037234
4            0.043455      0.108093
..                ...           ...
435          0.004385      0.045912
436          0.002205      0.048874
437          0.363463      0.038882
438          0.004042      0.044264
439          0.011611      0.001022

[440 rows x 8 columns]

[0.6535546386827998,
 0.08695155399250394,
 0.5414189617442275,
 0.2742231779247056,
 0.1454346110046632,
 0.3326620049837312,
 0.4118409053617693,
 0.206677365941955,
 0.5926213834349955,
 0.5943151604549597,
 0.0,
 0.1858132421467751,
 0.08484936289736346,
 0.6273095109342168,
 0.1749460456648722,
 0.18886930253621984,
 0.567398739054318,
 0.8558566663853439,
 0.9406161561248554,
 0.8655775682713248,
 0.19959448984316178,
 0.31776950384198693,
 0.4463280338457443,
 0.8743855248387933,
 0.541503352953822,
 0.30578462622180286,
 0.4902264463060268,
 0.39195189268760494,
 0.1056018501444499,
 0.9708424403380981,
 0.7889142918931858,
 0.6324634742825654,
 0.624420203886685,
 0.5754869134917842,
 0.8004180483823572,
 0.5680249062347451,
 0.5732824154529829,
 0.6833095699466756,
 0.10194067532957918,
 0.5804849881649293,
 0.2151460938305684,
 0.10789185135908648,
 0.18216833457549725,
 0.33109446795933556,
 0.5612102470169879,
 0.15835569458275606,
 0.344738986410257,
 0.0747326392711682,
 0.4596894994672052,
 0.15596325849556641,
 0.5254759117557262,
 0.6093901205444787,
 0.9485138365489191,
 0.8123793384299377,
 0.9100079034106606,
 0.6157638846722857,
 0.9913887009130086,
 0.5178834092132193,
 0.4221235749691387,
 0.9599732047946304,
 0.6428586555568346,
 0.5077365481906386,
 0.6166684774107554,
 0.7869382438579455,
 0.03885323501436963,
 0.27262022975020356,
 0.6588841053106185,
 0.3663762610720551,
 0.1484594030292241,
 0.19918071666778614,
 1.0,
 0.4593889751291088,
 0.7508446069753847,
 0.8495877487926329,
 0.664193994627513,
 0.06768158682432476,
 0.16309252151933148,
 0.43437098239111877,
 0.8312897026927645,
 0.3261585782563025,
 0.2413557210709123,
 0.25795534847412943,
 0.9743302796095866,
 0.10468057943066916,
 0.7435985765790492,
 0.06929645241254238,
 0.1433488135609306,
 0.4921826756292226,
 0.7198722435409071,
 0.14632892841043876,
 0.7175673145229551,
 0.7708427406532019,
 0.03312274206464104,
 0.06611261575987841,
 0.6427821643593364,
 0.754742908044919,
 0.7989984132052417,
 0.49311012576744806,
 0.9481081763088601,
 0.6634995492747177]

## <a id='1.2'> 1.2 Apply </a>

In [1]:
# Se importa las librerías necesarias
import pandas as pd
import numpy as np

# Se extrae la base de datos
siagie = pd.read_csv(r'../../data/siagie.csv')

# Notas promedio final de cada alumno
notas_promedio = siagie.iloc[:, 6:17].apply(np.mean, axis=1)
siagie['notas_promedio'] = round(notas_promedio, 2) #Se redondea y se agrega a la base de datos

# Nota maxima
nota_maxima = siagie.iloc[:, 6:17].apply(np.max, axis=1)
siagie['nota_maxima'] = nota_maxima #Se agrega a la base de datos

# Nota minima
nota_minima = siagie.iloc[:, 6:17].apply(np.min, axis=1)
siagie['nota_minima'] = nota_minima #Se agrega a la base de datos

# Promedio de cada curso
notas_promedioCurso = siagie.iloc[:, 6:17].apply(np.mean, axis=0)
notas_promedioCurso = round(notas_promedioCurso, 2) #Se redondea
print(notas_promedioCurso,"\n") #Se imprime los resultados

# Mediana de los cursos
medianaCurso = siagie.iloc[:, 6:17].apply(np.median, axis=0)
print(medianaCurso,"\n") #Se imprime los resultados

#Se muestra la base de datos junto a la nota promedio, maxima y minima de cada alumno
siagie

arte                              14.10
ciencia_tecnologia_y_ambiente     13.22
comunicacion                      13.76
educacion_fisica                  13.44
educacion_para_el_trabajo         13.41
educacion_religiosa               14.01
formacion_ciudadana_y_civica      12.67
hisotoria_geografia_y_economia    13.70
ingles                            14.21
matematica                        12.31
persona_familia_y_rrhh            13.71
dtype: float64

arte                              14.0
ciencia_tecnologia_y_ambiente     13.0
comunicacion                      14.0
educacion_fisica                  13.0
educacion_para_el_trabajo         13.0
educacion_religiosa               14.0
formacion_ciudadana_y_civica      13.0
hisotoria_geografia_y_economia    13.0
ingles                            14.0
matematica                        12.0
persona_familia_y_rrhh            13.0
dtype: float64

,id_anio,cod_mod,id_nivel,dsc_grado,id_grado,id_seccion,arte,ciencia_tecnologia_y_ambiente,comunicacion,educacion_fisica,educacion_para_el_trabajo,educacion_religiosa,formacion_ciudadana_y_civica,hisotoria_geografia_y_economia,ingles,matematica,persona_familia_y_rrhh,notas_promedio,nota_maxima,nota_minima
0,2015,2212,F0,QUINTO,14,1,17,16,16,15,14,15,14,16,16,13,15,15.18,17,13
1,2015,2212,F0,CUARTO,13,1,12,13,16,14,14,13,14,13,16,13,14,13.82,16,12
2,2015,2212,F0,SEGUNDO,11,1,17,13,11,13,16,13,12,13,14,12,13,13.36,17,11
3,2015,2212,F0,SEGUNDO,11,1,14,16,13,13,13,14,13,14,13,13,13,13.55,16,13
4,2015,2212,F0,PRIMERO,10,1,15,12,11,13,13,16,13,14,13,12,12,13.09,16,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2015,2212,F0,CUARTO,13,1,12,13,14,15,12,13,14,13,16,12,13,13.36,16,12
131,2015,2212,F0,CUARTO,13,1,13,11,10,13,11,13,12,12,13,11,13,12.00,13,10
132,2015,2212,F0,SEGUNDO,11,1,18,18,18,13,17,15,13,17,16,18,16,16.27,18,13
133,2015,2212,F0,SEGUNDO,11,1,13,13,11,13,12,14,12,12,12,12,13,12.45,14,11
134,2015,2212,F0,SEGUNDO,11,1,14,15,13,13,14,13,13,13,14,15,13,13.64,15,13

## <a id='2.1'> 2.1 Función para calcular el factorial de un número n </a>

In [17]:
#Función que calcula el factorial

def funcionFactorial(n):
    n_anterior= n - 1
    factorial= n
    while n_anterior >= 1:
        factorial=factorial*n_anterior
        if n_anterior==1: break
        n_anterior=n_anterior-1
    return(f"El factorial de {n} es: {factorial}")
   
funcionFactorial(5) #Se invoca la funciónFactorial

'El factorial de 5 es: 120'

## <a id='2.2'> 2.2 Función de masa corporal </a>

In [22]:
#Se crea la funcion de Índice de Masa Corporal
def funcionMasaCorporal(peso, talla):
    imc = peso / (talla**2) #Se halla el IMC
    #Se halla la clasificación
    if 18.5 <= imc <= 24.9:
        clasificacion = "Normal"
    elif 25 <= imc <= 29.9:
        clasificacion = "Sobrepeso"
    elif 30 <= imc <= 34.9 :
        clasificacion = "Obesidad grado I"
    elif 35 <= imc <= 39.9 :
        clasificacion = "Obesidad grado II"
    else:
        clasificacion = "Obesidad grado III"
    
    return (print("El estudiante con peso", peso, "y talla", talla, "tiene", imc, "y clasificación", clasificacion))
    
#Se prueban los resultados para los estudiantes
funcionMasaCorporal(70,1.50) #Estudiante 1

funcionMasaCorporal(85,1.80) #Estudiante 2

funcionMasaCorporal(50,1.60) #Estudiante 3

El estudiante con peso 70 y talla 1.5 tiene 31.11111111111111 y clasificación Obesidad grado I
El estudiante con peso 85 y talla 1.8 tiene 26.234567901234566 y clasificación Sobrepeso
El estudiante con peso 50 y talla 1.6 tiene 19.531249999999996 y clasificación Normal

## <a id='2.3'> 2.3 Función aplicada a dos activos financieros y que calcula coeficiente de Pearson y varianza del portafolio </a>

In [24]:
#Función que calcula el coeficiente de correlación de Pearson y la varianza del portafolio
#Se importan las librerías necesarias
import pandas as pd
import numpy as np
portfolio = pd.read_csv(r'../../data/Portafolio.csv') #Se extrae la base de datos
#Se genera la función 
def funcionActivosFinancieros(data):
    X = data['X']
    y = data['Y']
    coef_pearson = (np.cov(X,y)[0][1])/((np.var(X)*np.var(y))**(1/2))
    var_portafolio = ((0.2)**2)*np.var(X) + ((0.8)**2)*np.var(y) + 2*0.2*0.8*np.cov(X,y)[0][1]
    
    return (print("El coeficiente de correlación de pearson es",coef_pearson,"y la varianza del portafolio es",var_portafolio))
funcionActivosFinancieros(portfolio) #Se aplica la función a la base de datos

El coeficiente de correlación de pearson es 0.5206743364408886 y la varianza del portafolio es 1.07402815110268

## <a id='2.4'> 2.4 Keywords especiales _(*args and **kwargs) </a>

In [25]:
#Funcion que permite keywords especiales
#Se importan las librerías necesarias
import numpy as np
#Se genera la función
def funcionEspecial( *args, **kwargs):
    
      
    if ( kwargs[ 'metodo' ] == "escalamiento" ) :
        
        return list(map(lambda x: (x-np.min(args))/(np.max(args)-np.min(args)), args)) #Si se elige escalamiento
    
    elif ( kwargs[ 'metodo' ] == "inverse hyperbolic sine" ) :

        return list(map(lambda x: np.log(x + np.sqrt(x**2 + 1)), args)) #Si se elige inverse hyperbolic sine
    else:
        raise ValueError( f"The function argument {kwargs[ 'metodo' ]} is not supported." )
        
        # Mensaje de error porque el metodo no existe

    
#Se prueba la funcion segun el metodo elegido
print(funcionEspecial( 4, 5, 6, 7, 8, metodo = "escalamiento" ), "\n")

print(funcionEspecial( 4, 5, 6, metodo = "inverse hyperbolic sine" ), "\n")

[0.0, 0.25, 0.5, 0.75, 1.0]

[2.0947125472611012, 2.3124383412727525, 2.4917798526449118]