## Integrantes:

- Kevin Pareja (20196318)

- Elian Tongombol (20196453)

- Paola Aranda (20196052)

- María Alejandra Colán (20190515)

In [13]:
#Importamos las librerías a emplear
import pandas as pd
import numpy as np
import os

### 1. Map, sapply, apply, función Lambda

Aplique la siguiente función a un vector de 100 numeros aleatorios y a las columnas numericas de la base de datos BDD_compras_consumidores.xlsx

In [14]:
#Creamos 100 números aleatorios con Numpy, los ponemos dentro de una lista y la llamamos vector.
vector= list(np.random.random(100))

#Empleamos una función lambda para x, recreando la función dada. Empleamos map para que la función especificada 
#"lambda x:", se repita para todos los elementos de vector. Ponemos este resultado en formato lista.
list( map( lambda x: (x-min(vector))/(max(vector)-min(vector)) , vector))

[0.4630875593963616,
 0.3224015312342913,
 0.5948732457944629,
 0.5766497168805682,
 0.6662487687952499,
 0.49905843408986594,
 0.13298373613268055,
 0.06722704405360687,
 0.01591156570334138,
 0.38405291799814356,
 0.48083340624812293,
 0.4157714952193546,
 0.6487207799287947,
 0.7085597233067829,
 0.3183093246649316,
 0.8225081075091963,
 0.921707702504985,
 0.6593135629017067,
 0.9294569692962841,
 0.2965313824094464,
 0.5973289649113372,
 0.015184028467716717,
 0.9431371461496142,
 0.24227324054980104,
 0.6034109368829631,
 0.6518849664164812,
 0.004171015058229389,
 0.33586084061995086,
 0.6139897440643208,
 0.7826643978720746,
 0.7273412881254013,
 0.5867480848079066,
 0.7313800971205364,
 0.7279344428222516,
 0.1447237352723412,
 0.14615945770031272,
 0.2914299113529829,
 0.14601946773898847,
 0.4119723010978022,
 0.9721446549107418,
 0.2791557944201165,
 0.8280436292755029,
 0.9538884294872982,
 1.0,
 0.10645595969789717,
 0.6345090829095719,
 0.8171459360919291,
 0.2599957800199361,
 0.3378059577337773,
 0.2601091010651552,
 0.3718015821529254,
 0.1727706193429307,
 0.7061926778568247,
 0.8079195515102952,
 0.54226121371023,
 0.7232382293159278,
 0.7852182329987143,
 0.9428754576627104,
 0.48094312710143233,
 0.6438194505645156,
 0.850598444995818,
 0.13362524051173472,
 0.6169681484380506,
 0.757119875789808,
 0.6118261461840615,
 0.8725828632346624,
 0.4212482306065402,
 0.5308973852876009,
 0.24035478271894786,
 0.8919775481548785,
 0.938189171671231,
 0.19434353934536158,
 0.6390699179029597,
 0.1895768479779794,
 0.13718556581976882,
 0.708508232596878,
 0.4256970021027148,
 0.7122358092125227,
 0.6541438692088313,
 0.9531554647644447,
 0.5528154801816983,
 0.8725292847184567,
 0.6367286699597271,
 0.26215350647863195,
 0.4535501561393583,
 0.1655211744448293,
 0.5487159547327559,
 0.915212232409671,
 0.6945658329054822,
 0.09760755609268659,
 0.8882149406884381,
 0.31707237535126287,
 0.6100389459059183,
 0.0,
 0.16124365570135496,
 0.9180264911941224,
 0.999451287096139,
 0.08409776719382084,
 0.6161320553376003,
 0.2974075018461854]

In [15]:
#Leemos el archivo csv y lo convertimos en una Pandas Dataframe, separando los valores por ";".
datoscsv = pd.read_csv(r"../../data/BDD_compras_consumidores.csv", sep = ";")

#Vemos la Dataframe.
datoscsv

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [17]:
#Seleccionamos solo a las columnas en la posición 2 en adelante, y le aplicamos una función lambda x con apply a lo
#largo de las columnas. 

datoscsv.iloc[:,2:].apply( lambda x: (x-min(x))/(max(x)-min(x)) , axis = 0)

        Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicatessen
0    0.112940  0.130727  0.081464  0.003106          0.065427      0.027847
1    0.062899  0.132824  0.103097  0.028548          0.080590      0.036984
2    0.056622  0.119181  0.082790  0.039116          0.086052      0.163559
3    0.118254  0.015536  0.045464  0.104842          0.012346      0.037234
4    0.201626  0.072914  0.077552  0.063934          0.043455      0.108093
..        ...       ...       ...       ...               ...           ...
435  0.264829  0.163338  0.172715  0.215469          0.004385      0.045912
436  0.349761  0.018736  0.008202  0.073713          0.002205      0.048874
437  0.129543  0.210136  0.325943  0.006771          0.363463      0.038882
438  0.091727  0.026224  0.024025  0.016649          0.004042      0.044264
439  0.024824  0.022371  0.027022  0.000657          0.011611      0.001022

[440 rows x 6 columns]

### 2. Apply

In [18]:
#Leemos los datos del archibo csv y los convertimos en una Pandas Dataframe, separando por ",".
siagiecsv= pd.read_csv(r"../../data/siagie.csv", sep = ",")
siagiecsv

,id_anio,cod_mod,id_nivel,dsc_grado,id_grado,id_seccion,arte,ciencia_tecnologia_y_ambiente,comunicacion,educacion_fisica,educacion_para_el_trabajo,educacion_religiosa,formacion_ciudadana_y_civica,hisotoria_geografia_y_economia,ingles,matematica,persona_familia_y_rrhh
0,2015,2212,F0,QUINTO,14,1,17,16,16,15,14,15,14,16,16,13,15
1,2015,2212,F0,CUARTO,13,1,12,13,16,14,14,13,14,13,16,13,14
2,2015,2212,F0,SEGUNDO,11,1,17,13,11,13,16,13,12,13,14,12,13
3,2015,2212,F0,SEGUNDO,11,1,14,16,13,13,13,14,13,14,13,13,13
4,2015,2212,F0,PRIMERO,10,1,15,12,11,13,13,16,13,14,13,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2015,2212,F0,CUARTO,13,1,12,13,14,15,12,13,14,13,16,12,13
131,2015,2212,F0,CUARTO,13,1,13,11,10,13,11,13,12,12,13,11,13
132,2015,2212,F0,SEGUNDO,11,1,18,18,18,13,17,15,13,17,16,18,16
133,2015,2212,F0,SEGUNDO,11,1,13,13,11,13,12,14,12,12,12,12,13
134,2015,2212,F0,SEGUNDO,11,1,14,15,13,13,14,13,13,13,14,15,13

In [23]:
#Promedio final del alumno. 

#Nos quedamos solo con las columnas de notas de la Dataframe "siagiecsv".
#Aplicamos la función lambda que calcula el promedio de los valores de la fila seleccionada.

siagiecsv.iloc[:,6:].apply(lambda x: np.mean(x), axis = 1)

0      15.181818
1      13.818182
2      13.363636
3      13.545455
4      13.090909
         ...
130    13.363636
131    12.000000
132    16.272727
133    12.454545
134    13.636364
Length: 135, dtype: float64

In [ ]:
#Promedio final más alto 

#Nos quedamos solo con las columnas de notas de la Dataframe "siagiecsv".
#Aplicamos la función lambda que calcula el promedio de los valores de la fila seleccionada.

siagiecsv.iloc[:,6:].apply(lambda x: np.mean(x), axis = 1)

datos.iloc[:,2:9].apply(lambda x: np.max(x), axis = 0)

# Promedio más bajo

datos.iloc[:,2:9].apply(lambda x: np.min(x), axis = 0)



promedio_curso=
mediana curso=

### 3. Funciones

Función para calcular el factorial de un número n!

In [12]:
def factorial(n): #ponemos nombre a la función y se define que el input es n
    if n==0 or n==1: #ponemos 2 condiciones para los casos especiales de factorial
        result=1
    elif n>1: #condicion para lo demás casos
        result=n*factorial(n-1) #se define el result que debe mostrar si cumple n>1
    return result

In [13]:
x=factorial(3) #comprobamos
print(x)

6

Función de masa corporal

In [8]:
def imc(peso,talla): #definimos inputs de la función
    imc1=peso/(talla**2) #ponemos la función a calcular según el concepto del IMC
    imc=round(imc1,4) #se redondea a 4 cifras
    if imc>=18.5 and imc<=24.9: #ponemos los condicionales a los intervalos que se requieren
        return(talla, peso, imc, "Normal") #se pone return para tener las variables outputs
    elif imc>=25 and imc<=29.9:
        return(talla, peso, imc,"Sobrepeso")
    elif imc>=30 and imc<=34.9:
        return(talla, peso, imc,"Obesidad grado I")
    elif imc>=35 and imc<=39.9:
        return(talla, peso, imc,"Obesidad grado II")
    else:
        return(talla, peso, imc, "Obesidad grado III")

In [9]:
#probamos la función para datos del estudiante1
estudiante1=imc(70,1.5) 
print(estudiante1)

(1.5, 70, 31.1111, 'Obesidad grado I')

In [10]:
#probamos la función para datos del estudiante2
estudiante2=imc(80,1.8)
print(estudiante2)

(1.8, 80, 24.6914, 'Normal')

In [11]:
#probamos la función para datos del estudiante3
estudiante3=imc(50,1.6)
print(estudiante3)

(1.6, 50, 19.5312, 'Normal')

Función aplicado a dos activos financieros

Coeficiente de person de dos varaibles aleatorias:

Keywords especiales _(*args and **kwargs)