In [8]:
#Tarea 3
#PARTE SOLO EN PYTHON

In [73]:
#1. Función para calcular el factorial de un número n!
#Crear una función que permita calcular el factorial de un número (n).
def factorial(n):
    
    #Calcula el factorial de un número n, para ello debemos considerar no solo a los números postivos, sino también al cero y a los número negativos.
   
    if n < 0:
        return "Error: argumento inválido"
    elif n == 0:
        return 1
    else:
        fact = 1
        for i in range(1, n+1):
            fact *= i
        return fact

In [74]:
print (factorial(-20))

Error: argumento inválido

In [75]:
print (factorial(0))

1

In [19]:
print (factorial(7))

5040

In [20]:
#2.Función de masa corporal
#Crear una función que calcule el índice de masa corporal
def calcular_imc_estudiantes(peso, talla):
   
    #Calcular el índice de masa corporal (IMC), a partir ello debemos obtener del peso y la talla de una persona,
   # y, además, devuelve el peso, la talla, el IMC y la clasificación según la tabla IMC.
   
    imc = peso / (talla ** 2)
    
    if 18.5 <= imc < 25:
        clasificacion = "Normal"
    elif 25 <= imc < 29.9:
        clasificacion = "Sobrepeso"
    elif 30 <= imc < 34.9:
        clasificacion = "Obesidad grado I"
    elif 35 <= imc < 39.9:
        clasificacion = "Obesidad grado II"
    else:
        clasificacion = "Obesidad grado III"
    
    return peso, talla, imc, clasificacion

In [21]:
# Datos del estudiante 1
pesoestudiante1 = 70
tallaestudiante1 = 1.5
peso, talla, imc, clasificacion = calcular_imc_estudiantes(pesoestudiante1, tallaestudiante1)
print("Estudiante 1")
print("Peso: {} kg".format(peso))
print("Talla: {} m".format(talla))
print("IMC: {:.2f}".format(imc))
print("Clasificación: {}".format(clasificacion))
print()

# Datos del estudiante 2
pesoestudiante2 = 85
tallaestudiante2 = 1.8
peso, talla, imc, clasificacion = calcular_imc_estudiantes(pesoestudiante2, tallaestudiante2)
print("Estudiante 2")
print("Peso: {} kg".format(peso))
print("Talla: {} m".format(talla))
print("IMC: {:.2f}".format(imc))
print("Clasificación: {}".format(clasificacion))
print()

# Datos del estudiante 3
pesoestudiante3 = 50
tallaestudiante3 = 1.6
peso, talla, imc, clasificacion = calcular_imc_estudiantes(pesoestudiante3, tallaestudiante3)
print("Estudiante 3")
print("Peso: {} kg".format(peso))
print("Talla: {} m".format(talla))
print("IMC: {:.2f}".format(imc))
print("Clasificación: {}".format(clasificacion))

Estudiante 1
Peso: 70 kg
Talla: 1.5 m
IMC: 31.11
Clasificación: Obesidad grado I

Estudiante 2
Peso: 85 kg
Talla: 1.8 m
IMC: 26.23
Clasificación: Sobrepeso

Estudiante 3
Peso: 50 kg
Talla: 1.6 m
IMC: 19.53
Clasificación: Normal

In [9]:
#3. Función aplicado a dos activos financieros
#Usando la base de datos portfolio de la clases del jueves, ustedes deben crear una función que calcule el coeficiente de pearson del rendimiento de los activos X e Y.

In [10]:
import os # directorio (carpeta de trabajo)
os.getcwd()

'C:\\Users\\HP\\Documents\\GitHub\\1ECO35_2023_1\\Labs\\tarea3'

In [11]:
import pandas as pd

In [12]:
#Cargamos la base de datos
portfolio = pd.read_csv(r'../../data/Portafolio.csv')
portfolio

           X         Y
0  -0.895251 -0.234924
1  -1.562454 -0.885176
2  -0.417090  0.271888
3   1.044356 -0.734198
4  -0.315568  0.841983
..       ...       ...
95  0.479091  1.454774
96 -0.535020 -0.399175
97 -0.773129 -0.957175
98  0.403634  1.396038
99 -0.588496 -0.497285

[100 rows x 2 columns]

In [14]:
import numpy as np

In [15]:
def coef_pearson_portafolio(data):
    X = data['X']
    y = data['Y']
    covarianza = X.cov(y)
    varianza_x = X.var(ddof=1)
    varianza_y = y.var(ddof=1)
    cal_coef_pearson = covarianza / (varianza_x**0.5 * varianza_y**0.5)
    return cal_coef_pearson

In [16]:
coef_pearson_portafolio(portfolio)

0.5154675930764797

In [ ]:
#4. Ahora, calculamos la varianza del portafolio. Para ello, tenemos que W_x=0.2 y W_y=0.8

In [17]:
#Creamos la unción con los valores dados
def varianza_portafolio(data):
  
    W_x=0.2
    W_y=0.8
    X = data['X']
    y = data['Y']
    covarianza = X.cov(y)
    varianza_x = X.var(ddof=1)
    varianza_y = y.var(ddof=1)
    varianza_cal = (W_x**2)*varianza_x+(W_y**2)*varianza_y+2*W_x*W_y*covarianza
    return varianza_cal

In [18]:
varianza_portafolio(portfolio)

1.0828523278464037

In [ ]:
#Ambos resultados son iguales a los obtenidos en Rstudio

In [64]:
#PREGUNTA 5
# Keywords especiales
# El primer paso es construir una función que permite una cantidad no restringida de datos *args y que admita dos tipos de métodos que puedan aplicarse a la cantidad no restringida de datos **kwargs.

# Definimos la función inverse hyperbolic
def f_resc_inv(*args, **kwargs):
    # Aplicamos el condicional para la función reescalamiento
    if kwargs.get('funcion_reescalamiento') == "reescalamiento":
        # Insertamos args en el vector
        vector = args[0]
        resultados = list(map(lambda x: (x - np.min(vector)) / (np.max(vector) - np.min(vector)), vector))
    elif kwargs.get('funcion_transformacion') == "transformacion":
        # Para la obtención de resultados
        vector = args[0]
        resultados = np.log(vector + np.sqrt(np.square(vector) + 1))**(1/2)
    return resultados
#Ejemplo 1
# Definimos una lista de datos
datos = [5, 10, 15, 20, 25]

# Aplicamos la función de reescalamiento a los datos
resultados1 = f_resc_inv(datos, funcion_reescalamiento="reescalamiento")

# Aplicamos la función de transformación a los datos
resultados2 = f_resc_inv(datos, funcion_transformacion="transformacion")

# Imprimimos los resultados
print("Resultados de la función de reescalamiento:", resultados1)
print("Resultados de la función de transformación:", resultados2)

#Ejemplo 2
# Definimos una lista de datos
datos = [3, 9, 12, 15, 18]

# Aplicamos la función de reescalamiento a los datos
resultados1 = f_resc_inv(datos, funcion_reescalamiento="reescalamiento")

# Aplicamos la función de transformación a los datos
resultados2 = f_resc_inv(datos, funcion_transformacion="transformacion")

# Imprimimos los resultados
print("Resultados de la función de reescalamiento:", resultados1)
print("Resultados de la función de transformación:", resultados2)

Resultados de la función de reescalamiento: [0.0, 0.25, 0.5, 0.75, 1.0]
Resultados de la función de transformación: [1.52067036 1.73153774 1.84453426 1.92080813 1.97798452]
Resultados de la función de reescalamiento: [0.0, 0.4, 0.6, 0.8, 1.0]
Resultados de la función de transformación: [1.34849785 1.70101264 1.78319529 1.84453426 1.89322203]

In [ ]:
#PARTE EN R Y PYTHOM

In [56]:
#PREGUNTA1
#Para el vector de 100 números aleatorios
# Creamos el vector de números aleatorios
x = np.random.rand(100)

# Mínimo y máximo del vector creado
x_min = np.min(x)
x_max = np.max(x)

# Función de esclamiento 
x_esc = (x - x_min) / (x_max - x_min)

# Imprimir valores del vector
print(x_esc)

[0.08750223 0.05885197 0.40287604 0.98239571 0.80675956 0.93351656
 0.71905167 0.03170472 0.5149242  0.70971468 0.21417671 0.15980191
 0.17942159 0.16072512 0.01333712 0.77483695 0.39416642 0.45873364
 0.43577238 0.45417365 0.8840874  0.86173882 0.89721403 0.04410563
 0.02847469 0.42587689 1.         0.65143946 0.44929668 0.3567356
 0.83062409 0.15432735 0.86086714 0.66280376 0.75903    0.87508555
 0.29862168 0.86286507 0.08752215 0.43412621 0.57690124 0.8193009
 0.         0.81557077 0.71624763 0.79109832 0.25215777 0.96175541
 0.56070591 0.45355182 0.92765964 0.34320213 0.51981521 0.8474609
 0.86960663 0.40595882 0.18462044 0.03125868 0.56798516 0.69299107
 0.75447875 0.13256862 0.83696611 0.87824207 0.65089343 0.64214169
 0.53533252 0.22265215 0.61622754 0.46558408 0.16852084 0.28433861
 0.8251911  0.86166102 0.24841912 0.2979828  0.39669894 0.30500777
 0.10393304 0.0276427  0.05093796 0.70200747 0.22862703 0.73414414
 0.5057593  0.3569708  0.61597514 0.23442671 0.83498301 0.73634012
 0.97403356 0.60689304 0.67169443 0.05366081 0.6275956  0.91734049
 0.00902305 0.54247456 0.00704023 0.88541805]

In [78]:
#Ahora con la base de datos
# Definimos x_min y x_max que son min(x) y max(x) son el minimo y maximo valor del vector asi como de cada columna 
x_min = np.min(x)
x_max = np.max(x)
# Ahora, definimos la función de esclamiento 
x_esc = (x - x_min) / (x_max - x_min)                                                                                                            
# En SEgundo lugar, insertamos la base de datos y hacemos una seleccio de las columnas numericas definiendo cols_numericas
consumidores= pd.read_csv(r'../../data/BDD_compras_consumidores.csv')
cols_numericas = consumidores.select_dtypes(include=[np.number]).columns
#Luego, aplicamos la función de escalado a las columnas numéricas definidas
consumidores[cols_numericas] = (consumidores[cols_numericas] - consumidores[cols_numericas].min()) / (consumidores[cols_numericas].max() - consumidores[cols_numericas].min())
# Finalmente imprimimos el resultado
print(consumidores)

    Channel;Region;Fresh;Milk;Grocery;Frozen;Detergents_Paper;Delicatessen
0                    2;3;12669;9656;7561;214;2674;1338
1                    2;3;7057;9810;9568;1762;3293;1776
2                    2;3;6353;8808;7684;2405;3516;7844
3                    1;3;13265;1196;4221;6404;507;1788
4                   2;3;22615;5410;7198;3915;1777;5185
..                                                 ...
435               1;3;29703;12051;16027;13135;182;2204
436                    1;3;39228;1431;764;4510;93;2346
437               2;3;14531;15488;30243;437;14841;1867
438                  1;3;10290;1981;2232;1038;168;2125
439                       1;3;2787;1698;2510;65;477;52

[440 rows x 1 columns]

In [49]:
#PREGUNTA2
#Insertamos la base de datos siagie
# Leer la base de datos
siagie=pd.read_csv("../../data/siagie.csv")
##Definimos la funcion para la el promedio final y usamos axis igual a 1
promedio_final=siagie.iloc[:,7:18].apply(lambda x: np.mean(x), axis=1)
# luego vamos a definir una función que obtenga la nota promedio final de los curso  para cada alumno
# Calculamos la nota máxima y mínima de cada alumno y usamos axis igual a 1
max_notas=siagie.iloc[:,7:18].apply(lambda x: np.max(x), axis=1)
min_notas=siagie.iloc[:,7:18].apply(lambda x: np.min(x), axis=1)
# Calculamos el promedio y mediana de notas de cada curso
curso_mean=siagie.iloc[:,7:18].apply(lambda x: np.mean(x), axis=0)
curso_median=siagie.iloc[:,7:18].apply(lambda x: np.median(x), axis=0)
#Imprimimos los resultados de nota promedio final de cada alumno
print('Nota promedio final de cada alumno:')
print(promedio_final)
#Imprimimos los resultados de nota minima y maxima de cada alumno
print('Nota máxima y mínima de cada alumno:')
print(max_notas)
print(min_notas)
#Imprimimos los resultados de nota promedio de cada curso
print('Promedio notas de cada curso:')
print(curso_mean)
#Imprimimos los resultados de la mediana de notas de cada curso
print('Mediana notas de cada curso:')
print(curso_median)

Nota promedio final de cada alumno:
0      15.0
1      14.0
2      13.0
3      13.5
4      12.9
       ...
130    13.5
131    11.9
132    16.1
133    12.4
134    13.6
Length: 135, dtype: float64
Nota máxima y mínima de cada alumno:
0      16
1      16
2      16
3      16
4      16
       ..
130    16
131    13
132    18
133    14
134    15
Length: 135, dtype: int64
0      13
1      13
2      11
3      13
4      11
       ..
130    12
131    10
132    13
133    11
134    13
Length: 135, dtype: int64
Promedio notas de cada curso:
ciencia_tecnologia_y_ambiente     13.222222
comunicacion                      13.762963
educacion_fisica                  13.437037
educacion_para_el_trabajo         13.414815
educacion_religiosa               14.014815
formacion_ciudadana_y_civica      12.674074
hisotoria_geografia_y_economia    13.703704
ingles                            14.214815
matematica                        12.311111
persona_familia_y_rrhh            13.711111
dtype: float64
Mediana notas de cada curso:
ciencia_tecnologia_y_ambiente     13.0
comunicacion                      14.0
educacion_fisica                  13.0
educacion_para_el_trabajo         13.0
educacion_religiosa               14.0
formacion_ciudadana_y_civica      13.0
hisotoria_geografia_y_economia    13.0
ingles                            14.0
matematica                        12.0
persona_familia_y_rrhh            13.0
dtype: float64