## Integrantes:

- Kevin Pareja (20196318)

- Elian Tongombol (20196453)

- Paola Aranda (20196052)

- María Alejandra Colán (20190515)

In [24]:
#Importamos las librerías a emplear
import pandas as pd
import numpy as np
import os

### 1. Map, sapply, apply, función Lambda

Aplique la siguiente función a un vector de 100 numeros aleatorios y a las columnas numericas de la base de datos BDD_compras_consumidores.xlsx

In [25]:
#Creamos 100 números aleatorios con Numpy, los ponemos dentro de una lista y la llamamos vector.
vector= list(np.random.random(100))

#Empleamos una función lambda para x, recreando la función dada. Empleamos map para que la función especificada 
#"lambda x:", se repita para todos los elementos de vector. Ponemos este resultado en formato lista.
list( map( lambda x: (x-min(vector))/(max(vector)-min(vector)) , vector))

[0.8188190662054716,
 0.36771454665271003,
 0.45505289299661733,
 0.7036311671220948,
 0.28873992231392626,
 0.5485743750793883,
 0.10240114826910476,
 0.24487636223588907,
 0.6442383110414142,
 0.21511157620566237,
 0.24600683447798136,
 0.8499537700334249,
 0.05027446021540035,
 0.17318546812242977,
 0.8672285572101909,
 0.11581121066788608,
 1.0,
 0.5101608860717181,
 0.8258033950301081,
 0.8831479680141058,
 0.21484340121071846,
 0.769151127558806,
 0.23635466974391753,
 0.6479798188746382,
 0.10284180815098147,
 0.5501706954507152,
 0.8384933070313481,
 0.08037451387617116,
 0.11709607013688669,
 0.7358346119821053,
 0.27603699176612684,
 0.5780755974092995,
 0.4908931219513145,
 0.3872054435562356,
 0.6313355506469365,
 0.5481094467544818,
 0.37387873447054726,
 0.34487621734229035,
 0.6072331201562267,
 0.28281948099388343,
 0.5109271387416867,
 0.4774730795375875,
 0.3282538061163764,
 0.17362984025875547,
 0.11799878528953714,
 0.7807040373833273,
 0.9452710576993705,
 0.2812022957024449,
 0.625319220555606,
 0.0,
 0.35218850206257396,
 0.28871343749957706,
 0.3666795155111094,
 0.20875160511136592,
 0.6678465667174297,
 0.5357191745209356,
 0.9982397645001919,
 0.4163113697721789,
 0.6548524606858965,
 0.011827351751097812,
 0.10445499327442169,
 0.8757180919236511,
 0.35643842339968845,
 0.10486851755634186,
 0.17129141903152,
 0.560557240146906,
 0.9787727577793419,
 0.555232553101642,
 0.6089207292172963,
 0.15148156303582336,
 0.8082756251403962,
 0.3098878777569467,
 0.34761494172070506,
 0.292443633783756,
 0.4147450338062277,
 0.3562703425084441,
 0.49810989624774504,
 0.392751173121129,
 0.9746486811070385,
 0.735525016730471,
 0.40460963842280323,
 0.15422911017595126,
 0.1500866063478078,
 0.4114986816480412,
 0.020115823703489567,
 0.25541513166442104,
 0.08928673761606422,
 0.7704752609332552,
 0.07735945011846916,
 0.8473015693428001,
 0.06460620638694571,
 0.9292368213724453,
 0.7408306128696297,
 0.6275203796838089,
 0.7554025912838489,
 0.5927782689127518,
 0.009358064722517705,
 0.3750876540392462,
 0.7934979473851492,
 0.1187325564932063]

In [26]:
#Leemos el archivo csv y lo convertimos en una Pandas Dataframe, separando los valores por ";".
datoscsv = pd.read_csv(r"../../data/BDD_compras_consumidores.csv", sep = ";")

#Vemos la Dataframe.
datoscsv

,Channel,Region,Fresh,Milk,Grocery,Frozen,Detergents_Paper,Delicatessen
0,2,3,12669,9656,7561,214,2674,1338
1,2,3,7057,9810,9568,1762,3293,1776
2,2,3,6353,8808,7684,2405,3516,7844
3,1,3,13265,1196,4221,6404,507,1788
4,2,3,22615,5410,7198,3915,1777,5185
...,...,...,...,...,...,...,...,...
435,1,3,29703,12051,16027,13135,182,2204
436,1,3,39228,1431,764,4510,93,2346
437,2,3,14531,15488,30243,437,14841,1867
438,1,3,10290,1981,2232,1038,168,2125
439,1,3,2787,1698,2510,65,477,52

In [27]:
#Seleccionamos solo a las columnas en la posición 2 en adelante, y le aplicamos una función lambda x con apply a lo
#largo de las columnas. 

datoscsv.iloc[:,2:].apply( lambda x: (x-min(x))/(max(x)-min(x)) , axis = 0)

        Fresh      Milk   Grocery    Frozen  Detergents_Paper  Delicatessen
0    0.112940  0.130727  0.081464  0.003106          0.065427      0.027847
1    0.062899  0.132824  0.103097  0.028548          0.080590      0.036984
2    0.056622  0.119181  0.082790  0.039116          0.086052      0.163559
3    0.118254  0.015536  0.045464  0.104842          0.012346      0.037234
4    0.201626  0.072914  0.077552  0.063934          0.043455      0.108093
..        ...       ...       ...       ...               ...           ...
435  0.264829  0.163338  0.172715  0.215469          0.004385      0.045912
436  0.349761  0.018736  0.008202  0.073713          0.002205      0.048874
437  0.129543  0.210136  0.325943  0.006771          0.363463      0.038882
438  0.091727  0.026224  0.024025  0.016649          0.004042      0.044264
439  0.024824  0.022371  0.027022  0.000657          0.011611      0.001022

[440 rows x 6 columns]

### 2. Apply

In [28]:
#Leemos los datos del archibo csv y los convertimos en una Pandas Dataframe, separando por ",".
siagiecsv= pd.read_csv(r"../../data/siagie.csv", sep = ",")
siagiecsv

,id_anio,cod_mod,id_nivel,dsc_grado,id_grado,id_seccion,arte,ciencia_tecnologia_y_ambiente,comunicacion,educacion_fisica,educacion_para_el_trabajo,educacion_religiosa,formacion_ciudadana_y_civica,hisotoria_geografia_y_economia,ingles,matematica,persona_familia_y_rrhh
0,2015,2212,F0,QUINTO,14,1,17,16,16,15,14,15,14,16,16,13,15
1,2015,2212,F0,CUARTO,13,1,12,13,16,14,14,13,14,13,16,13,14
2,2015,2212,F0,SEGUNDO,11,1,17,13,11,13,16,13,12,13,14,12,13
3,2015,2212,F0,SEGUNDO,11,1,14,16,13,13,13,14,13,14,13,13,13
4,2015,2212,F0,PRIMERO,10,1,15,12,11,13,13,16,13,14,13,12,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
130,2015,2212,F0,CUARTO,13,1,12,13,14,15,12,13,14,13,16,12,13
131,2015,2212,F0,CUARTO,13,1,13,11,10,13,11,13,12,12,13,11,13
132,2015,2212,F0,SEGUNDO,11,1,18,18,18,13,17,15,13,17,16,18,16
133,2015,2212,F0,SEGUNDO,11,1,13,13,11,13,12,14,12,12,12,12,13
134,2015,2212,F0,SEGUNDO,11,1,14,15,13,13,14,13,13,13,14,15,13

In [29]:
#Promedio final del alumno. 

#Nos quedamos solo con las columnas de notas de la Dataframe "siagiecsv".
#Aplicamos la función lambda que calcula el promedio de los valores de la fila seleccionada.

siagiecsv.iloc[:,6:].apply(lambda x: np.mean(x), axis = 1)

0      15.181818
1      13.818182
2      13.363636
3      13.545455
4      13.090909
         ...
130    13.363636
131    12.000000
132    16.272727
133    12.454545
134    13.636364
Length: 135, dtype: float64

In [40]:
#Nota más alta de cada alumno

#Nos quedamos solo con las columnas de notas de la Dataframe "siagiecsv".
#Aplicamos la función lambda que encuentra el máximo valor en las filas seleccionadas.

siagiecsv.iloc[:,6:].apply(lambda x: np.max(x), axis = 1)

0      17
1      16
2      17
3      16
4      16
       ..
130    16
131    13
132    18
133    14
134    15
Length: 135, dtype: int64

In [41]:
# Nota más baja de cada alumno
#Nos quedamos solo con las columnas de notas de la Dataframe "siagiecsv".
#Aplicamos la función lambda que encuentra el mínimo valor en las filas seleccionadas.


siagiecsv.iloc[:,6:].apply(lambda x: np.min(x), axis = 1)

0      13
1      12
2      11
3      13
4      11
       ..
130    12
131    10
132    13
133    11
134    13
Length: 135, dtype: int64

In [36]:
#Promedio de cada curso
#Aplicamos la función lambda que calcula el promedio de los valores de las columnas (cursos) seleccionados. 
siagiecsv.iloc[:,6:].apply(lambda x: np.mean(x), axis = 0)

arte                              14.103704
ciencia_tecnologia_y_ambiente     13.222222
comunicacion                      13.762963
educacion_fisica                  13.437037
educacion_para_el_trabajo         13.414815
educacion_religiosa               14.014815
formacion_ciudadana_y_civica      12.674074
hisotoria_geografia_y_economia    13.703704
ingles                            14.214815
matematica                        12.311111
persona_familia_y_rrhh            13.711111
dtype: float64

In [34]:
#Mediana de cada curso
#Aplicamos la función lambda que calcula el promedio de los valores de las columnas (cursos) seleccionados. 
siagiecsv.iloc[:,6:].apply(lambda x: np.median(x), axis = 0)

arte                              14.0
ciencia_tecnologia_y_ambiente     13.0
comunicacion                      14.0
educacion_fisica                  13.0
educacion_para_el_trabajo         13.0
educacion_religiosa               14.0
formacion_ciudadana_y_civica      13.0
hisotoria_geografia_y_economia    13.0
ingles                            14.0
matematica                        12.0
persona_familia_y_rrhh            13.0
dtype: float64

### 3. Funciones

Función para calcular el factorial de un número n!

In [12]:
def factorial(n): #ponemos nombre a la función y se define que el input es n
    if n==0 or n==1: #ponemos 2 condiciones para los casos especiales de factorial
        result=1
    elif n>1: #condicion para lo demás casos
        result=n*factorial(n-1) #se define el result que debe mostrar si cumple n>1
    return result

In [13]:
x=factorial(3) #comprobamos
print(x)

6

Función de masa corporal

In [8]:
def imc(peso,talla): #definimos inputs de la función
    imc1=peso/(talla**2) #ponemos la función a calcular según el concepto del IMC
    imc=round(imc1,4) #se redondea a 4 cifras
    if imc>=18.5 and imc<=24.9: #ponemos los condicionales a los intervalos que se requieren
        return(talla, peso, imc, "Normal") #se pone return para tener las variables outputs
    elif imc>=25 and imc<=29.9:
        return(talla, peso, imc,"Sobrepeso")
    elif imc>=30 and imc<=34.9:
        return(talla, peso, imc,"Obesidad grado I")
    elif imc>=35 and imc<=39.9:
        return(talla, peso, imc,"Obesidad grado II")
    else:
        return(talla, peso, imc, "Obesidad grado III")

In [9]:
#probamos la función para datos del estudiante1
estudiante1=imc(70,1.5) 
print(estudiante1)

(1.5, 70, 31.1111, 'Obesidad grado I')

In [10]:
#probamos la función para datos del estudiante2
estudiante2=imc(80,1.8)
print(estudiante2)

(1.8, 80, 24.6914, 'Normal')

In [11]:
#probamos la función para datos del estudiante3
estudiante3=imc(50,1.6)
print(estudiante3)

(1.6, 50, 19.5312, 'Normal')

Función aplicado a dos activos financieros

In [29]:
#Leemos el archivo csv y lo convertimos en una Pandas Dataframe, separando los valores por ";".
datos = pd.read_csv(r"../../data/Portafolio.csv", sep = ",")

#Vemos la Dataframe.
datos

           X         Y
0  -0.895251 -0.234924
1  -1.562454 -0.885176
2  -0.417090  0.271888
3   1.044356 -0.734198
4  -0.315568  0.841983
..       ...       ...
95  0.479091  1.454774
96 -0.535020 -0.399175
97 -0.773129 -0.957175
98  0.403634  1.396038
99 -0.588496 -0.497285

[100 rows x 2 columns]

In [30]:
# Extraemos los valores de los activos X e Y 
X = datos['X']
Y = datos['Y']

In [31]:
# Calculando los rendimientos
rendimientos_X = X.pct_change().dropna().values
rendimientos_Y = Y.pct_change().dropna().values

Coeficiente de person de dos varaibles aleatorias:

In [36]:
#Creamos y definimos la función pearson
def pearson_varianza(X, Y, rendimientos_X, rendimientos_Y, wX=0.2, wY=0.8):
    
    # El coeficiente de Pearson
    cov = np.cov(rendimientos_X, rendimientos_Y)[0][1]
    std_X = np.std(rendimientos_X)
    std_Y = np.std(rendimientos_Y)
    r = cov / (std_X * std_Y)

    # la varianza del portafolio
    var_X = np.var(rendimientos_X)
    var_Y = np.var(rendimientos_Y)
    var_p = wX**2 * var_X + wY**2 * var_Y + 2 * wX * wY * cov

    return r, var_p

In [37]:
# Calcular el coeficiente de Pearson y la varianza del portafolio
r, var_p = pearson_varianza(X.values, Y.values, rendimientos_X, rendimientos_Y)

In [38]:
print("Coeficiente de Pearson:", r)
print("Varianza del portafolio:", var_p)

Coeficiente de Pearson: -0.06412075880331018
Varianza del portafolio: 40.87679475710514

Keywords especiales _(*args and **kwargs)

In [62]:
#Definimos la función solicitada
def transformacion(*args, escalamiento=True, inverse_hyperbolic_sine=False):
  
    valores_transformados = []

    # Escalamiento
    if escalamiento:
        media = np.mean(args)
        desviacion_estandar = np.std(args)
        valores_transformados.append([(x-min(vector))/(max(vector)-min(vector)) for x in args])

    # Transformación inverse hyperbolic sine
    if inverse_hyperbolic_sine:
        valores_transformados.append([np.log(x + np.sqrt(x**2 + 1)) for x in args])

    return valores_transformados

In [63]:
#Probamos la función con 5 datos:
datos = [1, 2, 3, 4, 5]
transformados = transformacion(*datos, escalamiento=True, inverse_hyperbolic_sine=True)
print(transformados)

NameError: name 'vector' is not defined

In [64]:
# definimos la función
def transformacion(*args, escalamiento=True, inverse_hyperbolic_sine=False):
  
    valores_transformados = []

    # Escalamiento
    if escalamiento:
        minimo = np.min(args)
        maximo = np.max(args)
        valores_transformados.append([(x - minimo) / (maximo - minimo) for x in args])

    # Transformación inverse hyperbolic sine
    if inverse_hyperbolic_sine:
        valores_transformados.append([np.log(x + np.sqrt(x**2 + 1)) for x in args])

    return valores_transformados

In [65]:
#Probamos la función con 5 datos:
datos = [1, 2, 3, 4, 5]
transformados = transformacion(*datos, escalamiento=True, inverse_hyperbolic_sine=True)
print(transformados)

[[0.0, 0.25, 0.5, 0.75, 1.0], [0.8813735870195429, 1.4436354751788103, 1.8184464592320668, 2.0947125472611012, 2.3124383412727525]]