In [6]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n-1)
print(factorial(4))

24

In [2]:
def calcular_imc(peso, talla):
    imc = peso / (talla**2)
    if 18.5 <= imc < 24.9:
        clasificacion = "Promedio"
    elif 25 <= imc < 29.9:
        clasificacion = "Aumentado"
    elif 30 <= imc < 34.9 :
        clasificacion = "Moderado"
    elif 35 <= imc < 39.9 :
        clasificacion = "Severo"
    else:
        clasificacion = "Muy Severo"
    return peso, talla, imc, clasificacion

# Datos de los estudiantes
estudiante1_peso = 70
estudiante1_talla = 1.5
estudiante2_peso = 85
estudiante2_talla = 1.8
estudiante3_peso = 50
estudiante3_talla = 1.6

# Cálculo del IMC y clasificación para cada estudiante
estudiante1_peso, estudiante1_talla, estudiante1_imc, estudiante1_clasificacion = calcular_imc(estudiante1_peso, estudiante1_talla)
estudiante2_peso, estudiante2_talla, estudiante2_imc, estudiante2_clasificacion = calcular_imc(estudiante2_peso, estudiante2_talla)
estudiante3_peso, estudiante3_talla, estudiante3_imc, estudiante3_clasificacion = calcular_imc(estudiante3_peso, estudiante3_talla)

# Imprimir resultados
print("Estudiante 1 - Peso:", estudiante1_peso, "Talla:", estudiante1_talla, "IMC:", estudiante1_imc, "Clasificación:", estudiante1_clasificacion)
print("Estudiante 2 - Peso:", estudiante2_peso, "Talla:", estudiante2_talla, "IMC:", estudiante2_imc, "Clasificación:", estudiante2_clasificacion)
print("Estudiante 3 - Peso:", estudiante3_peso, "Talla:", estudiante3_talla, "IM" , estudiante3_imc, "Clasificación:", estudiante3_clasificacion)

Estudiante 1 - Peso: 70 Talla: 1.5 IMC: 31.11111111111111 Clasificación: Moderado
Estudiante 2 - Peso: 85 Talla: 1.8 IMC: 26.234567901234566 Clasificación: Aumentado
Estudiante 3 - Peso: 50 Talla: 1.6 IM 19.531249999999996 Clasificación: Promedio

In [5]:
import pandas as pd
import numpy as np
import os

In [6]:
os.getcwd()

'C:\\Users\\Allison\\Documents\\GitHub\\GITHUB\\1ECO35_2023_1\\Lectures\\Lecture_4'

In [7]:
datos_excel = pd.read_csv(r"../../data/Portafolio.csv")
datos_excel

           X         Y
0  -0.895251 -0.234924
1  -1.562454 -0.885176
2  -0.417090  0.271888
3   1.044356 -0.734198
4  -0.315568  0.841983
..       ...       ...
95  0.479091  1.454774
96 -0.535020 -0.399175
97 -0.773129 -0.957175
98  0.403634  1.396038
99 -0.588496 -0.497285

[100 rows x 2 columns]

In [ ]:

# Datos

# Coeficiente de correlación
mean_x = sum(X) / len(X)
mean_y = sum(activo_y) / len(activo_y)

var_x = sum((x - mean_x) ** 2 for x in activo_x) / (len(activo_x) - 1)
var_y = sum((y - mean_y) ** 2 for y in activo_y) / (len(activo_y) - 1)

std_x = math.sqrt(var_x)
std_y = math.sqrt(var_y)

cov_xy = sum((activo_x[i] - mean_x) * (activo_y[i] - mean_y) for i in range(len(activo_x))) / (len(activo_x) - 1)

corr_xy = cov_xy/(std_x * std_y)

# Varianza del portafolio
peso_x = 0.2
peso_y = 0.8

var_port = (peso_x**2 * var_x) + (peso_y**2 * var_y) + (2 * peso_x * peso_y * corr_xy * std_x * std_y)

# Imprimiendo resultados
print("Coeficiente de Correlación de Pearson:", corr_xy)
print("Varianza del Portafolio:", var_port)

In [8]:
mean_x = sum(X) / len(X)

NameError: name 'X' is not defined