# Laboratorio 1 Python

### author: Roberto Mendoza

## <a id='1.0'> 1.0 Types of variables  </a>

In [3]:
print("Hola Mundo")

Hola Mundo

In [1]:
a1 = 3.141

type(a1)

## Ctrl + Enter

float

In [ ]:
# Añadir nueva liena de codigo botón: B 
# Borrar linea de codigo con: DD
# recuperar : Z

# pasar de código a comentario : Ctrl + / , Ctrol + }

# unir celdas de código : Shift + M
# dividir celdas de código : Ctrl + Shit + - (guión)

# seleccionar varias lineas de codigo  Shift + tecla hacia abajo o arriba

In [ ]:
# from float to int 

c = int(a1)
type(c)

b1 = 10000
type(b1)

In [17]:
# from int to float 

float(b1)

b2 = 8
type(b2)

int

In [20]:
c1 = "My first python code"  # "My first python code" usando doble comilla
print(c1)  # show that varaible's content
type(c1) # providing varaibles's type

My first python code

str

In [2]:
# including a space using \n

c1 = "First python code"
c2 = "at R y python Class"
print(c1,'\n',c2)

First python code
 at R y python Class

In [22]:
# join string 

print(c1 + " : " + c2)

First python code : at R y python Class

In [23]:
# f-string

print(f'{c1} : semester 2022-1')

First python code : semester 2022-1

In [1]:
d = 2022

In [3]:
print(f'{c1} : semester {d}-1')

First python code : semester 2022-1

In [23]:
print('{} : semester {}-1'.format(c1,d))

First python code : semester 2022-1

In [25]:
# Substr elements from string

c1[0:5]

'First'

In [17]:
#first character
print('Fisrt letter is :',c1[0])

Fisrt letter is : F

In [35]:
#first word
print('Fisrt word is :',c1[0:5])

Fisrt word is : First

## <a id='1.2'> 1.2 Boolean  </a> 

It’s used to represent the truth value of an expression.

In [26]:
"a" == "a"

True

In [27]:
1 > 1

False

In [28]:
z1 = (1==1)
z1

True

In [29]:
int(z1)  # true is 1 in numerical system

1

In [30]:
z2 = (10 > 20) 
int(z2) # false is 0 in numerical system

0

## <a id='1.3'> 1.3 Tuple  </a> 

It is an ordered and immutable Python object

In [31]:
T1 = (1,4,8,10,20,15,4,5,3,8)

type(T1)

tuple

In [52]:
# aritmethic operations

print('Suma:', sum(T1),"\n", "Minimo:", min(T1), '\n', "Maximo:", max(T1))

Suma: 78
 Minimo: 1
 Maximo: 20

In [53]:
len(T1) # lenght of tuple

10

## Indexing Tuple (importante)

In [32]:
T1 = (1,4,8,10,20,15,4,5,3,8)


T1[0]

4

In [62]:
T1[0:5] # desde la posición 0 hasta el 4

(1, 4, 8, 10, 20)

In [30]:
T1[1] # get tuple's element

4

In [31]:
T1[0:3]

(1, 4, 8)

In [33]:
# It is not possible to change
T1[0] = 4

TypeError: 'tuple' object does not support item assignment

In [35]:
T1 = (1,4,8,10,20,15,4,5,3,8)
#                   -3,-2,-1
T1[-3:-1]

(5, 3)

In [36]:
#position
T1.index(8)

2