In [34]:
import pandas as pd
import numpy as np
import xlrd # excel files
import os

In [2]:
# por default, el directorio de trabajo es el archivo donde se guarda el script

os.getcwd()

'C:\\Users\\Roberto\\Documents\\GitHub\\1ECO35_2023_1\\Lectures\\Lecture_4'

In [10]:
# Set new working directory en working directory 

# os.chdir("C:/Users/Roberto/Documents/GitHub")
# os.getcwd()

'C:\\Users\\Roberto\\Documents\\GitHub'

## Lectura de base de datos

In [17]:
datoscsv = pd.read_csv(r"../../data/Riesgo_morosidad.csv")
datoscsv

     edad;sexo;nrodepen;fonopart;fonolab;autovaluo;esaval;tieneaval;antiguedad;tiporenta;dpto;morosidad
0                             44;2;3;2;2;1;1;1;63;2;1;1
1                             77;2;4;2;2;1;1;2;62;2;1;2
2                             59;2;5;1;1;1;2;1;59;2;1;2
3                             35;2;5;1;2;1;1;1;58;2;1;2
4                             65;2;0;2;1;1;2;1;56;2;1;1
...                                                 ...
8466                           57;2;5;1;1;1;2;2;0;2;6;2
8467                           57;2;3;2;1;1;1;2;0;2;6;1
8468                           64;2;1;2;1;2;1;1;0;2;6;1
8469                           67;1;0;2;1;2;1;2;0;2;6;1
8470                           69;2;1;1;1;1;2;1;0;2;6;1

[8471 rows x 1 columns]

In [8]:
# Los datos están separados por ;

datoscsv = pd.read_csv(r"../../data/Riesgo_morosidad.csv", sep = ";")
datoscsv.info()
datoscsv

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8471 entries, 0 to 8470
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   edad        8471 non-null   int64
 1   sexo        8471 non-null   int64
 2   nrodepen    8471 non-null   int64
 3   fonopart    8471 non-null   int64
 4   fonolab     8471 non-null   int64
 5   autovaluo   8471 non-null   int64
 6   esaval      8471 non-null   int64
 7   tieneaval   8471 non-null   int64
 8   antiguedad  8471 non-null   int64
 9   tiporenta   8471 non-null   int64
 10  dpto        8471 non-null   int64
 11  morosidad   8471 non-null   int64
dtypes: int64(12)
memory usage: 794.3 KB

,edad,sexo,nrodepen,fonopart,fonolab,autovaluo,esaval,tieneaval,antiguedad,tiporenta,dpto,morosidad
0,44,2,3,2,2,1,1,1,63,2,1,1
1,77,2,4,2,2,1,1,2,62,2,1,2
2,59,2,5,1,1,1,2,1,59,2,1,2
3,35,2,5,1,2,1,1,1,58,2,1,2
4,65,2,0,2,1,1,2,1,56,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8466,57,2,5,1,1,1,2,2,0,2,6,2
8467,57,2,3,2,1,1,1,2,0,2,6,1
8468,64,2,1,2,1,2,1,1,0,2,6,1
8469,67,1,0,2,1,2,1,2,0,2,6,1
8470,69,2,1,1,1,1,2,1,0,2,6,1

In [11]:
# archivos .txt

datost = pd.read_table(r"../../data/Riesgo_morosidad.dat", sep="\t")
datost

,edad,sexo,nrodepen,fonopart,fonolab,autovaluo,esaval,tieneaval,antiguedad,tiporenta,dpto,morosidad
0,44,2,3,2,2,1,1,1,63,2,1,1
1,77,2,4,2,2,1,1,2,62,2,1,2
2,59,2,5,1,1,1,2,1,59,2,1,2
3,35,2,5,1,2,1,1,1,58,2,1,2
4,65,2,0,2,1,1,2,1,56,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8466,57,2,5,1,1,1,2,2,0,2,6,2
8467,57,2,3,2,1,1,1,2,0,2,6,1
8468,64,2,1,2,1,2,1,1,0,2,6,1
8469,67,1,0,2,1,2,1,2,0,2,6,1
8470,69,2,1,1,1,1,2,1,0,2,6,1

In [26]:
# read spss (.sav)

pd.read_spss( r"../../data/Riesgo_morosidad.sav")

,edad,sexo,nrodepen,fonopart,fonolab,autovaluo,esaval,tieneaval,antiguedad,tiporenta,dpto,morosidad
0,44.0,Masculino,3.0,Si,Si,No,No,No,63.0,Fijo,Lima,No Moroso
1,77.0,Masculino,4.0,Si,Si,No,No,Si,62.0,Fijo,Lima,Moroso
2,59.0,Masculino,5.0,No,No,No,Si,No,59.0,Fijo,Lima,Moroso
3,35.0,Masculino,5.0,No,Si,No,No,No,58.0,Fijo,Lima,Moroso
4,65.0,Masculino,0.0,Si,No,No,Si,No,56.0,Fijo,Lima,No Moroso
...,...,...,...,...,...,...,...,...,...,...,...,...
8466,57.0,Masculino,5.0,No,No,No,Si,Si,0.0,Fijo,Piura,Moroso
8467,57.0,Masculino,3.0,Si,No,No,No,Si,0.0,Fijo,Piura,No Moroso
8468,64.0,Masculino,1.0,Si,No,Si,No,No,0.0,Fijo,Piura,No Moroso
8469,67.0,Femenino,0.0,Si,No,Si,No,Si,0.0,Fijo,Piura,No Moroso
8470,69.0,Masculino,1.0,No,No,No,Si,No,0.0,Fijo,Piura,No Moroso

In [27]:
# read spss (.sav)

datospss = pd.read_spss( r"../../data/Riesgo_morosidad.sav", convert_categoricals= False)
datospss

# convert_categoricals= False : las etiquetas no son parte de los datos.

,edad,sexo,nrodepen,fonopart,fonolab,autovaluo,esaval,tieneaval,antiguedad,tiporenta,dpto,morosidad
0,44.0,2.0,3.0,2.0,2.0,1.0,1.0,1.0,63.0,2.0,1.0,1.0
1,77.0,2.0,4.0,2.0,2.0,1.0,1.0,2.0,62.0,2.0,1.0,2.0
2,59.0,2.0,5.0,1.0,1.0,1.0,2.0,1.0,59.0,2.0,1.0,2.0
3,35.0,2.0,5.0,1.0,2.0,1.0,1.0,1.0,58.0,2.0,1.0,2.0
4,65.0,2.0,0.0,2.0,1.0,1.0,2.0,1.0,56.0,2.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...
8466,57.0,2.0,5.0,1.0,1.0,1.0,2.0,2.0,0.0,2.0,6.0,2.0
8467,57.0,2.0,3.0,2.0,1.0,1.0,1.0,2.0,0.0,2.0,6.0,1.0
8468,64.0,2.0,1.0,2.0,1.0,2.0,1.0,1.0,0.0,2.0,6.0,1.0
8469,67.0,1.0,0.0,2.0,1.0,2.0,1.0,2.0,0.0,2.0,6.0,1.0
8470,69.0,2.0,1.0,1.0,1.0,1.0,2.0,1.0,0.0,2.0,6.0,1.0

In [28]:
import savReaderWriter as sav 


with sav.SavHeaderReader( r"../../data/Riesgo_morosidad.sav", ioUtf8=True) as header:
    metadata = header.all() 
    labels_enapres2020_1 = metadata.valueLabels  # values' label 
    var_labels_enapres2020_1 = metadata.varLabels # variables' label

In [29]:
print(labels_enapres2020_1, "\n")
var_labels_enapres2020_1

{'sexo': {1.0: 'Femenino', 2.0: 'Masculino'}, 'fonopart': {1.0: 'No', 2.0: 'Si'}, 'fonolab': {1.0: 'No', 2.0: 'Si'}, 'autovaluo': {1.0: 'No', 2.0: 'Si'}, 'esaval': {1.0: 'No', 2.0: 'Si'}, 'tieneaval': {1.0: 'No', 2.0: 'Si'}, 'tiporenta': {2.0: 'Fijo', 3.0: 'Variable'}, 'dpto': {1.0: 'Lima', 2.0: 'Trujillo', 3.0: 'Arequipa', 4.0: 'Cusco', 5.0: 'Ica', 6.0: 'Piura'}, 'morosidad': {1.0: 'No Moroso', 2.0: 'Moroso'}}

{'edad': 'Edad',
 'sexo': 'Sexo',
 'nrodepen': 'Número de Dependientes',
 'fonopart': '¿Tiene teléfono particular?',
 'fonolab': '¿Tiene teléfono en el trabajo?',
 'autovaluo': '¿Presenta autovaluo?',
 'esaval': '¿Es aval de otros clientes?',
 'tieneaval': '¿Tiene aval?',
 'antiguedad': 'Antiguedad en años',
 'tiporenta': 'Tipo de renta',
 'dpto': 'Departamento',
 'morosidad': 'Morosidad'}

In [31]:
# adding labels to variables enapres2020_1 from pandas 

datospss.attrs[ 'value_labels' ] = labels_enapres2020_1 # value's labels 
datospss.attrs[ 'var_labels' ] = var_labels_enapres2020_1 # var labels

In [32]:
# Etiqueta de valores

datospss.attrs[ 'value_labels' ]

{'sexo': {1.0: 'Femenino', 2.0: 'Masculino'},
 'fonopart': {1.0: 'No', 2.0: 'Si'},
 'fonolab': {1.0: 'No', 2.0: 'Si'},
 'autovaluo': {1.0: 'No', 2.0: 'Si'},
 'esaval': {1.0: 'No', 2.0: 'Si'},
 'tieneaval': {1.0: 'No', 2.0: 'Si'},
 'tiporenta': {2.0: 'Fijo', 3.0: 'Variable'},
 'dpto': {1.0: 'Lima',
  2.0: 'Trujillo',
  3.0: 'Arequipa',
  4.0: 'Cusco',
  5.0: 'Ica',
  6.0: 'Piura'},
 'morosidad': {1.0: 'No Moroso', 2.0: 'Moroso'}}

In [33]:
# Etiquetas de variables
datospss.attrs[ 'var_labels' ]

{'edad': 'Edad',
 'sexo': 'Sexo',
 'nrodepen': 'Número de Dependientes',
 'fonopart': '¿Tiene teléfono particular?',
 'fonolab': '¿Tiene teléfono en el trabajo?',
 'autovaluo': '¿Presenta autovaluo?',
 'esaval': '¿Es aval de otros clientes?',
 'tieneaval': '¿Tiene aval?',
 'antiguedad': 'Antiguedad en años',
 'tiporenta': 'Tipo de renta',
 'dpto': 'Departamento',
 'morosidad': 'Morosidad'}

In [40]:
# import excel files

datos_xlsx = pd.read_excel("../../data/Riesgo_morosidad.xlsx")
datos_xlsx

,edad,sexo,nrodepen,fonopart,fonolab,autovaluo,esaval,tieneaval,antiguedad,tiporenta,dpto,morosidad
0,44,2,3,2,2,1,1,1,63,2,1,1
1,77,2,4,2,2,1,1,2,62,2,1,2
2,59,2,5,1,1,1,2,1,59,2,1,2
3,35,2,5,1,2,1,1,1,58,2,1,2
4,65,2,0,2,1,1,2,1,56,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8466,57,2,5,1,1,1,2,2,0,2,6,2
8467,57,2,3,2,1,1,1,2,0,2,6,1
8468,64,2,1,2,1,2,1,1,0,2,6,1
8469,67,1,0,2,1,2,1,2,0,2,6,1
8470,69,2,1,1,1,1,2,1,0,2,6,1

In [43]:
datos_xls = pd.read_excel("../../data/Riesgo_morosidad.xls")
datos_xls

,edad,sexo,nrodepen,fonopart,fonolab,autovaluo,esaval,tieneaval,antiguedad,tiporenta,dpto,morosidad
0,44,2,3,2,2,1,1,1,63,2,1,1
1,77,2,4,2,2,1,1,2,62,2,1,2
2,59,2,5,1,1,1,2,1,59,2,1,2
3,35,2,5,1,2,1,1,1,58,2,1,2
4,65,2,0,2,1,1,2,1,56,2,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
8466,57,2,5,1,1,1,2,2,0,2,6,2
8467,57,2,3,2,1,1,1,2,0,2,6,1
8468,64,2,1,2,1,2,1,1,0,2,6,1
8469,67,1,0,2,1,2,1,2,0,2,6,1
8470,69,2,1,1,1,1,2,1,0,2,6,1

In [46]:
# read special characters 

netflix = pd.read_csv("../../data/netflix_titles.csv") # por default UTF-8 para caracteres especiales y lectura de missing 
netflix

# missing NaN

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

## Limpieza de base de datos

In [50]:

bbdd = pd.read_csv(r"../../data/paises.csv")
bbdd

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
0,Afganistán,Asia,1952,28.801,8425333,779.445314
1,Afganistán,Asia,1957,30.332,9240934,820.853030
2,Afganistán,Asia,1962,31.997,10267083,853.100710
3,Afganistán,Asia,1967,34.020,11537966,836.197138
4,Afganistán,Asia,1972,36.088,13079460,739.981106
...,...,...,...,...,...,...
1699,Zimbabue,África,1987,62.351,9216418,706.157306
1700,Zimbabue,África,1992,60.377,10704340,693.420786
1701,Zimbabue,África,1997,46.809,11404948,792.449960
1702,Zimbabue,África,2002,39.989,11926563,672.038623
1703,Zimbabue,África,2007,43.487,12311143,469.709298

In [51]:
# tipo de variables 
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pais               1704 non-null   object
 1   continente         1704 non-null   object
 2   anio               1704 non-null   int64
 3   esperanza_de_vida  1704 non-null   float64
 4   poblacion          1704 non-null   int64
 5   pib_per_capita     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [52]:
# dimensiones de la base de datos
print(bbdd.shape, "\n")
print("Esdadisticas de variables numericas: \n \n",bbdd.describe())

(1704, 6)

Esdadisticas de variables numericas:

              anio  esperanza_de_vida     poblacion  pib_per_capita
count  1704.00000        1704.000000  1.704000e+03     1704.000000
mean   1979.50000          59.474439  2.960121e+07     7215.327081
std      17.26533          12.917107  1.061579e+08     9857.454543
min    1952.00000          23.599000  6.001100e+04      241.165876
25%    1965.75000          48.198000  2.793664e+06     1202.060309
50%    1979.50000          60.712500  7.023596e+06     3531.846988
75%    1993.25000          70.845500  1.958522e+07     9325.462346
max    2007.00000          82.603000  1.318683e+09   113523.132900

In [53]:
# check missing variables 

print(bbdd.isna().sum())

pais                 0
continente           0
anio                 0
esperanza_de_vida    0
poblacion            0
pib_per_capita       0
dtype: int64

In [54]:
# Tabular: contabilizar los diferentes valores que toma una variable

bbdd.continente.value_counts()

África      624
Asia        396
Europa      360
Américas    300
Oceanía      24
Name: continente, dtype: int64

In [55]:
# tabulación cruzada 

pd.crosstab(bbdd.anio, bbdd.continente)

continente  Américas  Asia  Europa  Oceanía  África
anio
1952              25    33      30        2      52
1957              25    33      30        2      52
1962              25    33      30        2      52
1967              25    33      30        2      52
1972              25    33      30        2      52
1977              25    33      30        2      52
1982              25    33      30        2      52
1987              25    33      30        2      52
1992              25    33      30        2      52
1997              25    33      30        2      52
2002              25    33      30        2      52
2007              25    33      30        2      52

## Filtro

In [56]:
# Nos quedamos con el año 1957

bbdd[bbdd.anio == 1957]

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
1,Afganistán,Asia,1957,30.332,9240934,820.853030
13,Albania,Europa,1957,59.280,1476505,1942.284244
25,Argelia,África,1957,45.685,10270856,3013.976023
37,Angola,África,1957,31.999,4561361,3827.940465
49,Argentina,Américas,1957,64.399,19610538,6856.856212
...,...,...,...,...,...,...
1645,Vietnam,Asia,1957,42.887,28998543,676.285448
1657,Territorios Palestinos,Asia,1957,45.671,1070439,1827.067742
1669,Yemen,Asia,1957,33.970,5498090,804.830455
1681,Zambia,África,1957,44.077,3016000,1311.956766
1693,Zimbabue,África,1957,50.469,3646340,518.764268

In [57]:
# Nos quedamos con un año diferentes a 1957

bbdd[  bbdd.anio != 1957]

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
0,Afganistán,Asia,1952,28.801,8425333,779.445314
2,Afganistán,Asia,1962,31.997,10267083,853.100710
3,Afganistán,Asia,1967,34.020,11537966,836.197138
4,Afganistán,Asia,1972,36.088,13079460,739.981106
5,Afganistán,Asia,1977,38.438,14880372,786.113360
...,...,...,...,...,...,...
1699,Zimbabue,África,1987,62.351,9216418,706.157306
1700,Zimbabue,África,1992,60.377,10704340,693.420786
1701,Zimbabue,África,1997,46.809,11404948,792.449960
1702,Zimbabue,África,2002,39.989,11926563,672.038623
1703,Zimbabue,África,2007,43.487,12311143,469.709298

In [58]:
# multiples filtros

bbdd[(bbdd.pais == "China") & (bbdd.anio == 2002)]

# colocar cada condición en parentesis

      pais continente  anio  esperanza_de_vida   poblacion  pib_per_capita
298  China       Asia  2002             72.028  1280400000     3119.280896

In [59]:
# Chile y Peru

bbdd[(bbdd.pais == "Chile") | (bbdd.pais == "Perú")]

       pais continente  anio  esperanza_de_vida  poblacion  pib_per_capita
276   Chile   Américas  1952             54.745    6377619     3939.978789
277   Chile   Américas  1957             56.074    7048426     4315.622723
278   Chile   Américas  1962             57.924    7961258     4519.094331
279   Chile   Américas  1967             60.523    8858908     5106.654313
280   Chile   Américas  1972             63.441    9717524     5494.024437
281   Chile   Américas  1977             67.052   10599793     4756.763836
282   Chile   Américas  1982             70.565   11487112     5095.665738
283   Chile   Américas  1987             72.492   12463354     5547.063754
284   Chile   Américas  1992             74.126   13572994     7596.125964
285   Chile   Américas  1997             75.816   14599929    10118.053180
286   Chile   Américas  2002             77.860   15497046    10778.783850
287   Chile   Américas  2007             78.553   16284741    13171.638850
1200   Perú   Américas  1952             43.902    8025700     3758.523437
1201   Perú   Américas  1957             46.263    9146100     4245.256698
1202   Perú   Américas  1962             49.096   10516500     4957.037982
1203   Perú   Américas  1967             51.445   12132200     5788.093330
1204   Perú   Américas  1972             55.448   13954700     5937.827283
1205   Perú   Américas  1977             58.447   15990099     6281.290855
1206   Perú   Américas  1982             61.406   18125129     6434.501797
1207   Perú   Américas  1987             64.134   20195924     6360.943444
1208   Perú   Américas  1992             66.458   22430449     4446.380924
1209   Perú   Américas  1997             68.386   24748122     5838.347657
1210   Perú   Américas  2002             69.906   26769436     5909.020073
1211   Perú   Américas  2007             71.421   28674757     7408.905561

In [60]:
# isin([])  es el equivalente a %in% de R 

bbdd[ (bbdd.pais == "Perú") & (bbdd.anio.isin([1997,2002,2007]))]

      pais continente  anio  esperanza_de_vida  poblacion  pib_per_capita
1209  Perú   Américas  1997             68.386   24748122     5838.347657
1210  Perú   Américas  2002             69.906   26769436     5909.020073
1211  Perú   Américas  2007             71.421   28674757     7408.905561

In [61]:
#  Ordenando observaciones según la esperanza de vida 

bbdd.sort_values("esperanza_de_vida")

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
1292,Ruanda,África,1992,23.599,7290203,737.068595
0,Afganistán,Asia,1952,28.801,8425333,779.445314
552,Gambia,África,1952,30.000,284320,485.230659
36,Angola,África,1952,30.015,4232095,3520.610273
1344,Sierra Leona,África,1952,30.331,2143249,879.787736
...,...,...,...,...,...,...
1487,Suiza,Europa,2007,81.701,7554661,37506.419070
695,Islandia,Europa,2007,81.757,301931,36180.789190
802,Japón,Asia,2002,82.000,127065841,28604.591900
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670
803,Japón,Asia,2007,82.603,127467972,31656.068060

In [62]:
bbdd

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
0,Afganistán,Asia,1952,28.801,8425333,779.445314
1,Afganistán,Asia,1957,30.332,9240934,820.853030
2,Afganistán,Asia,1962,31.997,10267083,853.100710
3,Afganistán,Asia,1967,34.020,11537966,836.197138
4,Afganistán,Asia,1972,36.088,13079460,739.981106
...,...,...,...,...,...,...
1699,Zimbabue,África,1987,62.351,9216418,706.157306
1700,Zimbabue,África,1992,60.377,10704340,693.420786
1701,Zimbabue,África,1997,46.809,11404948,792.449960
1702,Zimbabue,África,2002,39.989,11926563,672.038623
1703,Zimbabue,África,2007,43.487,12311143,469.709298

In [63]:
# asignando la nueva base de datos

bbdd = bbdd.sort_values("esperanza_de_vida")
bbdd

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
1292,Ruanda,África,1992,23.599,7290203,737.068595
0,Afganistán,Asia,1952,28.801,8425333,779.445314
552,Gambia,África,1952,30.000,284320,485.230659
36,Angola,África,1952,30.015,4232095,3520.610273
1344,Sierra Leona,África,1952,30.331,2143249,879.787736
...,...,...,...,...,...,...
1487,Suiza,Europa,2007,81.701,7554661,37506.419070
695,Islandia,Europa,2007,81.757,301931,36180.789190
802,Japón,Asia,2002,82.000,127065841,28604.591900
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670
803,Japón,Asia,2007,82.603,127467972,31656.068060

In [64]:
# ordenamiento de forma descendente 

bbdd.sort_values("esperanza_de_vida", ascending = False, inplace = True)
bbdd

# algunas fuciones de limpieza de datos como sort_values, rename, drop, etc permiten actualizar la base de datos 
# Solo se debe incluir el argumento inplace = True

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
803,Japón,Asia,2007,82.603,127467972,31656.068060
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670
802,Japón,Asia,2002,82.000,127065841,28604.591900
695,Islandia,Europa,2007,81.757,301931,36180.789190
1487,Suiza,Europa,2007,81.701,7554661,37506.419070
...,...,...,...,...,...,...
1344,Sierra Leona,África,1952,30.331,2143249,879.787736
36,Angola,África,1952,30.015,4232095,3520.610273
552,Gambia,África,1952,30.000,284320,485.230659
0,Afganistán,Asia,1952,28.801,8425333,779.445314
1292,Ruanda,África,1992,23.599,7290203,737.068595

In [65]:
# Filtrando y ordenando

bbdd[bbdd.anio == 1957].sort_values("esperanza_de_vida")

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
1,Afganistán,Asia,1957,30.332,9240934,820.853030
1345,Sierra Leona,África,1957,31.570,2295678,1004.484437
37,Angola,África,1957,31.999,4561361,3827.940465
553,Gambia,África,1957,32.065,323150,520.926711
625,Guinea Bissau,África,1957,33.489,601095,431.790457
...,...,...,...,...,...,...
409,Dinamarca,Europa,1957,71.810,4487831,11099.659350
1465,Suecia,Europa,1957,72.490,7363802,9911.878226
1081,Países Bajos,Europa,1957,72.990,11026383,11276.193440
1141,Noruega,Europa,1957,73.440,3491938,11653.973040
685,Islandia,Europa,1957,73.470,165110,9244.001412

In [67]:
#      Ejercicio  1  #
# Muestre la información de Europa del año 1987 ordenada 
# según el PIB de manera descendente

In [66]:
# creación de variables 

bbdd['esperanza_de_vida_meses'] = 12*bbdd['esperanza_de_vida']
bbdd['pbipc_miles'] = bbdd['pib_per_capita']/1000

## Filtro de columnas y filas (.loc)

- .loc permite filtrar filas o columnas usando el nombre de las filas o columnas

In [68]:
# selección de columnas 

bbdd.loc[:,["pais","anio","poblacion"]]

# : selecciona todas las filas

                  pais  anio  poblacion
803              Japón  2007  127467972
671   Hong Kong, China  2007    6980412
802              Japón  2002  127065841
695           Islandia  2007     301931
1487             Suiza  2007    7554661
...                ...   ...        ...
1344      Sierra Leona  1952    2143249
36              Angola  1952    4232095
552             Gambia  1952     284320
0           Afganistán  1952    8425333
1292            Ruanda  1992    7290203

[1704 rows x 3 columns]

In [72]:
# selección de filas según el indexing

bbdd.loc[[803,552,36,671],:]

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita,esperanza_de_vida_meses,pbipc_miles
803,Japón,Asia,2007,82.603,127467972,31656.068060,991.236,31.656068
552,Gambia,África,1952,30.000,284320,485.230659,360.000,0.485231
36,Angola,África,1952,30.015,4232095,3520.610273,360.180,3.520610
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670,986.496,39.724979

## Filtro de columnas y filas (.iloc)

- .iloc permite filtrar filas o columnas usando la posición respectiva

In [81]:
print(bbdd.iloc[:,[0,2,4]]) # selección columnas posición 0, 2 y 4

bbdd.iloc[:,:3]  # selección de las columnas 0,1y2

                  pais  anio  poblacion
803              Japón  2007  127467972
671   Hong Kong, China  2007    6980412
802              Japón  2002  127065841
695           Islandia  2007     301931
1487             Suiza  2007    7554661
...                ...   ...        ...
1344      Sierra Leona  1952    2143249
36              Angola  1952    4232095
552             Gambia  1952     284320
0           Afganistán  1952    8425333
1292            Ruanda  1992    7290203

[1704 rows x 3 columns]

                  pais continente  anio
803              Japón       Asia  2007
671   Hong Kong, China       Asia  2007
802              Japón       Asia  2002
695           Islandia     Europa  2007
1487             Suiza     Europa  2007
...                ...        ...   ...
1344      Sierra Leona     África  1952
36              Angola     África  1952
552             Gambia     África  1952
0           Afganistán       Asia  1952
1292            Ruanda     África  1992

[1704 rows x 3 columns]

In [96]:
bbdd.iloc[:,0:3]  # selección de las columnas consecutivas 0:2 y la columan posición 4

                  pais continente  anio
803              Japón       Asia  2007
671   Hong Kong, China       Asia  2007
802              Japón       Asia  2002
695           Islandia     Europa  2007
1487             Suiza     Europa  2007
...                ...        ...   ...
1344      Sierra Leona     África  1952
36              Angola     África  1952
552             Gambia     África  1952
0           Afganistán       Asia  1952
1292            Ruanda     África  1992

[1704 rows x 3 columns]

In [97]:
# Seleccionar la ultima columna ?#

In [ ]:
#      Ejercicio 2   #

# población en millones, año 2007, países de áfrica

### Select columns

In [98]:
bbdd[['pais', 'anio', 'poblacion']]   # selección de 3 variables

                  pais  anio  poblacion
803              Japón  2007  127467972
671   Hong Kong, China  2007    6980412
802              Japón  2002  127065841
695           Islandia  2007     301931
1487             Suiza  2007    7554661
...                ...   ...        ...
1344      Sierra Leona  1952    2143249
36              Angola  1952    4232095
552             Gambia  1952     284320
0           Afganistán  1952    8425333
1292            Ruanda  1992    7290203

[1704 rows x 3 columns]

In [99]:
bbdd[['pais', 'anio', 'poblacion']].iloc[100:]

               pais  anio  poblacion
798           Japón  1982  118454974
850     Corea, Rep.  2002   47969150
596          Grecia  1992   10325429
690        Islandia  1982     233997
1510  Taiwán, China  2002   22454239
...             ...   ...        ...
1344   Sierra Leona  1952    2143249
36           Angola  1952    4232095
552          Gambia  1952     284320
0        Afganistán  1952    8425333
1292         Ruanda  1992    7290203

[1604 rows x 3 columns]

In [100]:
bbdd[['pais', 'anio', 'poblacion']].iloc[100:151]

                  pais  anio  poblacion
798              Japón  1982  118454974
850        Corea, Rep.  2002   47969150
596             Grecia  1992   10325429
690           Islandia  1982     233997
1510     Taiwán, China  2002   22454239
764             Israel  1992    4936550
862             Kuwait  2002    2111561
1423            España  1987   38880702
247             Canadá  1987   26549700
1087      Países Bajos  1987   14665278
1617    Estados Unidos  1997  272911760
595             Grecia  1987    9974490
1390         Eslovenia  2002    2011497
407    República Checa  2007   10228744
116            Bélgica  1992   10045622
1271           Reunión  2007     798094
23             Albania  2007    3600523
775             Italia  1987   56729703
1470            Suecia  1982    8325260
1604       Reino Unido  1992   57866349
1631           Uruguay  2007    3447496
535            Francia  1987   55630100
1100     Nueva Zelanda  1992    3437674
67           Australia  1987   16257249
1422            España  1982   37983310
1482             Suiza  1982    6468126
667   Hong Kong, China  1987    5584510
995             México  2007  108700891
861             Kuwait  1997    1765345
393               Cuba  1997   10983007
753            Irlanda  1997    3667233
689           Islandia  1977     221823
417          Dinamarca  1997    5283663
1616    Estados Unidos  1992  256894189
572           Alemania  1992   80597764
1086      Países Bajos  1982   14310401
80             Austria  1992    7914969
1245          Portugal  1997   10156415
1146           Noruega  1982    4114787
1147           Noruega  1987    4186147
285              Chile  1997   14599929
1364          Singapur  1992    3235865
246             Canadá  1982   25201900
383            Croacia  2007    4493312
1270           Reunión  2002     743981
356         Costa Rica  1992    3173216
524          Finlandia  1992    5041039
22             Albania  2002    3508512
1163              Omán  2007    3204897
95              Baréin  2007     708573
763             Israel  1987    4203148

### Rename

In [101]:
bbdd.rename(columns = {'pais':'Pais', 'anio':'Año', 'pib_per_capita':'PBI'})

,Pais,continente,Año,esperanza_de_vida,poblacion,PBI,esperanza_de_vida_meses,pbipc_miles
803,Japón,Asia,2007,82.603,127467972,31656.068060,991.236,31.656068
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670,986.496,39.724979
802,Japón,Asia,2002,82.000,127065841,28604.591900,984.000,28.604592
695,Islandia,Europa,2007,81.757,301931,36180.789190,981.084,36.180789
1487,Suiza,Europa,2007,81.701,7554661,37506.419070,980.412,37.506419
...,...,...,...,...,...,...,...,...
1344,Sierra Leona,África,1952,30.331,2143249,879.787736,363.972,0.879788
36,Angola,África,1952,30.015,4232095,3520.610273,360.180,3.520610
552,Gambia,África,1952,30.000,284320,485.230659,360.000,0.485231
0,Afganistán,Asia,1952,28.801,8425333,779.445314,345.612,0.779445
1292,Ruanda,África,1992,23.599,7290203,737.068595,283.188,0.737069

In [102]:
bbdd

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita,esperanza_de_vida_meses,pbipc_miles
803,Japón,Asia,2007,82.603,127467972,31656.068060,991.236,31.656068
671,"Hong Kong, China",Asia,2007,82.208,6980412,39724.978670,986.496,39.724979
802,Japón,Asia,2002,82.000,127065841,28604.591900,984.000,28.604592
695,Islandia,Europa,2007,81.757,301931,36180.789190,981.084,36.180789
1487,Suiza,Europa,2007,81.701,7554661,37506.419070,980.412,37.506419
...,...,...,...,...,...,...,...,...
1344,Sierra Leona,África,1952,30.331,2143249,879.787736,363.972,0.879788
36,Angola,África,1952,30.015,4232095,3520.610273,360.180,3.520610
552,Gambia,África,1952,30.000,284320,485.230659,360.000,0.485231
0,Afganistán,Asia,1952,28.801,8425333,779.445314,345.612,0.779445
1292,Ruanda,África,1992,23.599,7290203,737.068595,283.188,0.737069

In [106]:
bbdd.rename(columns = {'pais':'Pais', 'anio':'Año', 'pib_per_capita':'PBI'}, inplace = True)
paises2 = bbdd[['Pais','Año','PBI']]

In [108]:
# save datasets

paises2.to_csv(r"../../data/Paises_renombrados_py.csv", index=False)

### References 

https://pandas.pydata.org/docs/reference/api/pandas.read_table.html