In [12]:
import pandas as pd
import numpy as np
import os

In [13]:
# por default, el directorio de trabajo es el archivo donde se guarda el script

os.getcwd()

'C:\\Users\\Roberto\\Documents\\GitHub'

In [10]:
os.chdir("C:/Users/Roberto/Documents/GitHub")
printos.getcwd()
os.chdir("C:/Users/Roberto/Documents/GitHub")
os.getcwd()

'C:\\Users\\Roberto\\Documents\\GitHub'

In [2]:

bbdd = pd.read_csv(r"../../data/paises.csv")
bbdd

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
0,Afganistán,Asia,1952,28.801,8425333,779.445314
1,Afganistán,Asia,1957,30.332,9240934,820.853030
2,Afganistán,Asia,1962,31.997,10267083,853.100710
3,Afganistán,Asia,1967,34.020,11537966,836.197138
4,Afganistán,Asia,1972,36.088,13079460,739.981106
...,...,...,...,...,...,...
1699,Zimbabue,África,1987,62.351,9216418,706.157306
1700,Zimbabue,África,1992,60.377,10704340,693.420786
1701,Zimbabue,África,1997,46.809,11404948,792.449960
1702,Zimbabue,África,2002,39.989,11926563,672.038623
1703,Zimbabue,África,2007,43.487,12311143,469.709298

In [3]:
# tipo de variables 
bbdd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   pais               1704 non-null   object
 1   continente         1704 non-null   object
 2   anio               1704 non-null   int64
 3   esperanza_de_vida  1704 non-null   float64
 4   poblacion          1704 non-null   int64
 5   pib_per_capita     1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB