#  Laboratorio 3 - Python

- <a href='#1.0'> 1.0 Lambda functions </a> 
- <a href='#1.1'> 1.1 Map and lambda functions </a> 
- <a href='#1.2'> 1.2 Apply_along_axis - Matrices </a>
- <a href='#1.3'> 1.3 Apply - Dataframe </a>
- <a href='#1.4'> 1.4 *args </a>
- <a href='#1.5'> 1.5 **kwargs </a>

In [29]:
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import re # Regex
import pyreadr  # Load R dataset
import os # for usernanme y set direcotrio

## <a id='1.0'> 1.0 Lambda functions </a>

In [30]:
# Función tradicional #

def interes(C, T, R):
    i = C*T*R
    return i

interes(5000, 24, 0.02)

2400.0

In [31]:
# forma parsimoniosa de generar funciones

interes2 = lambda C, T, R : C*T*R

interes2(5000, 24, 0.02)

2400.0

## <a id='1.1'> 1.1 Map and lambda functions </a>

In [32]:
# map permite aplicar una función que a cada elemento de un conjunto de datos  (array, listas)

genero = ['F', 'M', 'M', 'F', 'M']

list( map( lambda x: 0 if x == 'M' else 1, genero )  )

[1, 0, 0, 1, 0]

In [33]:
# Lista con categorias de estratos socioeconómicos a variable numérica

NSE = ['A', 'A', 'C', 'B', 'C']

list( map( lambda x: 3 if x == 'A' else (2 if x == 'B' else 1), NSE )  )

[3, 3, 1, 2, 1]

In [34]:
# Más ejemplos

vector = np.arange(100)

map( lambda x: np.sqrt(x) - np.mean(vector), vector ) 

list( map( lambda x: np.sqrt(x) - np.mean(vector), vector)   )

[-49.5,
 -48.5,
 -48.08578643762691,
 -47.767949192431125,
 -47.5,
 -47.263932022500214,
 -47.05051025721682,
 -46.85424868893541,
 -46.67157287525381,
 -46.5,
 -46.33772233983162,
 -46.1833752096446,
 -46.03589838486224,
 -45.89444872453601,
 -45.758342613226056,
 -45.62701665379258,
 -45.5,
 -45.37689437438234,
 -45.257359312880716,
 -45.14110105645933,
 -45.02786404500042,
 -44.91742430504416,
 -44.80958424017657,
 -44.70416847668728,
 -44.60102051443364,
 -44.5,
 -44.400980486407214,
 -44.30384757729337,
 -44.20849737787082,
 -44.1148351928655,
 -44.02277442494834,
 -43.93223563716998,
 -43.84314575050762,
 -43.75543735346197,
 -43.6690481051547,
 -43.58392021690038,
 -43.5,
 -43.41723746970178,
 -43.335585997031025,
 -43.2550020016016,
 -43.175444679663244,
 -43.09687576256715,
 -43.01925930159214,
 -42.942561475698,
 -42.866750419289204,
 -42.79179606750063,
 -42.717670016874735,
 -42.644345399598954,
 -42.57179676972449,
 -42.5,
 -42.428932188134524,
 -42.35857157145715,
 -42.288897449072024,
 -42.21989011071948,
 -42.151530771650464,
 -42.08380151290434,
 -42.01668522645212,
 -41.95016556472925,
 -41.88422689413609,
 -41.818854252131395,
 -41.75403330758517,
 -41.689750324093346,
 -41.62599212598819,
 -41.56274606680623,
 -41.5,
 -41.43774225170145,
 -41.37596159536404,
 -41.31464722812755,
 -41.25378874876468,
 -41.19337613708193,
 -41.13339973465924,
 -41.07385022682364,
 -41.01471862576143,
 -40.95599625468247,
 -40.89767473295737,
 -40.83974596215561,
 -40.782202112918654,
 -40.725035612607876,
 -40.66823913367215,
 -40.61180558268441,
 -40.55572809000084,
 -40.5,
 -40.44461486186258,
 -40.3895664208557,
 -40.33484861008832,
 -40.28045554270712,
 -40.226381504504296,
 -40.17262094691118,
 -40.11916848035314,
 -40.0660188679434,
 -40.01316701949486,
 -39.96060798583054,
 -39.90833695337456,
 -39.856349239007045,
 -39.80464028516734,
 -39.75320565519104,
 -39.702041028867285,
 -39.6511421982039,
 -39.60050506338833,
 -39.5501256289338]

In [35]:
# Función 1

def cube(x):
    
    out = x*(1/3) - 0.5*x
    
    return out 

list( map( lambda x: cube(x) , vector)   )

[0.0,
 -0.16666666666666669,
 -0.33333333333333337,
 -0.5,
 -0.6666666666666667,
 -0.8333333333333335,
 -1.0,
 -1.166666666666667,
 -1.3333333333333335,
 -1.5,
 -1.666666666666667,
 -1.8333333333333335,
 -2.0,
 -2.166666666666667,
 -2.333333333333334,
 -2.5,
 -2.666666666666667,
 -2.833333333333334,
 -3.0,
 -3.166666666666667,
 -3.333333333333334,
 -3.5,
 -3.666666666666667,
 -3.833333333333334,
 -4.0,
 -4.166666666666668,
 -4.333333333333334,
 -4.5,
 -4.666666666666668,
 -4.833333333333334,
 -5.0,
 -5.166666666666668,
 -5.333333333333334,
 -5.5,
 -5.666666666666668,
 -5.833333333333334,
 -6.0,
 -6.166666666666668,
 -6.333333333333334,
 -6.5,
 -6.666666666666668,
 -6.833333333333334,
 -7.0,
 -7.166666666666668,
 -7.333333333333334,
 -7.5,
 -7.666666666666668,
 -7.833333333333334,
 -8.0,
 -8.166666666666668,
 -8.333333333333336,
 -8.5,
 -8.666666666666668,
 -8.833333333333336,
 -9.0,
 -9.166666666666668,
 -9.333333333333336,
 -9.5,
 -9.666666666666668,
 -9.833333333333336,
 -10.0,
 -10.166666666666668,
 -10.333333333333336,
 -10.5,
 -10.666666666666668,
 -10.833333333333336,
 -11.0,
 -11.166666666666668,
 -11.333333333333336,
 -11.5,
 -11.666666666666668,
 -11.833333333333336,
 -12.0,
 -12.166666666666668,
 -12.333333333333336,
 -12.5,
 -12.666666666666668,
 -12.833333333333336,
 -13.0,
 -13.166666666666668,
 -13.333333333333336,
 -13.5,
 -13.666666666666668,
 -13.833333333333336,
 -14.0,
 -14.166666666666668,
 -14.333333333333336,
 -14.5,
 -14.666666666666668,
 -14.833333333333336,
 -15.0,
 -15.166666666666668,
 -15.333333333333336,
 -15.5,
 -15.666666666666668,
 -15.833333333333336,
 -16.0,
 -16.16666666666667,
 -16.333333333333336,
 -16.5]

In [36]:
# Estandarización de los datos de una lista numérica

def sdv(x,mean,sd):
    
    out = (x-mean)/sd
    
    return out 


list( map( lambda x, mean = np.mean(vector), sd = np.std(vector): sdv(x,mean,sd) , vector)  )  

# función explicita en la función lambda

list( map( lambda x: (x - np.mean(vector))/np.std(vector), vector)  )

[-1.7148160424389376,
 -1.680173294106838,
 -1.6455305457747382,
 -1.6108877974426383,
 -1.5762450491105386,
 -1.541602300778439,
 -1.5069595524463393,
 -1.4723168041142394,
 -1.4376740557821397,
 -1.40303130745004,
 -1.36838855911794,
 -1.3337458107858404,
 -1.2991030624537407,
 -1.2644603141216408,
 -1.2298175657895412,
 -1.1951748174574415,
 -1.1605320691253416,
 -1.1258893207932419,
 -1.0912465724611422,
 -1.0566038241290423,
 -1.0219610757969426,
 -0.9873183274648429,
 -0.9526755791327431,
 -0.9180328308006434,
 -0.8833900824685437,
 -0.8487473341364439,
 -0.8141045858043442,
 -0.7794618374722444,
 -0.7448190891401446,
 -0.7101763408080449,
 -0.6755335924759451,
 -0.6408908441438455,
 -0.6062480958117457,
 -0.5716053474796459,
 -0.5369625991475462,
 -0.5023198508154464,
 -0.46767710248334665,
 -0.4330343541512469,
 -0.3983916058191471,
 -0.3637488574870474,
 -0.32910610915494765,
 -0.2944633608228479,
 -0.2598206124907481,
 -0.22517786415864838,
 -0.19053511582654864,
 -0.15589236749444887,
 -0.12124961916234912,
 -0.08660687083024937,
 -0.05196412249814963,
 -0.017321374166049876,
 0.017321374166049876,
 0.05196412249814963,
 0.08660687083024937,
 0.12124961916234912,
 0.15589236749444887,
 0.19053511582654864,
 0.22517786415864838,
 0.2598206124907481,
 0.2944633608228479,
 0.32910610915494765,
 0.3637488574870474,
 0.3983916058191471,
 0.4330343541512469,
 0.46767710248334665,
 0.5023198508154464,
 0.5369625991475462,
 0.5716053474796459,
 0.6062480958117457,
 0.6408908441438455,
 0.6755335924759451,
 0.7101763408080449,
 0.7448190891401446,
 0.7794618374722444,
 0.8141045858043442,
 0.8487473341364439,
 0.8833900824685437,
 0.9180328308006434,
 0.9526755791327431,
 0.9873183274648429,
 1.0219610757969426,
 1.0566038241290423,
 1.0912465724611422,
 1.1258893207932419,
 1.1605320691253416,
 1.1951748174574415,
 1.2298175657895412,
 1.2644603141216408,
 1.2991030624537407,
 1.3337458107858404,
 1.36838855911794,
 1.40303130745004,
 1.4376740557821397,
 1.4723168041142394,
 1.5069595524463393,
 1.541602300778439,
 1.5762450491105386,
 1.6108877974426383,
 1.6455305457747382,
 1.680173294106838,
 1.7148160424389376]

In [37]:
'''
Función 3, If statement

Valores menos a 50 asigne el numero 1 y asignar missing values para valores mayor i igual a 50
'''

vector = np.arange(100)

def function2(x):
    
    if x < 50:
         out = 1
    else:
         out = np.nan # Missing values

    return out 

list( map( lambda x: function2(x) , vector)   )

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan]

In [38]:
'''
Función 4, extrae lo numeros de un texto

La función extrae los numeros de texto

'''

texto_vector = np.array(["Municipio San Luis: 12450","Municipio La victoria: 1450",
                         "Municipio La Molina: 3550","Municipio Ate: 506"])


list( map( lambda x: int(re.sub('\D',"", x)) , texto_vector)   )

# \D : todo menos numero

# import re (regular expression)


# \D: significa todo menos a los dígitos

# re.sub( patron de texto, sustitución, texto)

[12450, 1450, 3550, 506]

## <a id='1.2'> 1.2 Apply_along_axis - Matrices </a>

In [39]:
np.random.seed(15632)
x1 = np.random.normal(0,1,500) # normal distribution
x2 = np.random.normal(0,1,500) # normal distribution 
x3 = np.random.normal(0,1,500) # normal distribution
x4 = np.random.normal(0,1,500) # normal distribution


X = np.column_stack((x1,x2,x3,x4))

print(X.shape)

'''

En el caso de aplicar funciones como mean, std, y entre otros se puede aplicar pro filas o columnas

axis = 0 se aplica la función a cada columa
axis = 1 se aplica la función por filas

Numpy apply for matrix

numpy.apply_along_axis(func1d, axis, arr, *args, **kwargs)
 
'''

(500, 4)

'\n\nEn el caso de aplicar funciones como mean, std, y entre otros se puede aplicar pro filas o columnas\n\naxis = 0 se aplica la función a cada columa\naxis = 1 se aplica la función por filas\n\nNumpy apply for matrix\n\nnumpy.apply_along_axis(func1d, axis, arr, *args, **kwargs)\n \n'

In [40]:
# mean y desviación estandar por columnas

np.mean(X, axis=0)   # axis = 0 (se aplica por columnas)
np.std(X, axis=0)

# mean y desviación estandar por filas

np.mean(X, axis=1) 
len( np.mean(X, axis=1) )
np.std(X, axis=1)

array([1.03934147, 0.83297399, 0.70242453, 0.48253342, 0.96123382,
       0.29561456, 1.49652352, 0.54591286, 0.56485928, 0.51551402,
       0.484053  , 1.76344909, 0.76967899, 0.7645824 , 0.80111832,
       1.29546153, 0.62470549, 0.79654071, 1.63578135, 0.7353375 ,
       1.34202644, 0.74686269, 0.40795656, 0.34762608, 0.11151303,
       0.5693228 , 0.53603217, 0.80714484, 1.09814122, 0.43499287,
       1.22474328, 0.72147457, 1.05946476, 1.17148435, 0.89092732,
       0.4658648 , 0.7598382 , 1.03584325, 0.59399729, 0.68522386,
       0.97277708, 1.11426518, 0.59115732, 1.49277999, 0.86946811,
       0.83033656, 0.47906181, 0.75741923, 0.85639939, 0.3058556 ,
       1.20916829, 0.90014605, 0.92531076, 0.14151276, 0.43814468,
       0.82096859, 1.09230753, 0.69560826, 1.19607862, 0.2241131 ,
       0.43541873, 0.61764752, 0.53284695, 1.58658999, 0.33950604,
       0.63825672, 0.19933272, 0.77250669, 0.41632283, 0.94957538,
       1.25302658, 0.92847516, 0.2363443 , 1.31594159, 1.17440308,
       1.68436461, 1.31909989, 0.99124148, 0.52567285, 0.74876154,
       1.14614796, 1.18268047, 0.54466805, 0.50938559, 0.57193448,
       0.22091201, 0.9840202 , 0.32607249, 0.88044456, 1.25192933,
       0.7657012 , 0.26909039, 1.1358157 , 0.64924537, 0.46644329,
       0.40838334, 0.51905758, 0.18848382, 1.04952541, 0.62987688,
       0.72855622, 0.89886253, 1.02110965, 1.74092359, 0.71256721,
       1.09354029, 0.89793567, 1.64621173, 0.75103488, 0.21469069,
       0.66411808, 0.60641481, 0.81827923, 0.78040976, 1.25848176,
       0.86113101, 0.69091663, 0.45377282, 0.74765721, 0.67676238,
       0.27370192, 0.61167607, 0.92907951, 0.90535222, 0.72560696,
       0.71798065, 0.44742027, 0.36120187, 0.76026208, 0.70575601,
       0.91627378, 0.81947632, 0.95331937, 0.74755225, 0.72934769,
       0.8169409 , 0.88988635, 0.5635848 , 0.61882437, 1.15707097,
       1.2840803 , 0.59123793, 0.35462098, 0.73349698, 2.2700074 ,
       0.88766191, 0.84233276, 0.44004482, 0.88590143, 0.59248292,
       0.72759916, 1.03989975, 1.01817523, 1.38484602, 0.34557402,
       0.46268276, 0.34556138, 0.87343544, 1.12730911, 1.17472864,
       1.76387841, 1.87622362, 1.5639771 , 0.74748893, 0.86968789,
       1.06050096, 1.40833644, 1.48870909, 0.61820543, 0.7417158 ,
       1.00958789, 0.81835161, 0.87533833, 1.03736411, 0.70940084,
       1.12434185, 0.49875509, 0.55086716, 0.69884417, 0.96892104,
       0.25679874, 1.14963356, 0.84674153, 0.84899913, 0.73607855,
       0.98747124, 0.40260927, 1.30607255, 1.08423685, 1.03114223,
       0.82667121, 1.23036296, 1.29803242, 0.82075224, 0.80800035,
       0.82160137, 0.98336921, 1.12013272, 0.28179577, 0.99213851,
       0.38980541, 1.35871776, 0.77542347, 1.11495997, 0.2401831 ,
       1.30187254, 0.25028395, 0.58170498, 0.91769466, 0.45753349,
       0.70813158, 1.27996532, 0.63410478, 0.87244012, 1.04125676,
       0.43952426, 0.95041757, 1.04770319, 0.61136885, 0.71115658,
       1.49000612, 0.63340223, 1.15349674, 0.88271789, 0.27185543,
       1.04768767, 0.57298344, 0.463944  , 0.28528402, 0.97450489,
       0.88689274, 0.45535889, 0.89235009, 1.06058934, 0.52313125,
       0.22242719, 0.93845692, 0.45444581, 1.03778665, 0.53502126,
       2.19845244, 0.68267795, 0.97756748, 0.82008188, 0.29315798,
       0.77458043, 0.89907315, 0.58552376, 0.20730718, 0.61029279,
       0.70954547, 0.40148107, 0.85827913, 0.76844649, 0.54639525,
       0.61809545, 0.82611359, 0.51175812, 0.69571036, 1.00354661,
       0.54035618, 0.34374746, 0.98247061, 0.74281073, 0.36989803,
       0.36869234, 1.1871991 , 1.69771065, 0.76073659, 0.74795419,
       0.79701426, 0.70888316, 1.02281648, 0.46960428, 0.9599    ,
       1.08779159, 0.58407415, 1.79265757, 0.5310262 , 0.58625435,
       0.52671962, 0.29016374, 1.78211524, 0.56279735, 0.8949455 ,
       0.87062904, 0.09905385, 0.32463965, 0.39869794, 1.23825081,
       0.8965785 , 1.13680888, 0.59041344, 0.26610041, 1.19882481,
       1.22194737, 0.67121588, 0.25158526, 1.06453008, 0.32459551,
       0.50196462, 0.97340369, 1.05785234, 0.69203815, 0.3668881 ,
       1.22663921, 0.94865073, 1.01873962, 0.70967479, 0.80610463,
       0.423794  , 0.53663946, 0.42300599, 0.42667191, 0.68219157,
       0.94503975, 1.32814727, 1.4424682 , 0.79425939, 0.89226748,
       1.4156101 , 0.54596126, 1.85266274, 0.25727243, 0.23771316,
       1.05748194, 1.51461911, 0.24292778, 1.15344613, 0.42606611,
       1.32807451, 1.12961855, 0.54720097, 1.28587641, 0.54810589,
       1.69012912, 1.08273531, 0.80822304, 0.76815181, 0.34403392,
       0.48500015, 0.69630939, 0.80961094, 0.80328366, 0.07802507,
       0.91291696, 0.76904817, 0.89056705, 1.16494952, 0.87040865,
       0.32975043, 0.88235676, 1.6582143 , 1.14971448, 0.50691587,
       1.33307724, 0.84488008, 0.50599219, 0.96013668, 1.18032612,
       1.05284344, 0.91218534, 0.36138663, 0.33248833, 0.48749708,
       0.48806517, 0.50703112, 0.39198088, 1.44832781, 0.73437483,
       0.74538586, 0.76618047, 0.76721967, 0.77272758, 0.46262787,
       0.43967947, 1.23411295, 0.63282036, 0.68121354, 0.71650455,
       0.49672321, 0.96533954, 1.45865396, 0.83927627, 0.83451382,
       0.85666823, 1.06068499, 0.16136767, 0.65866701, 0.90000214,
       0.35738112, 1.59131613, 0.44911081, 1.00200933, 1.19790511,
       0.91046663, 0.36770671, 0.96513624, 0.80100501, 0.51252113,
       1.0898687 , 1.00354722, 1.16451549, 0.50200449, 0.46814458,
       0.30163905, 0.31220355, 0.45539549, 0.67925264, 0.55970244,
       0.60985787, 0.41980285, 0.85291841, 0.63533796, 0.71351727,
       0.50093912, 0.91547012, 0.69028332, 0.95358581, 0.89042634,
       0.74764543, 0.43447095, 0.51248728, 0.32738979, 0.97878338,
       0.58566109, 1.3711593 , 1.0731114 , 0.5428951 , 0.38935204,
       1.90505511, 0.85743513, 0.76347581, 0.71544498, 0.54067225,
       0.93177072, 0.45321524, 0.41745971, 0.54541731, 1.38389528,
       0.90508838, 0.77116326, 0.38766555, 0.72163196, 0.94057159,
       0.22419039, 0.66288506, 0.31852837, 0.89230568, 0.94195729,
       0.28282298, 0.71866719, 0.91387987, 1.04626555, 0.57863857,
       0.89315825, 1.03940454, 1.14549508, 0.47670762, 0.49297555,
       1.39251527, 0.26195604, 0.83350809, 0.92242561, 1.56011612,
       0.51600712, 1.1013311 , 0.84991465, 0.31496527, 0.55449124,
       0.97689821, 0.82613406, 0.93772114, 0.33505696, 0.79165737,
       0.98512849, 0.74677025, 0.75745471, 0.9774896 , 1.38115635,
       0.43999842, 0.44532533, 0.90344801, 0.52804929, 0.82631698,
       0.35314336, 0.71360285, 0.82834363, 0.92369009, 0.47631166,
       0.67256138, 0.47909836, 0.80728977, 0.29683459, 0.63953169,
       0.20812848, 0.83639894, 0.61474805, 0.39328663, 1.38227473])

In [41]:
'''

Dos formas de estandarizar una matriz 

'''
 
XNormed = (X - np.mean(X, axis=0))/np.std(X, axis=0)

            
def standarize(x):
    
    out = (x - np.mean(x))/np.std(x)
          
    return out
   
X_std_2 = np.apply_along_axis(standarize, 0, X)

In [42]:
X_std_2

array([[-0.84113439, -0.09826446,  1.77332721,  1.2184129 ],
       [-1.84028253,  0.45791883, -0.22339955, -0.92493746],
       [ 0.95184225, -0.29522711, -0.94552941, -0.17691547],
       ...,
       [ 1.32943887,  0.62194637,  1.02406999, -0.22607612],
       [ 1.01270366,  0.30544739,  0.47499041,  0.03180102],
       [ 0.92973661, -1.88227324,  1.67192593, -0.40217076]])

## <a id='1.3'> 1.3 Apply - Dataframe </a>

In [43]:

'''
 We use US census data from the year 2012 to analyse the effect of gender 
 and interaction effects of other variables with gender on wage jointly.
 The dependent variable is the logarithm of the wage, the target variable is *female*
 (in combination with other variables). All other variables denote some other 
 socio-economic characteristics, e.g. marital status, education, and experience. 
 For a detailed description of the variables we refer to the help page.
 '''
 

cps2012_env = pyreadr.read_r("../../data/cps2012.Rdata") # output formato diccionario


cps2012_env  # es un diccionario. En la llave "data" está la base de datos 
cps2012 = cps2012_env[ 'data' ] # extrae información almacenada en la llave data del diccionario cps2012_env
dt = cps2012.describe()
 
# Borrar variables constantes 

variance_cols = cps2012.var().to_numpy() # to numpy

X = cps2012.iloc[ : ,  np.where( variance_cols != 0   )[0] ]

# np.where( variance_cols != 0   ) resulta la posición de lasa columnas con varianza != 0

#np.where( variance_cols != 0   )[0] # array

# np.where() permite obtener la posición de columnas que cumplen la condición

# Retirar la media de las variables 

def demean(x):
    dif = x - np.mean( x ) # tima la media de la columna 
    return dif 

X = X.apply( demean, axis = 0 )  # axis :0 se aplica la función por columna

In [44]:
X

,lnw,female,widowed,divorced,separated,nevermarried,hsd08,hsd911,hsg,cg,...,so,we,exp1,exp2,exp3,exp4,weight,married,ne,sc
0,-0.887465,0.571243,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,-0.247288,-0.283431,...,-0.282849,-0.199644,3.243061,0.553189,-0.227998,-5.983179,-944.412566,0.294315,0.774138,0.712804
1,-1.431235,0.571243,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,0.977821,-0.247288,-0.283431,...,-0.282849,-0.199644,11.243061,4.713189,16.124002,51.591221,-887.882566,0.294315,0.774138,-0.287196
2,-0.256784,-0.428757,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,0.752712,-0.283431,...,-0.282849,-0.199644,0.243061,-0.676811,-4.016998,-16.376679,-1249.622566,0.294315,0.774138,-0.287196
3,-0.995917,0.571243,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,0.752712,-0.283431,...,-0.282849,-0.199644,-4.756939,-2.326811,-8.131998,-25.567179,-1257.032566,0.294315,0.774138,-0.287196
4,0.552897,-0.428757,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,-0.247288,0.716569,...,-0.282849,-0.199644,-3.756939,-2.036811,-7.500998,-24.346279,-1257.032566,0.294315,0.774138,-0.287196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29212,1.181505,-0.428757,-0.007975,-0.113393,-0.0166,0.843653,-0.004107,-0.022179,-0.247288,0.716569,...,-0.282849,0.800356,8.243061,3.003189,8.807002,23.735321,-1212.412566,-0.705685,-0.225862,-0.287196
29213,0.345257,0.571243,-0.007975,-0.113393,-0.0166,0.843653,-0.004107,-0.022179,-0.247288,-0.283431,...,-0.282849,0.800356,-2.756939,-1.726811,-6.779998,-22.855179,-1307.482566,-0.705685,-0.225862,-0.287196
29214,-0.071388,0.571243,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,-0.247288,-0.283431,...,-0.282849,0.800356,2.243061,0.123189,-1.614998,-9.960679,-1241.492566,0.294315,-0.225862,0.712804
29215,0.345257,-0.428757,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,-0.247288,-0.283431,...,-0.282849,0.800356,-16.756939,-4.246811,-10.867998,-29.407179,-1230.972566,0.294315,-0.225862,-0.287196
29216,-0.363394,0.571243,-0.007975,-0.113393,-0.0166,-0.156347,-0.004107,-0.022179,-0.247288,-0.283431,...,-0.282849,0.800356,-16.756939,-4.246811,-10.867998,-29.407179,-1230.972566,0.294315,-0.225862,-0.287196

In [45]:
# Segundo ejemplo de base de datos 

datos = pd.read_csv("../../data/BDD_compras_consumidores.csv", sep = ";")

datos['Channel'].value_counts()
datos['Region'].value_counts()

datos.info()

datos['Channel'] = datos['Channel'].astype("category")
datos['Region'] = datos['Region'].astype("category")

datos.info()


# Apply #

datos.iloc[:,2:9].apply(lambda x: sum(x), axis = 0)  # axis = 0 , operación a nivel columna 

# ventas total por cada observación

datos['ventas'] = datos.iloc[:,2:9].apply(lambda x: sum(x), axis = 1) # axis = 0 , operación a nivel fila

# promedio por tipo de producto

datos.iloc[:,2:9].apply(lambda x: np.mean(x), axis = 0)

# minimo valor de la venta por tipo de producto 

datos.iloc[:,2:9].apply(lambda x: np.min(x), axis = 0)

# máximo valor de la venta por tipo de producto 

datos.iloc[:,2:9].apply(lambda x: np.max(x), axis = 0)

# cambio de moneda

datos2 = datos.iloc[:,2:9].apply(lambda x: x/3.9, axis = 0)

datos3 = pd.concat([datos.iloc[:,:2],datos2], axis = 1) # se uen a nivel columna o de forma horizontal

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    int64
 1   Region            440 non-null    int64
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: int64(8)
memory usage: 27.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 440 entries, 0 to 439
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Channel           440 non-null    category
 1   Region            440 non-null    category
 2   Fresh             440 non-null    int64
 3   Milk              440 non-null    int64
 4   Grocery           440 non-null    int64
 5   Frozen            440 non-null    int64
 6   Detergents_Paper  440 non-null    int64
 7   Delicatessen      440 non-null    int64
dtypes: category(2), int64(6)
memory usage: 21.9 KB

## <a id='1.4'> 1.4 *args </a>

In [46]:

"""
The special syntax *args in function definitions in python is used to pass a variable number 
of arguments to a function. The object *args is a tuple that contains all the arguments.
 When you build your code, you should consider *args as a tuple.
"""

'''
*args : tipo tuple o array
'''

"Keyword: *args, incluir una cantidad variable de argumentos"


def calculator( *args ):
    
    print( f"args is a {type( args )}" )
    
    
    vector = np.array( list(args) )  # *args : tuple
    
    minimo = np.min(vector)
    
    maximo = np.max(vector)
    
    result = np.prod(vector)
    
    
    return result, minimo, maximo


calculator( 8, 9, 50, 10, 12 ,15,20,100,120)

args is a <class 'tuple'>

(421838848, 8, 120)

In [47]:
'''
*args se puede usar otro nombre siempre que se use * al inicio
'''


def calculator( *list_vars ):
    
    print( f"args is a {type( list_vars )}" )
    
    
    vector = np.array( list_vars )  # *args : tuple
    
    minimo = np.min(vector)
    
    maximo = np.max(vector)
    
    result = np.prod(vector)
    
    
    return result, minimo, maximo


calculator( 8, 9, 50, 40, 10, 1)

args is a <class 'tuple'>

(1440000, 1, 50)

## <a id='1.5'> 1.5 **kwargs </a>

In [50]:
'''
**Kwargs is an acronym of keyword arguments. 
It works exactly like *Args but instead of accepting a variable number of positional arguments, 
it accepts a variable number of keyword or named arguments.
'''

'''
**kwargs: tipo diccionario 
'''

def calculator( *list_vars, **kwargs):
    
    print( type( list_vars ) )
    print( type( kwargs ) )
    
    if ( kwargs[ 'function' ] == "media" ) :
        
        # Get the first value
        result = np.mean( list_vars )
    
    elif ( kwargs[ 'function' ] == "adicion" ) :

        result = sum(list_vars)
    else:
        raise ValueError( f"The function argument {kwargs[ 'function' ]} is not supported." )
        
        # Mensaje de error por tipo de argumento

    return result


print(calculator( 4, 5, 6, 7, 8, function = "adicion" ), "\n")

print(calculator( 4, 5, 6, function = "media" ), "\n")

calculator( np.arange(10), function = "media" )

<class 'tuple'>
<class 'dict'>
30

<class 'tuple'>
<class 'dict'>
5.0

<class 'tuple'>
<class 'dict'>

4.5

In [51]:
'''
Example using dataset cps2012
'''

def transform(Data, *select, **function) -> pd.DataFrame: #output DataFrame 
    
    select = list(select)  # se transforma a una lista
    Data_select = Data[select] # se filtra por columnas 
    
    if function['method'] == "demean":
        
        X = Data_select.apply(lambda row: row - np.mean(row), axis =0)
        
    elif function['method'] == "estandarize":
        
        X = Data_select.apply(lambda row: (row - np.mean(row))/np.std(row), axis =0)
        
    return X


transform(cps2012, "lnw", "exp1","exp2", method = "estandarize")

            lnw      exp1      exp2
0     -1.339783  0.369921  0.166550
1     -2.160698  1.282446  1.419016
2     -0.387661  0.027725 -0.203770
3     -1.503509 -0.542603 -0.700541
4      0.834694 -0.428537 -0.613230
...         ...       ...       ...
29212  1.783688  0.940249  0.904180
29213  0.521226 -0.314472 -0.519897
29214 -0.107773  0.255856  0.037089
29215  0.521226 -1.911389 -1.278602
29216 -0.548607 -1.911389 -1.278602

[29217 rows x 3 columns]