In [13]:
from IPython.display import display, HTML

display(HTML(data="""
<style>
    div#notebook-container    { width: 75%; }
    div#menubar-container     { width: 80%; }
    div#maintoolbar-container { width: 80%; }a
</style>
"""))

In [1]:
'''
Importar librerias
- numpy para operaciones de vectores y matrices
- pandas para manipular DataFrame (base de datos)
- Series para manipular columnas de DataFrame 
'''

import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [2]:
# importar el csv almacenada en la carpeta data
# relative path ../ salir de la carpeta Lab3
# /data ingresar a la carpeta data

netflix = pd.read_csv("../data/netflix_titles.csv") # pro default UTF-8 para caracteres especiales y lectura de missing 
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,"Dramas, International Movies",When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"Documentaries, International Movies, Music & M...","In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,"International TV Shows, Reality TV",Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,"Documentaries, Music & Musicals",This documentary delves into the mystique behi...

In [15]:
netflix.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"Action & Adventure, Independent Movies, Sci-Fi...","In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,Dramas,A brilliant group of students become card-coun...

In [4]:
netflix.info() # varaible's type 

print( netflix.shape ) # filas y columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      5398 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
dtypes: int64(1), object(11)
memory usage: 730.2+ KB
(7787, 12)

In [6]:
'''
Equivalent sum de Stata, solo la variable release_year es numerica
'''

netflix.describe()

       release_year
count   7787.000000
mean    2013.932580
std        8.757395
min     1925.000000
25%     2013.000000
50%     2017.000000
75%     2018.000000
max     2021.000000

In [64]:
## Verificando ID


print( netflix.show_id.unique() )

print( len( netflix.show_id.unique() ) )

print( netflix.show_id.is_unique )  # trueo false


##################################



# print( len(netflix['show_id'].unique() ) )

# netflix['show_id'].unique()

# netflix['show_id'].is_unique # verificando repeticiones

['s1' 's2' 's3' ... 's7785' 's7786' 's7787']
7787
True

In [24]:
netflix.release_year.is_unique

False

In [21]:
len( netflix.show_id.unique() )

7787

In [18]:
netflix.show_id

0          s1
1          s2
2          s3
3          s4
4          s5
        ...
7782    s7783
7783    s7784
7784    s7785
7785    s7786
7786    s7787
Name: show_id, Length: 7787, dtype: object

In [28]:
netflix[['director']]

               director
0                   NaN
1     Jorge Michel Grau
2          Gilbert Chan
3           Shane Acker
4        Robert Luketic
...                 ...
7782        Josef Fares
7783        Mozez Singh
7784                NaN
7785                NaN
7786           Sam Dunn

[7787 rows x 1 columns]

### ***Exploring a DataFrame***:

In [27]:
# Series en Python

print(type(netflix['director']))

netflix['director']
netflix.director

<class 'pandas.core.series.Series'>

0                     NaN
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784                  NaN
7785                  NaN
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [29]:
## revisado missing values (NaN in Python)

print( netflix.director.unique() )
print( netflix.director.is_unique )

## isnull() and isna() son similares 

print( netflix.director.isnull() )

print( netflix['director'].isna() )

[nan 'Jorge Michel Grau' 'Gilbert Chan' ... 'Josef Fares' 'Mozez Singh'
 'Sam Dunn']
False
0        True
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784     True
7785     True
7786    False
Name: director, Length: 7787, dtype: bool
0        True
1       False
2       False
3       False
4       False
        ...
7782    False
7783    False
7784     True
7785     True
7786    False
Name: director, Length: 7787, dtype: bool

In [17]:
# cantidad de missing values en la variables director
print( netflix['director'].isna().sum() )

# Borrar missing values 

netflix.dropna() # borra todas las filas o columnas con al menos un missing value
netflix.dropna(axis = 0) # borras filas con missing value  , axis = 0 : aplicar función por filas
netflix.dropna(axis = 1) # borra columnas con al menos un missign values, axis = 1: aplicar función por columnas 

netflix.drop('listed_in', axis = 1) # elimiar columna listed_in

netflix.drop(7786) # eliminar una fila 

netflix.drop(columns = "listed_in", inplace = True)

# inplace = True permite alterar la base de datos sin la necesidad de asignarse nuevamente

#  netflix = netflix.drop(columns = "listed_in")

2389

In [19]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,In a future where the elite inhabit an island ...
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
...,...,...,...,...,...,...,...,...,...,...,...
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
7784,s7785,Movie,Zulu Man in Japan,NaN,Nasty C,NaN,"September 25, 2020",2019,TV-MA,44 min,"In this documentary, South African rapper Nast..."
7785,s7786,TV Show,Zumbo's Just Desserts,NaN,"Adriano Zumbo, Rachel Khoo",Australia,"October 31, 2020",2019,TV-PG,1 Season,Dessert wizard Adriano Zumbo looks for the nex...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [22]:
netflix.dropna(subset = ['director'], inplace = True) # drop observaciones que presentan missing values en la columna director


 # Reemplazar missing values de la columna director con la palabra "Sin director"
# netflix.director = netflix.director.fillna("Sin director")

In [23]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [56]:
# netflix['director'] = netflix.director.fillna("Sin director")

In [25]:
# Alrerar la misma base de datos sin la necesidad de asignar a uno nuevo 

netflix.country.fillna("Sin nacionalidad", inplace = True)

# Qué funciones admiten Inplace = True

# drop, fillna, rename

In [26]:
netflix.isna().sum() # netflix.isna() hallar los missing por columna, .sum()  sumas la cantidad

show_id           0
type              0
title             0
director          0
cast            419
country           0
date_added        0
release_year      0
rating            4
duration          0
description       0
dtype: int64

- Notese que la base de datos Netflix no ha sido alterada. Para que la base de datos se altere debe ocurrir dos cosas:
1. Asignarse a una nueva base de datos 
2. Si la función lo permite, incluir el input ***Inplace = True***

In [37]:
# Create new variable
netflix['new_col'] = np.arange(0, netflix.shape[0]) # creat new varaible

In [30]:
netflix.shape[0]

5398

In [31]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [39]:
# DataFrame.loc[ filas, columnas]

netflix.loc[210:500] # filtro por filas

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
210,s211,Movie,A Night at the Roxbury,John Fortenberry,"Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...",United States,"December 1, 2019",1998,PG-13,82 min,"After a run-in with Richard Grieco, dimwits Do..."
211,s212,Movie,A Noble Intention,Joram Lürsen,"Gijs Scholten van Aschat, Jacob Derwig, Rifka ...",Netherlands,"September 1, 2016",2015,TV-MA,111 min,"In 1888 Amsterdam, a headstrong violin maker f..."
212,s213,Movie,A Patch of Fog,Michael Lennox,"Stephen Graham, Conleth Hill, Lara Pulver, Ars...",United Kingdom,"April 15, 2017",2015,TV-MA,92 min,When a guard catches a writer-television host ...
214,s215,Movie,A Perfect Ending,Nicole Conn,"Barbara Niven, Jessica Clark, John Heard, Morg...",United States,"January 1, 2019",2012,TV-MA,110 min,"After confessing an unusual secret, a represse..."
215,s216,Movie,A Perfect Man,Kees Van Oostrum,"Liev Schreiber, Jeanne Tripplehorn, Joelle Car...",United States,"June 6, 2019",2013,R,94 min,"Nina thinks her husband, James, is cheating on..."
...,...,...,...,...,...,...,...,...,...,...,...
496,s497,Movie,An Ordinary Man,Brad Silberling,"Ben Kingsley, Hera Hilmar, Peter Serafinowicz","Serbia, United States","October 1, 2020",2017,R,91 min,A war criminal in hiding begins to suspect tha...
497,s498,Movie,An Unremarkable Christmas,Juan Camilo Pinzon,"Antonio Sanint, Luis Eduardo Arango, María Cec...",Colombia,"December 17, 2020",2020,TV-14,83 min,An accountant and aspiring magician invites hi...
498,s499,Movie,An Upper Egyptian,"Ismail Farouk, Hazem Fouda","Mohamed Ramadan, Randa El Behery, Nermin Maher...",Egypt,"June 20, 2019",2014,TV-MA,85 min,"Eager to settle down, Abdullah searches for th..."
499,s500,Movie,Ana e Vitória,Matheus Souza,"Ana Caetano, Vitória Falcão, Clarissa Müller, ...",Brazil,"November 2, 2018",2018,TV-MA,116 min,"After meeting by chance, two young musicians w..."
500,s501,Movie,Anaamika,Sekhar Kammula,"Nayantara, Vaibhav Reddy, Pasupathy, Harshvard...",India,"September 17, 2020",2014,TV-14,130 min,As a woman scours Hyderabad for her missing hu...

In [40]:
netflix.loc[210:] # desde fila indexing 210 hasta el final

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
210,s211,Movie,A Night at the Roxbury,John Fortenberry,"Will Ferrell, Chris Kattan, Dan Hedaya, Molly ...",United States,"December 1, 2019",1998,PG-13,82 min,"After a run-in with Richard Grieco, dimwits Do..."
211,s212,Movie,A Noble Intention,Joram Lürsen,"Gijs Scholten van Aschat, Jacob Derwig, Rifka ...",Netherlands,"September 1, 2016",2015,TV-MA,111 min,"In 1888 Amsterdam, a headstrong violin maker f..."
212,s213,Movie,A Patch of Fog,Michael Lennox,"Stephen Graham, Conleth Hill, Lara Pulver, Ars...",United Kingdom,"April 15, 2017",2015,TV-MA,92 min,When a guard catches a writer-television host ...
214,s215,Movie,A Perfect Ending,Nicole Conn,"Barbara Niven, Jessica Clark, John Heard, Morg...",United States,"January 1, 2019",2012,TV-MA,110 min,"After confessing an unusual secret, a represse..."
215,s216,Movie,A Perfect Man,Kees Van Oostrum,"Liev Schreiber, Jeanne Tripplehorn, Joelle Car...",United States,"June 6, 2019",2013,R,94 min,"Nina thinks her husband, James, is cheating on..."
...,...,...,...,...,...,...,...,...,...,...,...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [44]:
netflix.loc[:,['show_id','type','description']] # : todas las filas

     show_id     type                                        description
1         s2    Movie  After a devastating earthquake hits Mexico Cit...
2         s3    Movie  When an army recruit is found dead, his fellow...
3         s4    Movie  In a postapocalyptic world, rag-doll robots hi...
4         s5    Movie  A brilliant group of students become card-coun...
5         s6  TV Show  A genetics professor experiments with a treatm...
...      ...      ...                                                ...
7780   s7781    Movie  A drug dealer starts having doubts about his t...
7781   s7782    Movie  Dragged from civilian life, a former superhero...
7782   s7783    Movie  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784    Movie  A scrappy but poor boy worms his way into a ty...
7786   s7787    Movie  This documentary delves into the mystique behi...

[5398 rows x 3 columns]

In [45]:
'''
Loc usa los nombres de filas y columnas para filtrar
'''

# Filter rows

netflix.loc[0:100]
netflix.loc[210:500]
netflix.loc[210:] # desde la fila posición 210 hasta al final 

# filter columns 

netflix.loc[:,['show_id','type','description']]

netflix.loc[1000:2000,['show_id','type','description']]

     show_id   type                                        description
1001   s1002  Movie  Bad news from the past unhinges vagabond Dwigh...
1002   s1003  Movie  A jewel thief returns to his hiding place afte...
1003   s1004  Movie  As Cindy and Dean muddle through their languis...
1004   s1005  Movie  When his girlfriend learns the truth about his...
1005   s1006  Movie  Artists and industry insiders shed light on th...
...      ...    ...                                                ...
1992   s1993  Movie  In 1950s Makassar, the life of a devoted mothe...
1993   s1994  Movie  Expelled from private school for attempted sui...
1996   s1997  Movie  This documentary explores the extent to which ...
1997   s1998  Movie  Warehouse workers Vince and Zack compete in a ...
1999   s2000  Movie  After accidentally killing a young mobster, a ...

[663 rows x 3 columns]

In [47]:
netflix[['show_id','type','description']]

     show_id     type                                        description
1         s2    Movie  After a devastating earthquake hits Mexico Cit...
2         s3    Movie  When an army recruit is found dead, his fellow...
3         s4    Movie  In a postapocalyptic world, rag-doll robots hi...
4         s5    Movie  A brilliant group of students become card-coun...
5         s6  TV Show  A genetics professor experiments with a treatm...
...      ...      ...                                                ...
7780   s7781    Movie  A drug dealer starts having doubts about his t...
7781   s7782    Movie  Dragged from civilian life, a former superhero...
7782   s7783    Movie  When Lebanon's Civil War deprives Zozo of his ...
7783   s7784    Movie  A scrappy but poor boy worms his way into a ty...
7786   s7787    Movie  This documentary delves into the mystique behi...

[5398 rows x 3 columns]

In [48]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
3,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
4,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
5,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
7780,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,A drug dealer starts having doubts about his t...
7781,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero..."
7782,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
7783,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
7786,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [53]:
#netflix.set_index( [ 'show_id' ] , inplace = True)
netflix

,type,title,director,cast,country,date_added,release_year,rating,duration,description
show_id,,,,,,,,,,
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...
s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,A drug dealer starts having doubts about his t...
s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero..."
s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [55]:
# Filtrando columnas por index

netflix.loc[ ['s2','s100','s7787'] ]

,type,title,director,cast,country,date_added,release_year,rating,duration,description
show_id,,,,,,,,,,
s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
s100,Movie,3 Heroines,Iman Brotoseno,"Reza Rahadian, Bunga Citra Lestari, Tara Basro...",Indonesia,"January 5, 2019",2016,TV-PG,124 min,Three Indonesian women break records by becomi...
s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [56]:
# Reset index 

netflix.reset_index( inplace = True) #

In [57]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
5393,s7781,Movie,Zoo,Shlok Sharma,"Shashank Arora, Shweta Tripathi, Rahul Kumar, ...",India,"July 1, 2018",2018,TV-MA,94 min,A drug dealer starts having doubts about his t...
5394,s7782,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Dragged from civilian life, a former superhero..."
5395,s7783,Movie,Zozo,Josef Fares,"Imad Creidi, Antoinette Turk, Elias Gergi, Car...","Sweden, Czech Republic, United Kingdom, Denmar...","October 19, 2020",2005,TV-MA,99 min,When Lebanon's Civil War deprives Zozo of his ...
5396,s7784,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,A scrappy but poor boy worms his way into a ty...
5397,s7787,Movie,ZZ TOP: THAT LITTLE OL' BAND FROM TEXAS,Sam Dunn,NaN,"United Kingdom, Canada, United States","March 1, 2020",2019,TV-MA,90 min,This documentary delves into the mystique behi...

In [61]:
'''
iloc usa las posiciones de filas y columnas
'''

# Filter rows

netflix.iloc[0:100]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
0,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,After a devastating earthquake hits Mexico Cit...
1,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"When an army recruit is found dead, his fellow..."
2,s4,Movie,9,Shane Acker,"Elijah Wood, John C. Reilly, Jennifer Connelly...",United States,"November 16, 2017",2009,PG-13,80 min,"In a postapocalyptic world, rag-doll robots hi..."
3,s5,Movie,21,Robert Luketic,"Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...",United States,"January 1, 2020",2008,PG-13,123 min,A brilliant group of students become card-coun...
4,s6,TV Show,46,Serdar Akar,"Erdal Beşikçioğlu, Yasemin Allen, Melis Birkan...",Turkey,"July 1, 2017",2016,TV-MA,1 Season,A genetics professor experiments with a treatm...
...,...,...,...,...,...,...,...,...,...,...,...
95,s123,Movie,50/50,Jonathan Levine,"Joseph Gordon-Levitt, Seth Rogen, Anna Kendric...",United States,"June 1, 2019",2011,R,100 min,An otherwise healthy twentysomething has a com...
96,s124,Movie,5CM,Rizal Mantovani,"Herjunot Ali, Raline Shah, Fedi Nuril, Pevita ...",Indonesia,"September 28, 2018",2012,TV-14,126 min,Five friends embark on a mission to climb the ...
97,s125,Movie,5Gang,Matei Dima,"Andrei Selaru, Dorian Popa, Julia Marcan, Ana ...",Romania,"April 27, 2020",2019,TV-14,96 min,"To keep the band together, Selly tries to earn..."
98,s126,Movie,6 Balloons,Marja Lewis Ryan,"Abbi Jacobson, Dave Franco, Jane Kaczmarek, Ti...",United States,"April 6, 2018",2018,TV-MA,75 min,A loyal sister struggles to stay afloat while ...
99,s127,Movie,6 Days,Toa Fraser,"Jamie Bell, Abbie Cornish, Mark Strong, Martin...","New Zealand, United Kingdom","February 8, 2018",2017,R,94 min,When armed gunmen seize the Iranian Embassy in...

In [62]:
netflix.iloc[210:500]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
210,s266,Movie,Aagey Se Right,Indrajit Nattoji,"Shreyas Talpade, Kay Kay Menon, Shiv Pandit, S...",India,"November 1, 2018",2009,TV-14,117 min,A cop full of self-doubt loses his gun five da...
211,s267,Movie,Aajcha Divas Majha,Chandrakant Kulkarni,"Sachin Khedekar, Ashwini Bhave, Mahesh Manjrek...",India,"January 1, 2018",2013,TV-PG,126 min,A conscientious politician helps an elderly si...
212,s268,Movie,Aakhri Adaalat,Rajiv Mehra,"Vinod Khanna, Dimple Kapadia, Jackie Shroff, S...",India,"September 1, 2017",1988,TV-14,148 min,An intrepid police inspector forced into a des...
213,s269,Movie,Aalorukkam,V C Abhilash,"Indrans, Sreekanth Menon, Vishnu Agasthya, Ali...",India,"November 15, 2018",2018,TV-PG,122 min,When an aging father seeks the help of a docto...
214,s270,Movie,Aamir,Raj Kumar Gupta,"Rajeev Khandelwal, Gajraj Rao, Shashanka Ghosh...",India,"November 1, 2018",2008,TV-14,95 min,"In this high-tension thriller, an anonymous ca..."
...,...,...,...,...,...,...,...,...,...,...,...
495,s649,Movie,Aziz Ansari Live at Madison Square Garden,Aziz Ansari,Aziz Ansari,United States,"March 6, 2015",2015,TV-MA,58 min,"Stand-up comedian and TV star Aziz Ansari (""Pa..."
496,s650,Movie,Aziz Ansari: Buried Alive,"Will Lovelace, Dylan Southern",Aziz Ansari,United States,"November 1, 2013",2013,TV-MA,80 min,"""Parks and Recreation"" star Aziz Ansari takes ..."
497,s651,Movie,Aziz Ansari: RIGHT NOW,Spike Jonze,Aziz Ansari,United States,"July 9, 2019",2019,TV-MA,65 min,"In a comedy special directed by Spike Jonze, A..."
498,s653,Movie,B.A. Pass,Ajay Bahl,"Shadab Kamal, Shilpa Shukla, Rajesh Sharma, Di...",India,"June 7, 2018",2013,TV-14,99 min,"Orphaned and at loose ends, young Mukesh falls..."
499,s654,Movie,B.A. Pass 2,Shadab Khan,"Kritika Sachdeva, Sasho, Sanghmitra Hitaishi, ...",India,"June 1, 2018",2017,TV-14,126 min,A young woman eager to avoid an arranged marri...

In [64]:
# filter columns 

netflix.iloc[:,[0,1,10]] # filtrando por posiciones de columnas

     show_id     type                                        description
0         s2    Movie  After a devastating earthquake hits Mexico Cit...
1         s3    Movie  When an army recruit is found dead, his fellow...
2         s4    Movie  In a postapocalyptic world, rag-doll robots hi...
3         s5    Movie  A brilliant group of students become card-coun...
4         s6  TV Show  A genetics professor experiments with a treatm...
...      ...      ...                                                ...
5393   s7781    Movie  A drug dealer starts having doubts about his t...
5394   s7782    Movie  Dragged from civilian life, a former superhero...
5395   s7783    Movie  When Lebanon's Civil War deprives Zozo of his ...
5396   s7784    Movie  A scrappy but poor boy worms his way into a ty...
5397   s7787    Movie  This documentary delves into the mystique behi...

[5398 rows x 3 columns]

In [66]:
netflix.iloc[1000:2000,[0,1,10]]

     show_id   type                                        description
1000   s1376  Movie  Soccer goalie Claudio Tamburrini is kidnapped ...
1001   s1384  Movie  Mistaking a broke, small-time hustler for a mi...
1002   s1385  Movie  The lives of five hapless, petty criminals car...
1003   s1386  Movie  Jealous of the high regard in which his new wi...
1004   s1388  Movie  A young man in Kerala has two weeks to stop th...
...      ...    ...                                                ...
1995   s2856  Movie  Hubie's not the most popular guy in Salem, Mas...
1996   s2858  Movie  Living inside a Paris train station, an orphan...
1997   s2859  Movie  This action-packed animated double feature pit...
1998   s2860  Movie  Although Nisha falls for Prem, she agrees to m...
1999   s2861  Movie  A scheming matriarch plots to cut off her disa...

[1000 rows x 3 columns]

In [67]:
# Column names in a list
list(netflix.columns)

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'description']

### ***Sorting and Subsetting***

In [68]:
# sort ascendet 
netflix.sort_values("release_year", inplace = True)
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
4259,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,Director John Ford captures combat footage of ...
3451,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,Frank Capra's documentary chronicles the rise ...
5100,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,This World War II-era training film dramatizes...
5286,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,This installment of Frank Capra's acclaimed do...
5325,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Filmmaker John Huston narrates this Oscar-nomi...
...,...,...,...,...,...,...,...,...,...,...,...
5026,s7221,Movie,Tribhanga - Tedhi Medhi Crazy,Renuka Shahane,"Kajol, Tanvi Azmi, Mithila Palkar, Kunaal Roy ...",Sin nacionalidad,"January 15, 2021",2021,TV-MA,96 min,"When her estranged mother falls into a coma, a..."
981,s1356,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,Sin nacionalidad,"January 12, 2021",2021,TV-MA,98 min,"In this extended cut of his 2018 special, Chri..."
5306,s7645,Movie,Wish You,Sung Do-jun,"Kang In-soo, Lee Sang, Soo-bin",Sin nacionalidad,"January 15, 2021",2021,TV-PG,102 min,"Singing and dreaming together, a talented sing..."
940,s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...","Canada, United States, Cayman Islands","January 8, 2021",2021,TV-Y7,85 min,"On the eve of his 21st birthday, an adored pri..."
4508,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,TV-14,2 Seasons,A boy suddenly orphaned fights his parents' ki...

In [70]:
netflix.sort_values("release_year", ascending = False, inplace = True)
netflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description
4508,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,TV-14,2 Seasons,A boy suddenly orphaned fights his parents' ki...
3122,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,Sin nacionalidad,"January 13, 2021",2021,TV-MA,1 Season,Beneath the sunlit glamour of 1985 LA lurks a ...
940,s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...","Canada, United States, Cayman Islands","January 8, 2021",2021,TV-Y7,85 min,"On the eve of his 21st birthday, an adored pri..."
5306,s7645,Movie,Wish You,Sung Do-jun,"Kang In-soo, Lee Sang, Soo-bin",Sin nacionalidad,"January 15, 2021",2021,TV-PG,102 min,"Singing and dreaming together, a talented sing..."
981,s1356,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,Sin nacionalidad,"January 12, 2021",2021,TV-MA,98 min,"In this extended cut of his 2018 special, Chri..."
5026,s7221,Movie,Tribhanga - Tedhi Medhi Crazy,Renuka Shahane,"Kajol, Tanvi Azmi, Mithila Palkar, Kunaal Roy ...",Sin nacionalidad,"January 15, 2021",2021,TV-MA,96 min,"When her estranged mother falls into a coma, a..."
5241,s7552,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"With the peak of his career long behind him, a..."
5253,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,"In this delightful short documentary, an Itali..."
3293,s4711,Movie,Outside the Wire,Mikael Håfström,"Anthony Mackie, Damson Idris, Emily Beecham, M...",Sin nacionalidad,"January 15, 2021",2021,R,116 min,"In the near future, a drone pilot sent into a ..."
3551,s5104,Movie,Ratones Paranoicos: The Band that Rocked Argen...,"Alejandro Ruax, Ramiro Martínez","Juan Sebastián Gutiérrez, Pablo Cano, Pablo Me...",Sin nacionalidad,"January 6, 2021",2021,TV-MA,76 min,"The irrepressible Ratones Paranoicos, Argentin..."

In [72]:
netflix['number'] = np.random.randint(1, 10, netflix.shape[0])

In [64]:
netflix.sort_values(["release_year","number"], inplace = True)
netflix.head(10)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,Sin director,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,4867,4
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,4960,7
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,6117,8
7616,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...,7616,2
7342,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,7342,4
7679,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,7679,8
6657,s6658,Movie,The Memphis Belle: A Story of a\r\nFlying Fort...,William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,"Classic Movies, Documentaries",This documentary centers on the crew of the B-...,6657,3
6699,s6700,Movie,The Negro Soldier,Stuart Heisler,NaN,United States,"March 31, 2017",1944,TV-14,40 min,"Classic Movies, Documentaries",This documentary urged African Americans to en...,6699,4
7268,s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-14,76 min,"Classic Movies, Documentaries",British and American troops join forces to lib...,7268,5
3425,s3426,Movie,Know Your Enemy - Japan,"Frank Capra, Joris Ivens","Walter Huston, Dana Andrews",United States,"March 31, 2017",1945,TV-14,63 min,"Classic Movies, Documentaries",Though culturally insensitive by modern standa...,3425,1

In [73]:
net_two_sort = netflix.sort_values(["release_year","number"], ascending = [True,False]) 
net_two_sort.head(10)
# obs : en 1943 ==> en ["duration"] lo ordena de forma descendente

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
3451,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,Frank Capra's documentary chronicles the rise ...,5
4259,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,Director John Ford captures combat footage of ...,4
5325,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Filmmaker John Huston narrates this Oscar-nomi...,9
5286,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,This installment of Frank Capra's acclaimed do...,5
5100,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,This World War II-era training film dramatizes...,4
5053,s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-14,76 min,British and American troops join forces to lib...,8
4659,s6700,Movie,The Negro Soldier,Stuart Heisler,NaN,United States,"March 31, 2017",1944,TV-14,40 min,This documentary urged African Americans to en...,5
4635,s6658,Movie,The Memphis Belle: A Story of a\r\nFlying Fort...,William Wyler,NaN,United States,"March 31, 2017",1944,TV-PG,40 min,This documentary centers on the crew of the B-...,4
3101,s4437,Movie,Nazi Concentration Camps,George Stevens,NaN,United States,"March 31, 2017",1945,TV-MA,59 min,Shocking footage shows Nazi concentration camp...,5
3746,s5372,Movie,San Pietro,John Huston,NaN,United States,"March 31, 2017",1945,TV-14,32 min,"After the Allies invade Italy, the Liri Valley...",5

### ***Subsetting columns***

In [29]:
netflix.director

0            Sin director
1       Jorge Michel Grau
2            Gilbert Chan
3             Shane Acker
4          Robert Luketic
              ...
7782          Josef Fares
7783          Mozez Singh
7784         Sin director
7785         Sin director
7786             Sam Dunn
Name: director, Length: 7787, dtype: object

In [30]:
netflix[["director","cast"]]

               director                                               cast
0          Sin director  João Miguel, Bianca Comparato, Michel Gomes, R...
1     Jorge Michel Grau  Demián Bichir, Héctor Bonilla, Oscar Serrano, ...
2          Gilbert Chan  Tedd Chan, Stella Chung, Henley Hii, Lawrence ...
3           Shane Acker  Elijah Wood, John C. Reilly, Jennifer Connelly...
4        Robert Luketic  Jim Sturgess, Kevin Spacey, Kate Bosworth, Aar...
...                 ...                                                ...
7782        Josef Fares  Imad Creidi, Antoinette Turk, Elias Gergi, Car...
7783        Mozez Singh  Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
7784       Sin director                                            Nasty C
7785       Sin director                         Adriano Zumbo, Rachel Khoo
7786           Sam Dunn                                                NaN

[7787 rows x 2 columns]

### ***Subsetting rows***

In [75]:
netflix[ netflix["release_year"] < 2011 ]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
4291,s6163,Movie,The Bounty Hunter,Andy Tennant,"Jennifer Aniston, Gerard Butler, Jason Sudeiki...",United States,"October 1, 2019",2010,PG-13,111 min,Bounty hunter Milo Boyd finds his latest assig...,7
4795,s6885,Movie,The Social Network,David Fincher,"Jesse Eisenberg, Andrew Garfield, Justin Timbe...",United States,"April 1, 2020",2010,PG-13,121 min,Director David Fincher's biographical drama ch...,5
3591,s5167,Movie,Resident Evil: Afterlife,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Kim Coates, Shawn ...","Germany, France, United States, Canada, United...","January 1, 2020",2010,R,97 min,The Undead Apocalypse continues as super-soldi...,6
5278,s7605,Movie,Whitney Cummings: Money Shot,John Fortenberry,Whitney Cummings,United States,"January 1, 2019",2010,TV-MA,48 min,Comedy Central roast veteran Whitney Cummings ...,3
475,s623,Movie,Aurora,Cristi Puiu,"Cristi Puiu, Clara Voda, Catrinel Dumitrescu, ...","Romania, France, Switzerland, Germany","March 4, 2020",2010,TV-MA,186 min,"42-year-old Viorel, a distraught engineer, tak...",6
...,...,...,...,...,...,...,...,...,...,...,...,...
5325,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Filmmaker John Huston narrates this Oscar-nomi...,9
5100,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,This World War II-era training film dramatizes...,4
5286,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,This installment of Frank Capra's acclaimed do...,5
3451,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,Frank Capra's documentary chronicles the rise ...,5
4259,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,Director John Ford captures combat footage of ...,4

In [76]:
netflix[(netflix["release_year"] < 2011) & (netflix["number"] > 5)]  # para más de un condicional colocar los casos en paréntesis

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
4291,s6163,Movie,The Bounty Hunter,Andy Tennant,"Jennifer Aniston, Gerard Butler, Jason Sudeiki...",United States,"October 1, 2019",2010,PG-13,111 min,Bounty hunter Milo Boyd finds his latest assig...,7
3591,s5167,Movie,Resident Evil: Afterlife,Paul W.S. Anderson,"Milla Jovovich, Ali Larter, Kim Coates, Shawn ...","Germany, France, United States, Canada, United...","January 1, 2020",2010,R,97 min,The Undead Apocalypse continues as super-soldi...,6
475,s623,Movie,Aurora,Cristi Puiu,"Cristi Puiu, Clara Voda, Catrinel Dumitrescu, ...","Romania, France, Switzerland, Germany","March 4, 2020",2010,TV-MA,186 min,"42-year-old Viorel, a distraught engineer, tak...",6
3507,s5048,Movie,Raajneeti,Prakash Jha,"Ajay Devgn, Nana Patekar, Ranbir Kapoor, Katri...",India,"August 2, 2018",2010,TV-14,162 min,When the American-educated scion of a powerful...,8
3696,s5309,Movie,Rush: Beyond the Lighted Stage,"Sam Dunn, Scot McFadyen",NaN,Canada,"February 15, 2017",2010,TV-MA,107 min,Celebrate the remarkable 40-year career of inf...,9
...,...,...,...,...,...,...,...,...,...,...,...,...
3563,s5123,Movie,Rebel Without a Cause,Nicholas Ray,"James Dean, Natalie Wood, Sal Mineo, Jim Backu...",United States,"November 1, 2019",1955,PG-13,111 min,When Jim Stark arrives in a new town with his ...,7
3790,s5426,Movie,Scandal in Sorrento,Dino Risi,"Vittorio De Sica, Sophia Loren, Lea Padovani, ...","Italy, France","November 13, 2020",1955,TV-PG,93 min,"When a marshal moves back to his hometown, he ...",8
4929,s7073,Movie,Thunderbolt,"William Wyler, John Sturges","James Stewart, Lloyd Bridges",United States,"March 31, 2017",1947,TV-PG,42 min,A P-47 Thunderbolt squadron is shown in prepar...,9
5053,s7269,Movie,Tunisian Victory,"Frank Capra, John Huston, Hugh Stewart, Roy Bo...",Burgess Meredith,"United States, United Kingdom","March 31, 2017",1944,TV-14,76 min,British and American troops join forces to lib...,8
5325,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Filmmaker John Huston narrates this Oscar-nomi...,9

In [69]:
netflix[( netflix.release_year < 2011 ) & (netflix.number > 5)]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,4960,7
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,6117,8
7679,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Documentaries,Filmmaker John Huston narrates this Oscar-nomi...,7679,8
5371,s5372,Movie,San Pietro,John Huston,NaN,United States,"March 31, 2017",1945,TV-14,32 min,"Classic Movies, Documentaries","After the Allies invade Italy, the Liri Valley...",5371,6
4436,s4437,Movie,Nazi Concentration Camps,George Stevens,NaN,United States,"March 31, 2017",1945,TV-MA,59 min,"Classic Movies, Documentaries",Shocking footage shows Nazi concentration camp...,4436,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
915,s916,Movie,Bill Burr: Let It Go,Shannon Hartman,Bill Burr,United States,"November 10, 2017",2010,NR,65 min,Stand-Up Comedy,The musings of comedian Bill Burr are let loos...,915,9
299,s300,Movie,Act of Vengeance,Mahsun Kırmızıgül,"Haluk Bilginer, Mahsun Kırmızıgül, Mustafa San...","Turkey, United States","September 29, 2018",2010,NR,112 min,"Action & Adventure, International Movies",Two Turkish agents are sent to New York City o...,299,9
6596,s6597,Movie,The Light of My Eyes,Sin director,NaN,NaN,"June 5, 2020",2010,TV-MA,96 min,"Dramas, International Movies, Romantic Movies",A composer hides his love for his formerly bli...,6596,9
4302,s4303,Movie,My Amnesia Girl,Cathy Garcia-Molina,"John Lloyd Cruz, Toni Gonzaga, Carlos Agassi, ...",Philippines,"November 19, 2020",2010,TV-14,105 min,"International Movies, Romantic Movies",Years after leaving his bride-to-be at the alt...,4302,9
7061,s7062,Movie,Thorne: Sleepyhead,Stephen Hopkins,"David Morrissey, Eddie Marsan, Aidan Gillen, O...","United Kingdom, Australia, Canada, United States","November 2, 2016",2010,NR,125 min,"Dramas, International Movies",Investigating a series of attacks on young wom...,7061,9

In [73]:
netflix[['director']].iloc[0:10]

                                               director
4867                                       Sin director
4960                                        Frank Capra
6117                                          John Ford
7616                        Frank Capra, Anatole Litvak
7342                                          John Ford
7679                                        John Huston
6657                                      William Wyler
6699                                     Stuart Heisler
7268  Frank Capra, John Huston, Hugh Stewart, Roy Bo...
3425                           Frank Capra, Joris Ivens

In [71]:
netflix

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
4867,s4868,TV Show,Pioneers: First Women Filmmakers*,Sin director,NaN,NaN,"December 30, 2018",1925,TV-14,1 Season,TV Shows,This collection restores films from women who ...,4867,4
4960,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,"Classic Movies, Documentaries",Frank Capra's documentary chronicles the rise ...,4960,7
6117,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,"Classic Movies, Documentaries",Director John Ford captures combat footage of ...,6117,8
7616,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,Documentaries,This installment of Frank Capra's acclaimed do...,7616,2
7342,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,"Classic Movies, Documentaries",This World War II-era training film dramatizes...,7342,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1864,s1865,TV Show,Dream Home Makeover,Sin director,NaN,United States,"January 1, 2021",2021,TV-G,2 Seasons,Reality TV,Dreams come true for real families looking for...,1864,7
4468,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,NaN,"January 13, 2021",2021,TV-MA,1 Season,"Crime TV Shows, Docuseries",Beneath the sunlit glamour of 1985 LA lurks a ...,4468,7
1528,s1529,Movie,Creating The Queen's Gambit,Sin director,NaN,NaN,"January 8, 2021",2021,TV-14,14 min,Documentaries,A fascinating character. Exquisite sets. A wig...,1528,8
4965,s4966,TV Show,Pretend It’s a City,Sin director,Fran Lebowitz,United States,"January 8, 2021",2021,TV-14,1 Season,Docuseries,Wander the New York City streets and fascinati...,4965,9
7551,s7552,Movie,What Happened to Mr. Cha?,Kim Dong-kyu,"Cha In-pyo, Cho Dal-hwan, Song Jae-ryong",South Korea,"January 1, 2021",2021,TV-MA,102 min,"Comedies, International Movies","With the peak of his career long behind him, a...",7551,9

### ***Subsetting based on text data***

In [78]:
net_peru = netflix[netflix.country == "Peru"]
net_peru

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
1988,s2846,Movie,How to Get Over a Breakup,"Joanna Lombardi, Bruno Ascenzo","Gisela Ponce de León, Karina Jordán, Jely Reát...",Peru,"October 20, 2018",2018,TV-MA,104 min,"A heartbroken ad copywriter living in Lima, Pe...",4
3937,s5635,Movie,Sinister Circle,Dorian Fernández-Moris,"Milene Vázquez, Matías Raygada, Claudia Dammer...",Peru,"October 1, 2019",2017,TV-MA,87 min,A psychologist and her mute son confront evil ...,7
3306,s4733,Movie,Pacificum: Return to the Ocean,"Mariana Tschudi, Héctor Gálvez",NaN,Peru,"June 15, 2018",2017,TV-G,74 min,Four scientists offer a sweeping yet intimate ...,3
463,s605,Movie,Asu Mare 2,Ricardo Maldonado,"Carlos Alcántara, Emilia Drago, Christian Meie...",Peru,"December 1, 2016",2015,TV-14,100 min,To win the heart of his true love – a high-soc...,7

In [79]:
net_mex = netflix[netflix["country"] == "Mexico"]
net_mex

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
1118,s1577,Movie,Dad Wanted,Javier Colinas,"Natalia Coronado, Juan Pablo Medina, Silvia Na...",Mexico,"September 11, 2020",2020,TV-14,103 min,What does a thrill-seeker tween girl do when h...,6
1141,s1615,Movie,Dark Forces,Bernardo Arellano,"Tenoch Huerta, Eréndira Ibarra, Dale Carley, A...",Mexico,"August 21, 2020",2020,TV-MA,81 min,"In search of his sister, a renegade criminal s...",5
4824,s6928,Movie,The Three Deaths of Marisela Escobedo,Carlos Pérez Osorio,NaN,Mexico,"October 14, 2020",2020,TV-MA,110 min,This documentary examines a mother's tireless ...,1
3010,s4300,Movie,Mutiny of the Worker Bees,Carlos Morett,"Gustavo Egelhaaf, Alejandro Suárez, Bárbara de...",Mexico,"May 20, 2020",2020,TV-MA,94 min,When Omar's grandfather forces him to get a jo...,6
3634,s5230,Movie,ROAD TO ROMA,Andres Clariond,NaN,Mexico,"February 11, 2020",2020,TV-PG,73 min,Director Alfonso Cuarón reflects on the childh...,5
...,...,...,...,...,...,...,...,...,...,...,...,...
4670,s6721,Movie,The Old Thieves: The Legend of Artegios,Everardo González,NaN,Mexico,"November 1, 2019",2007,TV-MA,97 min,"While carrying out prison sentences, five noto...",4
5335,s7691,Movie,Y Tu Mamá También,Alfonso Cuarón,"Maribel Verdú, Gael García Bernal, Diego Luna,...",Mexico,"June 1, 2017",2001,R,106 min,When rich teens Tenoch and Julio meet the allu...,9
3862,s5527,Movie,"Sexo, Pudor y Lagrimas",Antonio Serrano,"Demián Bichir, Susana Zabaleta, Jorge Salinas,...",Mexico,"December 15, 2017",1999,R,111 min,Passions flare and alliances form when neighbo...,5
2556,s3640,Movie,Like Water for Chocolate,Alfonso Arau,"Marco Leonardi, Lumi Cavazos, Regina Torné, Ma...",Mexico,"November 1, 2019",1992,R,105 min,"When Pedro marries her sister, Tita throws her...",4
3982,s5698,Movie,Solo Con Tu Pareja,Alfonso Cuarón,"Luis de Icaza, Dobrina Liubomirova, Isabel Ben...",Mexico,"September 1, 2018",1991,NR,94 min,A yuppie playboy looks for a quick death after...,5

# ***Filtering Data***

### Checking unique values

In [76]:
netflix["country"].unique()

array([nan, 'United States', 'United States, United Kingdom', 'Egypt',
       'Italy, France', 'Italy', 'India', 'India, Malaysia',
       'United Kingdom, United States',
       'United States, Italy, United Kingdom, Liechtenstein', 'Poland',
       'Italy, United States',
       'United States, East Germany, West Germany',
       'United Kingdom, West Germany', 'Hong Kong, United States',
       'Hong Kong', 'United Kingdom', 'France', 'Lebanon', 'Poland,',
       'West Germany', 'Egypt, Algeria', 'Japan', 'Mexico',
       'Lebanon, Canada, France', 'Australia, United States',
       'Soviet Union, India', 'Kuwait', 'Australia', 'France, Lebanon',
       'India, Soviet Union', 'Poland, West Germany', 'Argentina',
       'United States, Japan',
       'Italy, South Africa, West Germany, Australia, United States',
       'Hong Kong, China', 'Denmark, France, Poland',
       'United States, Canada', 'Ireland, United Kingdom, United States',
       'France, Egypt', 'United States, Mexico', 'France, Belgium, Italy',
       'United States, Hong Kong', 'Australia, United Kingdom',
       'United Kingdom, Japan, United States', 'United States, France',
       'France, United Kingdom, India', 'United States, France, Mexico',
       'Argentina, Spain', 'Egypt, France',
       'United States, France, Japan', 'United States, Germany',
       'Canada, United States', 'United States, Germany, Mexico',
       'Canada', 'France, Norway, Lebanon, Belgium',
       'United States, Germany, Canada', 'Germany, United States',
       'Thailand', 'Germany, United States, United Kingdom, Canada',
       'United Kingdom, France', 'France, Japan, United States',
       'Taiwan, Hong Kong, United States, China',
       'Germany, Canada, United States',
       'United States, United Kingdom, Italy', 'Turkey', 'Indonesia',
       'United Kingdom, United States, France, Germany',
       'United States, United Arab Emirates', 'France, United States',
       'United States, Netherlands, Japan, France', 'Taiwan',
       'United States, Italy',
       'United Kingdom, Germany, Canada, United States',
       'South Africa, United States', 'Brazil, France, Germany',
       'New Zealand, United States', 'United States, New Zealand',
       'United States, Germany, United Kingdom',
       'United States, Australia', 'Malaysia',
       'United States, France, Canada, Spain', 'Colombia, United States',
       'India, France', 'Lebanon, France', 'South Korea',
       'United States, Czech Republic', 'United States, Canada, Germany',
       'Uruguay, Argentina, Germany, Spain',
       'Hong Kong, China, United States',
       'Germany, United States, Canada',
       'United States, United Kingdom, Germany',
       'Sweden, Czech Republic, United Kingdom, Denmark, Netherlands',
       'United Kingdom, Czech Republic, Germany, United States',
       'China, Hong Kong', 'United States, Germany, Australia',
       'United States, France, United Kingdom, Japan',
       'United Kingdom, United States, Japan', 'Romania',
       'United States, Czech Republic, United Kingdom', 'Netherlands',
       'United Kingdom, Czech Republic, United States, Germany, Bahamas',
       'United Kingdom, Thailand',
       'United States, Malta, France, United Kingdom',
       'Saudi Arabia, United Arab Emirates', 'Mexico, Spain',
       'France, United States, Mexico', 'Germany', 'Philippines',
       'Denmark', 'France, Lebanon, United Kingdom',
       'United Kingdom, Ireland', 'France, Belgium',
       'United States, United Kingdom, Canada', 'United Kingdom, India',
       'United States, New Zealand, Japan', 'Hong Kong, Taiwan',
       'Venezuela, Colombia', 'New Zealand, United Kingdom, Australia',
       'Norway', 'United States, South Africa',
       'United States, South Korea', 'Spain', 'Colombia',
       'United States, China', 'China', 'Colombia, Mexico, United States',
       'India, United States', 'Saudi Arabia',
       'Germany, United Kingdom, United States',
       'United Kingdom, Germany, United States',
       'United States, United Kingdom, France',
       'Czech Republic, United Kingdom, France',
       'France, Switzerland, Spain, United States, United Arab Emirates',
       'Singapore', 'Nigeria', 'United States, United Kingdom, Australia',
       'South Africa, United States, New Zealand, Canada',
       'United States, Germany, United Kingdom, Italy',
       'Spain, United Kingdom, United States',
       'United States, Germany, United Kingdom, Australia',
       'United States, Canada, France',
       'United Kingdom, Canada, France, United States',
       'United Kingdom, Canada', 'Germany, United States, France',
       'South Korea, United States', 'United States, Ireland',
       'Australia, France, Ireland',
       'France, United Kingdom, United States',
       'Canada, United States, India, United Kingdom',
       'Mexico, United States', 'Hong Kong, China, Singapore',
       'South Africa', 'India, Germany, France',
       'Romania, France, Switzerland, Germany',
       'United States, Canada, United Kingdom',
       'Germany, France, United States, Canada, United Kingdom',
       'India, Australia', 'United States, France, Italy, United Kingdom',
       'United States, United Kingdom, Canada, Japan',
       'United States, Australia, Mexico', 'India, Pakistan',
       'India, Japan', 'United Kingdom, United States, Australia',
       'Spain, Mexico, France', 'Germany, Sri Lanka',
       'United Kingdom, France, United States',
       'Ireland, Canada, United States, United Kingdom',
       'Japan, United States', 'Canada, Nigeria', 'Turkey, United States',
       'United Kingdom, Australia, Canada, United States',
       'United Kingdom, United States, Spain, Germany, Greece, Canada',
       'United Kingdom, Nigeria', 'Italy, Canada, France', 'Iran, France',
       'United States, Sweden, Norway',
       'United Kingdom, Germany, France, United States', 'Pakistan',
       'United States, India',
       'United States, New Zealand, United Kingdom',
       'France, Belgium, United States', 'India, Germany',
       'United States, Belgium, Canada',
       'Canada, United States, United Kingdom, France, Luxembourg',
       'Ireland, United States', 'United Kingdom, United States, France',
       'Brazil, United States', 'Brazil',
       'United States, India, Bangladesh', 'United Kingdom, Germany',
       'United States, Chile', 'United States, Russia', 'Israel',
       'Lebanon, United States, United Arab Emirates',
       'Spain, Thailand, United States',
       'United Kingdom, Denmark, Canada, Croatia',
       'Philippines, Canada, United Kingdom, United States',
       'Sweden, United Kingdom, Finland',
       'Germany, United States, Hong Kong, Singapore',
       'United Kingdom, Norway, Denmark, Germany, Sweden',
       'Saudi Arabia, Netherlands, Germany, Jordan, United Arab Emirates, United States',
       'Nigeria, United Kingdom', 'Canada, France, United States',
       'United States, Canada, Belgium, United Kingdom',
       'United States, Brazil', 'Indonesia, Singapore', 'Chile',
       'Israel, Germany, Poland, Luxembourg, Belgium, France, United States',
       'South Korea, Czech Republic',
       'Switzerland, United Kingdom, United States',
       'Denmark, Germany, Belgium, United Kingdom, France, Sweden',
       'Russia', 'Denmark, Germany, Belgium, United Kingdom, France',
       'United States, Spain', 'United States, France, Canada, Belgium',
       'Turkey, Azerbaijan', 'United States, Hungary, Ireland, Canada',
       'France, Belgium, Spain',
       'United States, Israel, Italy, South Africa',
       'United Kingdom, India, United States', 'Canada, Spain, France',
       'United States, United Kingdom, France, Germany, Japan',
       'United Kingdom, Egypt, United States',
       'Denmark, France, United States, Sweden', 'Australia, France',
       'United States, China, Hong Kong', 'India, Switzerland',
       'India, Canada', 'Canada, India', 'United Kingdom,',
       'France, Germany, Switzerland', 'Pakistan, Norway, United States',
       'United States, France, Canada, Lebanon, Qatar',
       'Denmark, Brazil, France, Portugal, Sweden',
       'Canada, France, Italy, Morocco, United States',
       'Denmark, Zimbabwe', 'United Kingdom, China, United States',
       'Canada, Luxembourg', 'Germany, United Kingdom',
       'Canada, United Kingdom, United States',
       'Canada, Germany, France, United States',
       'Denmark, Indonesia, Finland, Norway, United Kingdom, Israel, France, United States, Germany, Netherlands',
       'United Arab Emirates',
       'United States, United Kingdom, Canada, China',
       'Bulgaria, United States, Spain, Canada',
       'United Arab Emirates, United States', 'Norway, United States',
       'United States, France, Serbia', 'Vietnam',
       'United Arab Emirates, Jordan, Lebanon',
       'United Kingdom, France, Canada, Belgium, United States',
       'United States, Greece, United Kingdom',
       'United Kingdom, Brazil, Germany',
       'United States, Bermuda, Ecuador',
       'Norway, United Kingdom, France, Ireland',
       'Australia, United Kingdom, United States, New Zealand, Italy, France',
       'Lebanon, United Arab Emirates, France, Switzerland, Germany',
       'United Kingdom, United States, Morocco',
       'Thailand, Canada, United States',
       'Australia, United Kingdom, Canada', 'Kenya, United States',
       'Germany, United States, Italy',
       'Denmark, United Kingdom, South Africa, Sweden, Belgium',
       'Austria, Czech Republic',
       'United States, United Kingdom, Denmark, Sweden',
       'Russia, United States', 'Norway, Denmark, Sweden',
       'Canada, South Korea, United States',
       'United States, Japan, Canada',
       'United States, India, United Arab Emirates',
       'United Kingdom, Canada, United States', 'France, Canada, Belgium',
       'South Korea, China, United States',
       'Canada, United Kingdom, Netherlands', 'United States, Senegal',
       'China, Germany, India, United States',
       'France, Canada, Italy, United States, China', 'Australia, Iraq',
       'France, Morocco',
       'Ireland, United Kingdom, Greece, France, Netherlands',
       'United States, Canada, Japan, Panama',
       'Australia, United Kingdom, United Arab Emirates, Canada',
       'Malaysia, Singapore, Hong Kong', 'United Arab Emirates, Jordan',
       'Japan, Canada', 'Switzerland', 'Lebanon, Qatar', 'Mexico, France',
       'Germany, Australia, France, China', 'United States, Morocco',
       'Peru', 'Romania, Bulgaria, Hungary', 'United Kingdom, Lithuania',
       'Croatia, Slovenia, Serbia, Montenegro', 'France, Germany',
       'Canada, Mexico, Germany, South Africa',
       'United States, United Kingdom, Morocco',
       'United States, Spain, Germany', 'Canada, Australia',
       'Argentina, Chile, Peru', 'Israel, Sweden, Germany, Netherlands',
       'United Kingdom, South Korea',
       'Netherlands, Belgium, United Kingdom, United States',
       'New Zealand', 'Denmark, United Kingdom, Sweden',
       'United States, Nicaragua', 'United States, Indonesia', 'Belgium',
       'United Kingdom, United States, Germany, Denmark, Belgium, Japan',
       'United States, United Kingdom, Spain, South Korea',
       'United States, Ireland, United Kingdom, India',
       'Chile, Spain, Argentina, Germany', 'United States, Sweden',
       'Germany, France, Luxembourg, United Kingdom, United States',
       'Russia, Spain', 'United States, Uruguay',
       'United Kingdom, Ukraine, United States',
       'United States, Argentina',
       'United Kingdom, Russia, United States', 'Pakistan, United States',
       'France, Malta, United States',
       'Canada, United States, United Kingdom', 'Ireland', 'Ukraine',
       'Ireland, Canada, United Kingdom, United States',
       'United States, Chile, Israel', 'Russia, United States, China',
       'Israel, United States', 'United Kingdom, New Zealand',
       'Spain, France, Uruguay', 'France, United States, Canada',
       'China, South Korea, United States', 'Iceland',
       'Canada, United States, France',
       'Netherlands, Denmark, South Africa', 'Netherlands, Belgium',
       'Czech Republic, France', 'Ireland, United Kingdom',
       'United States, Greece', 'Germany, Jordan, Netherlands',
       'France, Canada, China, Cambodia', 'Canada, United Kingdom',
       'United Kingdom, Germany, Canada', 'France, South Korea, Japan',
       'South Africa, United States, Germany',
       'Canada, India, Thailand, United States, United Arab Emirates',
       'Netherlands, Belgium, Germany, Jordan', 'Denmark, China',
       'United States, Canada, China', 'United States, Canada, Ireland',
       'India, United Kingdom', 'United States, Venezuela',
       'Chile, Argentina, France, Spain, United States',
       'United Kingdom, South Africa', 'Belgium, France',
       'United Kingdom, France, Germany, United States',
       'Serbia, South Korea, Slovenia', 'Italy, Germany',
       'United Kingdom, Spain, Belgium', 'Canada, Spain',
       'United States, Spain, Italy', 'Chile, United States, France',
       'Austria', 'Australia, India', 'France, Qatar',
       'Peru, United States, United Kingdom', 'Sweden', 'Chile, France',
       'Philippines, Qatar', 'Finland, Sweden, Norway, Latvia, Germany',
       'United States, Greece, Brazil', 'Hungary', 'China, United States',
       'France, Germany, Czech Republic, Belgium',
       'United States, Cambodia', 'Netherlands, Denmark, France, Germany',
       'Norway, Germany', 'United States, Kazakhstan',
       'Czech Republic, Slovakia',
       'Brazil, Netherlands, United States, Colombia, Austria, Germany',
       'United States, United Kingdom, Japan', 'Sweden, United States',
       'United Kingdom, France, United States, Belgium, Luxembourg, China, Germany',
       'United Arab Emirates, Romania', 'South Korea, France',
       'Portugal, France, Poland, United States', 'Belarus',
       'Spain, United States', 'Spain, Italy, Argentina',
       'Spain, Argentina', 'Turkey, India',
       'United Kingdom, Germany, United Arab Emirates, New Zealand',
       'United States, South Korea, China',
       'United Kingdom, Spain, United States',
       'United Kingdom, France, Germany',
       'China, Hong Kong, United States', 'Spain, Mexico',
       'Turkey, France, Germany, Poland', 'South Korea, China',
       'United Kingdom, Israel, Russia', 'Spain, Switzerland',
       'United Kingdom, Hong Kong',
       'Slovenia, Croatia, Germany, Czech Republic, Qatar',
       'Denmark, United States', 'United Kingdom, France, Belgium',
       'United Kingdom, Poland, United States',
       'Ireland, United Kingdom, Italy, United States', 'France, Canada',
       'United Kingdom, Canada, Italy',
       'United Kingdom, Italy, Israel, Peru, United States',
       'Denmark, Spain', 'France, Canada, United States',
       'Bulgaria, United States', 'United Kingdom, Russia',
       'United States, Hungary', 'United States, Bulgaria',
       'Canada, Ireland, United States', 'Israel, Germany, France',
       'United Kingdom, Jordan, Qatar, Iran',
       'South Korea, Canada, United States, China', 'Singapore, France',
       'United States, France, South Korea, Indonesia',
       'Switzerland, France', 'Italy, India', 'United States, Botswana',
       'Spain, Cuba', 'Portugal, Spain',
       'Belgium, Ireland, Netherlands, Germany, Afghanistan',
       'United Kingdom, Finland, Germany', 'Canada, France',
       'Ireland, South Africa', 'United States, Iceland',
       'Denmark, Sweden, Israel, United States', 'Australia, Canada',
       'Australia, Armenia, Japan, Jordan, Mexico, Mongolia, New Zealand, Philippines, South Africa, Sweden, United States, Uruguay',
       'Australia, United Arab Emirates',
       'Brazil, India, China, United States', 'Serbia, United States',
       'Germany, Australia',
       'United States, Australia, Samoa, United Kingdom',
       'Italy, United States, Argentina', 'Zimbabwe',
       'United Kingdom, Canada, Japan', 'India, Mexico',
       'Germany, France, Russia',
       'Netherlands, Germany, Denmark, United Kingdom',
       'Ireland, Canada, Luxembourg, United States, United Kingdom, Philippines, India',
       'Brazil, France', 'France, Belgium, China, United States',
       'Cambodia, United States', 'China, Canada, United States',
       'United Kingdom, France, Belgium, Canada, United States',
       'Saudi Arabia, Syria, Egypt, Lebanon, Kuwait',
       'Greece, United States', 'Austria, United States', 'Guatemala',
       'Sweden, Netherlands', 'Israel, Germany', 'South Africa, Nigeria',
       'Argentina, Brazil, France, Poland, Germany, Denmark', 'Cyprus',
       'Canada, Germany, South Africa',
       'United States, Canada, Indonesia, United Kingdom, China, Singapore',
       'Somalia, Kenya, Sudan, South Africa, United States',
       'United Kingdom, Namibia, South Africa, Zimbabwe, United States',
       'Argentina, Uruguay, Spain, France',
       'United Kingdom, France, Belgium, United States',
       'Italy, France, Switzerland', 'United States, Denmark', 'Ghana',
       'Singapore, United States',
       'Australia, New Zealand, United States',
       'South Africa, Germany, Netherlands, France', 'Argentina, France',
       'Germany, Belgium', 'United States, South Korea, Japan',
       'Venezuela', 'United States, Colombia, Mexico',
       'Indonesia, Netherlands', 'Cambodia',
       'United Kingdom, India, Sweden',
       'Spain, Belgium, Switzerland, United States, China, United Kingdom',
       'Czech Republic, United States',
       'United Arab Emirates, United States, United Kingdom',
       'Germany, Italy', 'Chile, Peru', 'Norway, Germany, Sweden',
       'Uruguay', 'New Zealand, United Kingdom',
       'United Kingdom, United States, Canada', 'Spain, United Kingdom',
       'Spain, Canada, United States',
       'United Kingdom, France, United States, Belgium', 'Spain, Germany',
       'China, India, Nepal', 'Argentina, Italy',
       'Switzerland, France, Belgium, United States',
       'United Kingdom, United States, Dominican Republic',
       'France, Japan', 'Peru, Germany, Norway',
       'United Kingdom, China, United States, India', 'Spain, Colombia',
       'Canada, Japan, Netherlands', 'Thailand, United States',
       'United States, Australia, China',
       'Netherlands, Germany, Italy, Canada', 'Argentina, Chile',
       'United Kingdom, Singapore',
       'Argentina, France, United States, Germany, Qatar',
       'Netherlands, United States',
       'France, Netherlands, South Africa, Finland',
       'South Africa, China, United States', 'Italy, Turkey',
       'United States, Australia, South Africa, United Kingdom',
       'Georgia, Germany, France', 'Switzerland, United States',
       'China, Japan', 'Spain, France', 'Jamaica, United States',
       'Indonesia, United States', 'Japan, Canada, United States',
       'India, Germany, Austria', 'Spain, Portugal',
       'Ireland, United States, France', 'Germany, United States, Sweden',
       'United States, China, Colombia',
       'Taiwan, China, France, United States', 'Uruguay, Spain, Mexico',
       'United States, Colombia',
       'United Arab Emirates, United Kingdom, India',
       'United Kingdom, Pakistan', 'Pakistan, United Arab Emirates',
       'Ireland, Canada', 'Spain, Belgium',
       'Austria, Iraq, United States', 'Canada, United States, Germany',
       'Bangladesh', 'Paraguay, Argentina', 'Ghana, United States',
       'Mexico, Netherlands', 'United States, China, Canada',
       'Colombia, Mexico', 'United Kingdom, Belgium',
       'United States, Brazil, South Korea, Mexico, Japan, Germany',
       'France, China, Japan, United States', 'Georgia',
       'China, United States, United Kingdom',
       'Italy, Switzerland, Albania, Poland',

In [38]:
netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7787 entries, 0 to 7786
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       7787 non-null   object
 1   type          7787 non-null   object
 2   title         7787 non-null   object
 3   director      7787 non-null   object
 4   cast          7069 non-null   object
 5   country       7280 non-null   object
 6   date_added    7777 non-null   object
 7   release_year  7787 non-null   int64
 8   rating        7780 non-null   object
 9   duration      7787 non-null   object
 10  listed_in     7787 non-null   object
 11  description   7787 non-null   object
 12  new_col       7787 non-null   int32
 13  number        7787 non-null   int32
dtypes: int32(2), int64(1), object(11)
memory usage: 791.0+ KB

In [39]:
netflix.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,Sin director,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,3
1,s2,Movie,7:19,Jorge Michel Grau,"Demián Bichir, Héctor Bonilla, Oscar Serrano, ...",Mexico,"December 23, 2016",2016,TV-MA,93 min,"Dramas, International Movies",After a devastating earthquake hits Mexico Cit...,1,3
2,s3,Movie,23:59,Gilbert Chan,"Tedd Chan, Stella Chung, Henley Hii, Lawrence ...",Singapore,"December 20, 2018",2011,R,78 min,"Horror Movies, International Movies","When an army recruit is found dead, his fellow...",2,7

### Example

In [80]:
netflix[netflix.type == "TV Show"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
4508,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,TV-14,2 Seasons,A boy suddenly orphaned fights his parents' ki...,2
3122,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,Sin nacionalidad,"January 13, 2021",2021,TV-MA,1 Season,Beneath the sunlit glamour of 1985 LA lurks a ...,2
1629,s2321,TV Show,Futmalls.com,Lai Chun-yu,"Bryan Chang, Eugenie Liu, Bruce He, Ivy Shao, ...",Sin nacionalidad,"December 10, 2020",2020,TV-14,1 Season,Strange occurrences afflict a group of people ...,4
1651,s2348,TV Show,Gameboys Level-Up Edition,Ivan Andrew Payawal,"Kokoy De Santos, Elijah Canlas, Adrianna So, K...",Sin nacionalidad,"December 30, 2020",2020,TV-14,1 Season,"In this recut of the popular web series, live-...",2
4748,s6825,TV Show,The Ripper,"Ellena Wood, Jesse Vile",NaN,United Kingdom,"December 16, 2020",2020,TV-MA,1 Season,"In the late 1970s, British police struggle to ...",2
...,...,...,...,...,...,...,...,...,...,...,...,...
3286,s4701,TV Show,Ouran High School Host Club,Takuya Igarashi,"Maaya Sakamoto, Monica Rial, Vic Mignogna, Luc...",Japan,"April 1, 2017",2006,TV-PG,1 Season,New student Haruhi stumbles on the Ouran High ...,1
155,s196,TV Show,A Lion in the House,"Steven Bognar, Julia Reichert",NaN,United States,"November 10, 2020",2006,TV-14,1 Season,Five kids and their resilient families navigat...,2
4282,s6149,TV Show,The Blue Planet: A Natural History of the Oceans,Alastair Fothergill,David Attenborough,United Kingdom,"October 10, 2015",2001,TV-G,1 Season,David Attenborough narrates this definitive ex...,1
2353,s3335,TV Show,Ken Burns: The Civil War,Ken Burns,"Sam Waterston, Julie Harris, Jason Robards, Mo...",United States,"February 22, 2017",1990,TV-14,1 Season,Ken Burns's documentary depicts the action of ...,8
3410,s4867,TV Show,Pioneers of African-American Cinema,"Oscar Micheaux, Spencer Williams, Richard E. N...",NaN,United States,"February 1, 2017",1946,TV-14,1 Season,This newly preserved collection features more ...,1

In [41]:
len( netflix.loc[netflix["type"] == "TV Show"] )

2410

In [77]:
netflix[(netflix["type"] == "TV Show") & (netflix["country"] == "Peru")]

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description, new_col, number]
Index: []

In [78]:
# No hay series peruanas en Netflix

len(netflix[(netflix["country"] == "Brazil") | (netflix["country"] == "Peru")])

76

In [81]:
netflix[(netflix["type"] == "TV Show") | (netflix["country"] == "Peru")]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
4508,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,TV-14,2 Seasons,A boy suddenly orphaned fights his parents' ki...,2
3122,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,Sin nacionalidad,"January 13, 2021",2021,TV-MA,1 Season,Beneath the sunlit glamour of 1985 LA lurks a ...,2
1629,s2321,TV Show,Futmalls.com,Lai Chun-yu,"Bryan Chang, Eugenie Liu, Bruce He, Ivy Shao, ...",Sin nacionalidad,"December 10, 2020",2020,TV-14,1 Season,Strange occurrences afflict a group of people ...,4
1651,s2348,TV Show,Gameboys Level-Up Edition,Ivan Andrew Payawal,"Kokoy De Santos, Elijah Canlas, Adrianna So, K...",Sin nacionalidad,"December 30, 2020",2020,TV-14,1 Season,"In this recut of the popular web series, live-...",2
4748,s6825,TV Show,The Ripper,"Ellena Wood, Jesse Vile",NaN,United Kingdom,"December 16, 2020",2020,TV-MA,1 Season,"In the late 1970s, British police struggle to ...",2
...,...,...,...,...,...,...,...,...,...,...,...,...
3286,s4701,TV Show,Ouran High School Host Club,Takuya Igarashi,"Maaya Sakamoto, Monica Rial, Vic Mignogna, Luc...",Japan,"April 1, 2017",2006,TV-PG,1 Season,New student Haruhi stumbles on the Ouran High ...,1
155,s196,TV Show,A Lion in the House,"Steven Bognar, Julia Reichert",NaN,United States,"November 10, 2020",2006,TV-14,1 Season,Five kids and their resilient families navigat...,2
4282,s6149,TV Show,The Blue Planet: A Natural History of the Oceans,Alastair Fothergill,David Attenborough,United Kingdom,"October 10, 2015",2001,TV-G,1 Season,David Attenborough narrates this definitive ex...,1
2353,s3335,TV Show,Ken Burns: The Civil War,Ken Burns,"Sam Waterston, Julie Harris, Jason Robards, Mo...",United States,"February 22, 2017",1990,TV-14,1 Season,Ken Burns's documentary depicts the action of ...,8
3410,s4867,TV Show,Pioneers of African-American Cinema,"Oscar Micheaux, Spencer Williams, Richard E. N...",NaN,United States,"February 1, 2017",1946,TV-14,1 Season,This newly preserved collection features more ...,1

In [82]:
# peliculas americanas
netflix.loc[(netflix["type"] == "Movie") & (netflix["country"] == "United States") 
            & (netflix["release_year"] > 2019)].head(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
5253,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,"In this delightful short documentary, an Itali...",8
1080,s1515,Movie,"Crack: Cocaine, Corruption & Conspiracy",Stanley Nelson,NaN,United States,"January 11, 2021",2021,TV-MA,90 min,"A cheap, powerful drug emerges during a recess...",3
4663,s6709,Movie,The Night Clerk,Michael Cristofer,"Tye Sheridan, Ana de Armas, Helen Hunt, John L...",United States,"June 6, 2020",2020,R,90 min,"After a charming guest checks in, a voyeuristi...",8
1620,s2311,Movie,Full Out 2: You Got This!,Jeff Deverett,"Sydney Cope, Logan Edra, Liza Wilk, Braedyn Br...",United States,"January 1, 2021",2020,TV-Y,91 min,"With a championship on the line, Chayse and he...",8
4669,s6720,Movie,The Old Guard,Gina Prince-Bythewood,"Charlize Theron, KiKi Layne, Marwan Kenzari, L...",United States,"July 10, 2020",2020,R,126 min,Four undying warriors who've secretly protecte...,3

In [128]:
# Brazil in 2020
net_B_2020 = netflix[(netflix["country"] == "Brazil") & (netflix["release_year"] == 2020)]
net_B_2020.head(3)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
0,s1,TV Show,3%,NaN,"João Miguel, Bianca Comparato, Michel Gomes, R...",Brazil,"August 14, 2020",2020,TV-MA,4 Seasons,"International TV Shows, TV Dramas, TV Sci-Fi &...",In a future where the elite inhabit an island ...,0,5
218,s219,TV Show,A Queen Is Born,Carla Barros,"Gloria Groove, Alexia Twister",Brazil,"November 11, 2020",2020,TV-14,1 Season,"International TV Shows, Reality TV",Gloria Groove and Alexia Twister make drag dre...,218,4
320,s321,Movie,Afonso Padilha: Classless,"Junior Carelli, Rudge Campos",Afonso Padilha,Brazil,"September 3, 2020",2020,TV-MA,63 min,Stand-Up Comedy,Brazilian comedian Afonso Padilha dives into h...,320,8

# .isin()
If you want to filter by multiple values of a categorical variable, the easiest way is to use the isin() method.

In [83]:
# Peliculas de Perú y Chile

net_per_ch = netflix[netflix["country"].isin(["Peru","Chile"])] # filter by variables's values
net_per_ch

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
3143,s4500,Movie,Nobody Knows I'm Here,Gaspar Antillo,"Jorge García, Millaray Lobos, Luis Gnecco, Ale...",Chile,"June 24, 2020",2020,TV-MA,92 min,"A former child singer, traumatized by his expe...",3
2989,s4273,Movie,Mujeres arriba,Andrés Feddersen,"Loretto Bernal, Natalia Valdebenito, Alison Ma...",Chile,"May 21, 2020",2019,TV-14,98 min,A trio of best friends — a carefree bacheloret...,2
2840,s4062,Movie,Mi amigo Alexis,Alejandro Fernández Almendras,"Luciano González, Alexis Sánchez, Daniel Muñoz...",Chile,"August 30, 2019",2019,TV-PG,102 min,When a young soccer fan and his idol forge an ...,2
3087,s4416,Movie,Natalia Valdebenito: El especial,"Raúl Campos, Jan Suter",Natalia Valdebenito,Chile,"March 2, 2018",2018,TV-MA,69 min,A Chilean comedian fuses activism with irrever...,9
3135,s4487,Movie,No Estoy Loca,Nicolás López,"Paz Bascuñán, Marcial Tagle, Antonia Zegers, C...",Chile,"May 4, 2018",2018,TV-MA,116 min,A woman enters a quirky mental health clinic a...,3
2186,s3124,Movie,Jani Dueñas: Grandes fracasos de ayer y hoy,"Raúl Campos, Jan Suter",Jani Dueñas,Chile,"June 29, 2018",2018,TV-MA,77 min,Chilean comedian and personality Jani Dueñas p...,6
1988,s2846,Movie,How to Get Over a Breakup,"Joanna Lombardi, Bruno Ascenzo","Gisela Ponce de León, Karina Jordán, Jely Reát...",Peru,"October 20, 2018",2018,TV-MA,104 min,"A heartbroken ad copywriter living in Lima, Pe...",4
1465,s2087,Movie,Fabrizio Copano: Solo pienso en mi,"Rodrigo Toro, Francisco Schultz",Fabrizio Copano,Chile,"September 8, 2017",2017,TV-MA,60 min,Fabrizio Copano takes audience participation t...,9
3937,s5635,Movie,Sinister Circle,Dorian Fernández-Moris,"Milene Vázquez, Matías Raygada, Claudia Dammer...",Peru,"October 1, 2019",2017,TV-MA,87 min,A psychologist and her mute son confront evil ...,7
3306,s4733,Movie,Pacificum: Return to the Ocean,"Mariana Tschudi, Héctor Gálvez",NaN,Peru,"June 15, 2018",2017,TV-G,74 min,Four scientists offer a sweeping yet intimate ...,3
2695,s3851,Movie,Madre,Aaron Burns,"Daniela Ramírez, Cristobal Tapia Montt, Aida, ...",Chile,"August 26, 2017",2016,TV-MA,95 min,"Pregnant and overwhelmed, Diana hires a careta...",7
473,s619,Movie,Attitude Test,"Fabrizio Copano, Augusto Matte","Belén Soto, Denise Rosenthal, Constanza Piccol...",Chile,"August 19, 2018",2016,TV-14,88 min,Four high school seniors steal an important co...,1
463,s605,Movie,Asu Mare 2,Ricardo Maldonado,"Carlos Alcántara, Emilia Drago, Christian Meie...",Peru,"December 1, 2016",2015,TV-14,100 min,To win the heart of his true love – a high-soc...,7
1799,s2565,Movie,Héroes,Esteban Vidal,"Fabrizio Copano, Juanita Ringeling, Fernando A...",Chile,"August 19, 2018",2015,TV-MA,91 min,"When an earthquake hits Chile, rescue workers ...",6
571,s755,Movie,Barrio Universitario,Esteban Vidal,"Fabrizio Copano, Rodrigo Salinas, Pedro Rumino...",Chile,"August 19, 2018",2013,TV-14,91 min,Four friends from a humble technical school co...,4

In [84]:
# Peliculas diferentes de Perú y Chile

netflix[~ netflix["country"].isin(["Peru","Chile"])]   # ~ negación en Python ALT + 126

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
4508,s6478,TV Show,The Idhun Chronicles,Maite Ruiz De Austri,"Michelle Jenner, Itzan Escamilla, Sergio Mur, ...",Spain,"January 8, 2021",2021,TV-14,2 Seasons,A boy suddenly orphaned fights his parents' ki...,2
3122,s4469,TV Show,Night Stalker: The Hunt for a Serial Killer,Tiller Russell,NaN,Sin nacionalidad,"January 13, 2021",2021,TV-MA,1 Season,Beneath the sunlit glamour of 1985 LA lurks a ...,2
940,s1286,Movie,Charming,Ross Venokur,"Wilmer Valderrama, Demi Lovato, Sia, Nia Varda...","Canada, United States, Cayman Islands","January 8, 2021",2021,TV-Y7,85 min,"On the eve of his 21st birthday, an adored pri...",7
5306,s7645,Movie,Wish You,Sung Do-jun,"Kang In-soo, Lee Sang, Soo-bin",Sin nacionalidad,"January 15, 2021",2021,TV-PG,102 min,"Singing and dreaming together, a talented sing...",9
981,s1356,Movie,Chris Rock Total Blackout: The Tamborine Exten...,Chris Rock,Chris Rock,Sin nacionalidad,"January 12, 2021",2021,TV-MA,98 min,"In this extended cut of his 2018 special, Chri...",2
...,...,...,...,...,...,...,...,...,...,...,...,...
5325,s7680,Movie,WWII: Report from the Aleutians,John Huston,NaN,United States,"March 31, 2017",1943,TV-PG,45 min,Filmmaker John Huston narrates this Oscar-nomi...,9
5100,s7343,Movie,Undercover: How to Operate Behind Enemy Lines,John Ford,NaN,United States,"March 31, 2017",1943,TV-PG,61 min,This World War II-era training film dramatizes...,4
5286,s7617,Movie,Why We Fight: The Battle of Russia,"Frank Capra, Anatole Litvak",NaN,United States,"March 31, 2017",1943,TV-PG,82 min,This installment of Frank Capra's acclaimed do...,5
3451,s4961,Movie,Prelude to War,Frank Capra,NaN,United States,"March 31, 2017",1942,TV-14,52 min,Frank Capra's documentary chronicles the rise ...,5
4259,s6118,Movie,The Battle of Midway,John Ford,"Henry Fonda, Jane Darwell",United States,"March 31, 2017",1942,TV-14,18 min,Director John Ford captures combat footage of ...,4

## Alternative methods to filter

In [86]:
movie = netflix["type"] == "Movie"
m_usa = netflix["country"] == "United States"
m_actual = netflix["release_year"] > 2019

movie_usa = netflix[movie & m_usa & m_actual]
movie_usa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,number
5253,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,"In this delightful short documentary, an Itali...",8
1080,s1515,Movie,"Crack: Cocaine, Corruption & Conspiracy",Stanley Nelson,NaN,United States,"January 11, 2021",2021,TV-MA,90 min,"A cheap, powerful drug emerges during a recess...",3
4663,s6709,Movie,The Night Clerk,Michael Cristofer,"Tye Sheridan, Ana de Armas, Helen Hunt, John L...",United States,"June 6, 2020",2020,R,90 min,"After a charming guest checks in, a voyeuristi...",8
1620,s2311,Movie,Full Out 2: You Got This!,Jeff Deverett,"Sydney Cope, Logan Edra, Liza Wilk, Braedyn Br...",United States,"January 1, 2021",2020,TV-Y,91 min,"With a championship on the line, Chayse and he...",8
4669,s6720,Movie,The Old Guard,Gina Prince-Bythewood,"Charlize Theron, KiKi Layne, Marwan Kenzari, L...",United States,"July 10, 2020",2020,R,126 min,Four undying warriors who've secretly protecte...,3
...,...,...,...,...,...,...,...,...,...,...,...,...
363,s471,Movie,American Murder: The Family Next Door,Jenny Popplewell,NaN,United States,"September 30, 2020",2020,TV-MA,84 min,"Using raw, firsthand footage, this documentary...",7
482,s632,Movie,Ava,Tate Taylor,"Jessica Chastain, Colin Farrell, John Malkovic...",United States,"December 7, 2020",2020,R,97 min,An elite assassin wrestling with doubts about ...,2
559,s742,Movie,Barbie Princess Adventure,Conrad Helten,"America Young, Erica Lindbeck, Ritesh Rajan, D...",United States,"September 1, 2020",2020,TV-Y,72 min,"Through music and magic, Barbie learns what it...",4
112,s148,Movie,A Babysitter's Guide to Monster Hunting,Rachel Talalay,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,"Recruited by a secret society of babysitters, ...",5
5129,s7390,Movie,Vampires vs. the Bronx,Oz Rodriguez,"Jaden Michael, Gerald W. Jones III, Gregory Di...",United States,"October 2, 2020",2020,PG-13,86 min,Three gutsy kids from a rapidly gentrifying Br...,9

In [85]:
movie_usa = netflix.loc[ ( netflix[ "type" ] == "Movie" ) & ( netflix[ "country" ] == "United States") & ( netflix[ "release_year" ] > 2019 ) ]

In [86]:
movie_usa

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
154,s155,Movie,A California Christmas,Shaun Paul Piccinino,"Lauren Swickard, Josh Swickard, Ali Afshar, Da...",United States,"December 14, 2020",2020,PG-13,107 min,"Comedies, Romantic Movies","With his carefree lifestyle on the line, a wea...",154,1
611,s612,Movie,Athlete A,"Bonni Cohen, Jon Shenk",NaN,United States,"June 24, 2020",2020,PG-13,104 min,"Documentaries, Sports Movies",This documentary focuses on the gymnasts who s...,611,1
1135,s1136,Movie,Bulletproof 2,Don Michael Paul,"Faizon Love, Kirk Fox, Tony Todd, Pearl Thusi,...",United States,"January 9, 2020",2020,TV-MA,97 min,"Action & Adventure, Comedies",A special agent abruptly reunites with a crimi...,1135,1
1569,s1570,Movie,Da 5 Bloods,Spike Lee,"Delroy Lindo, Jonathan Majors, Clarke Peters, ...",United States,"June 12, 2020",2020,R,156 min,"Action & Adventure, Dramas",Four African American veterans return to Vietn...,1569,1
7370,s7371,Movie,Uppity: The Willy T. Ribbs Story,"Nate Adams, Adam Carolla",Willy T. Ribbs,United States,"February 5, 2020",2020,TV-MA,106 min,"Documentaries, Sports Movies",This documentary profiles a defiant driver who...,7370,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2434,s2435,Movie,Giving Voice,"James D. Stern, Fernando Villena","Viola Davis, Denzel Washington, Stephen Hender...",United States,"December 11, 2020",2020,PG-13,91 min,Documentaries,Six ambitious student actors audition for the ...,2434,9
3830,s3831,Movie,Ma Rainey's Black Bottom,George C. Wolfe,"Viola Davis, Chadwick Boseman, Glynn Turman, C...",United States,"December 18, 2020",2020,R,94 min,"Dramas, Music & Musicals",Tensions and temperatures rise at a Chicago mu...,3830,9
6670,s6671,Movie,The Minimalists: Less Is Now,Sin director,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,6670,1
7569,s7570,Movie,What Would Sophia Loren Do?,Ross Kauffman,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,4
1514,s1515,Movie,"Crack: Cocaine, Corruption & Conspiracy",Stanley Nelson,NaN,United States,"January 11, 2021",2021,TV-MA,90 min,Documentaries,"A cheap, powerful drug emerges during a recess...",1514,7

In [87]:
movie_usa.drop(['show_id', 'director'], axis=1, inplace = True ) # axis = 1 , drop por columna

C:\Users\Roberto\AppData\Local\Temp\ipykernel_18864\3584590493.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_usa.drop(['show_id', 'director'], axis=1, inplace = True ) # axis = 1 , drop por columna

In [88]:
movie_usa

,type,title,cast,country,date_added,release_year,rating,duration,description,number
5253,Movie,What Would Sophia Loren Do?,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,"In this delightful short documentary, an Itali...",8
1080,Movie,"Crack: Cocaine, Corruption & Conspiracy",NaN,United States,"January 11, 2021",2021,TV-MA,90 min,"A cheap, powerful drug emerges during a recess...",3
4663,Movie,The Night Clerk,"Tye Sheridan, Ana de Armas, Helen Hunt, John L...",United States,"June 6, 2020",2020,R,90 min,"After a charming guest checks in, a voyeuristi...",8
1620,Movie,Full Out 2: You Got This!,"Sydney Cope, Logan Edra, Liza Wilk, Braedyn Br...",United States,"January 1, 2021",2020,TV-Y,91 min,"With a championship on the line, Chayse and he...",8
4669,Movie,The Old Guard,"Charlize Theron, KiKi Layne, Marwan Kenzari, L...",United States,"July 10, 2020",2020,R,126 min,Four undying warriors who've secretly protecte...,3
...,...,...,...,...,...,...,...,...,...,...
363,Movie,American Murder: The Family Next Door,NaN,United States,"September 30, 2020",2020,TV-MA,84 min,"Using raw, firsthand footage, this documentary...",7
482,Movie,Ava,"Jessica Chastain, Colin Farrell, John Malkovic...",United States,"December 7, 2020",2020,R,97 min,An elite assassin wrestling with doubts about ...,2
559,Movie,Barbie Princess Adventure,"America Young, Erica Lindbeck, Ritesh Rajan, D...",United States,"September 1, 2020",2020,TV-Y,72 min,"Through music and magic, Barbie learns what it...",4
112,Movie,A Babysitter's Guide to Monster Hunting,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,"Recruited by a secret society of babysitters, ...",5
5129,Movie,Vampires vs. the Bronx,"Jaden Michael, Gerald W. Jones III, Gregory Di...",United States,"October 2, 2020",2020,PG-13,86 min,Three gutsy kids from a rapidly gentrifying Br...,9

# Axis: 

- drop, concat: axis = 0  filas, axis = 1 columnas 

- En funciones aplciado a columnas (mean, std, apply:lambda) DataFrame o matrices Axis = 1 (filas), mientras axos = 0 (columnas)

In [90]:
movie_usa[movie_usa.release_year != 2020]

,type,title,cast,country,date_added,release_year,rating,duration,listed_in,description,new_col,number
6670,Movie,The Minimalists: Less Is Now,NaN,United States,"January 1, 2021",2021,TV-14,54 min,Documentaries,They've built a movement out of minimalism. Lo...,6670,1
7569,Movie,What Would Sophia Loren Do?,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,Documentaries,"In this delightful short documentary, an Itali...",7569,4
1514,Movie,"Crack: Cocaine, Corruption & Conspiracy",NaN,United States,"January 11, 2021",2021,TV-MA,90 min,Documentaries,"A cheap, powerful drug emerges during a recess...",1514,7

In [89]:
#Rename variables

movie_usa.rename(columns = {'title':'Titulo_movie', 'duration':'Duration_movie'}, inplace = True)

C:\Users\Roberto\AppData\Local\Temp\ipykernel_18864\1458485735.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movie_usa.rename(columns = {'title':'Titulo_movie', 'duration':'Duration_movie'}, inplace = True)

In [90]:
movie_usa

,type,Titulo_movie,cast,country,date_added,release_year,rating,Duration_movie,description,number
5253,Movie,What Would Sophia Loren Do?,"Nancy ""Vincenza Careri"" Kulik, Sophia Loren",United States,"January 15, 2021",2021,TV-14,32 min,"In this delightful short documentary, an Itali...",8
1080,Movie,"Crack: Cocaine, Corruption & Conspiracy",NaN,United States,"January 11, 2021",2021,TV-MA,90 min,"A cheap, powerful drug emerges during a recess...",3
4663,Movie,The Night Clerk,"Tye Sheridan, Ana de Armas, Helen Hunt, John L...",United States,"June 6, 2020",2020,R,90 min,"After a charming guest checks in, a voyeuristi...",8
1620,Movie,Full Out 2: You Got This!,"Sydney Cope, Logan Edra, Liza Wilk, Braedyn Br...",United States,"January 1, 2021",2020,TV-Y,91 min,"With a championship on the line, Chayse and he...",8
4669,Movie,The Old Guard,"Charlize Theron, KiKi Layne, Marwan Kenzari, L...",United States,"July 10, 2020",2020,R,126 min,Four undying warriors who've secretly protecte...,3
...,...,...,...,...,...,...,...,...,...,...
363,Movie,American Murder: The Family Next Door,NaN,United States,"September 30, 2020",2020,TV-MA,84 min,"Using raw, firsthand footage, this documentary...",7
482,Movie,Ava,"Jessica Chastain, Colin Farrell, John Malkovic...",United States,"December 7, 2020",2020,R,97 min,An elite assassin wrestling with doubts about ...,2
559,Movie,Barbie Princess Adventure,"America Young, Erica Lindbeck, Ritesh Rajan, D...",United States,"September 1, 2020",2020,TV-Y,72 min,"Through music and magic, Barbie learns what it...",4
112,Movie,A Babysitter's Guide to Monster Hunting,"Tamara Smart, Oona Laurence, Tom Felton, Troy ...",United States,"October 15, 2020",2020,TV-PG,99 min,"Recruited by a secret society of babysitters, ...",5
5129,Movie,Vampires vs. the Bronx,"Jaden Michael, Gerald W. Jones III, Gregory Di...",United States,"October 2, 2020",2020,PG-13,86 min,Three gutsy kids from a rapidly gentrifying Br...,9

### Export data

In [91]:
movie_usa.to_csv("../data/movie_usa_1.csv")

In [92]:
movie_usa.to_excel("../data/movie_usa_1.xlsx")

### References 

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.dropna.html