In [12]:
import pandas as pd
import numpy as np
import chardet # to get string character format 
import re  # for regular expression 
import os # for usernanme y set direcotrio

import warnings
warnings.filterwarnings('ignore')

In [13]:
panel = pd.read_stata("../../data/panel_2016_2018.dta",
                      convert_categoricals=False)

In [14]:
panel

,conglome,vivienda,aÑo_16,mes_16,nconglome_16,conglome_16,vivienda_16,hogar_16,ubigeo_16,dominio_16,...,linea_20,pobreza_20,tipocuestionario_20,tipoentrevista_20,factor07_20,nconglome_20,sub_conglome_20,lineav_rpl_20,lineav_20,pobrezav_20
0,005012,039,2016,01,007083,005012,039,11,010101,4,...,303.520996,3,1,2,39.763752,007083,00,657,553.222473,4
1,005012,025,2016,01,007083,005012,025,11,010101,4,...,303.520996,3,1,2,39.763752,007083,00,657,546.850037,4
2,005012,012,2016,01,007083,005012,012,11,010101,4,...,303.520996,3,1,2,39.763752,007083,00,657,561.609619,3
3,005017,075,2016,05,007093,005017,075,11,010101,4,...,303.520996,3,1,2,55.669254,007093,00,657,559.775146,3
4,005017,008,2016,05,007093,005017,008,11,010101,4,...,303.520996,3,1,2,55.669254,007093,00,657,563.189392,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1934,010360,063,2016,11,008793,010360,063,11,220504,7,...,247.342163,3,2,1,111.686325,008793,00,657,569.045166,3
1935,010360,064,2016,11,008793,010360,064,11,220504,7,...,247.342163,3,2,1,111.686325,008793,00,657,576.689819,3
1936,010360,142,2016,11,008793,010360,142,11,220504,7,...,247.342163,3,2,1,111.686325,008793,00,657,573.543945,3
1937,010360,144,2016,11,008793,010360,144,11,220504,7,...,247.342163,3,2,1,111.686325,008793,00,657,571.337524,4
1938,010370,103,2016,01,044447,010370,103,11,230101,3,...,359.276611,3,0,1,6.529222,044447,00,657,590.305908,4

In [15]:
# nombre de las variables en minuscula

panel.columns = map(str.lower, panel.columns)  


print( panel.columns)

# Se filtra variables selecionadas 

index_columns = np.where( panel.columns.str.contains(
    '(año)|(^conglome)|(vivienda)|(hogar)|(estrato_)|(mieperho)|(gashog2d)|(pobreza_)|(factor07)',
    regex=True))[0]

Index(['conglome', 'vivienda', 'año_16', 'mes_16', 'nconglome_16',
       'conglome_16', 'vivienda_16', 'hogar_16', 'ubigeo_16', 'dominio_16',
       ...
       'linea_20', 'pobreza_20', 'tipocuestionario_20', 'tipoentrevista_20',
       'factor07_20', 'nconglome_20', 'sub_conglome_20', 'lineav_rpl_20',
       'lineav_20', 'pobrezav_20'],
      dtype='object', length=804)

In [16]:

# index_columns: se guarda las posiciones de columnas de aquellas variables que satisface 
# con algunos de los casos del regex

panel = panel.iloc[:,index_columns] 


# Rename las  variables de año 
    
panel.rename(columns = {'año_16':'year_16', 'año_17':'year_17', 'año_18':'year_18', 'año_19':'year_19',
                       'año_20':'year_20', 'conglome':'cong', 'vivienda':'viv'}, inplace = True)

In [17]:

# Se crea un identificados del hogar 

panel['hog'] = np.arange(1, panel.shape[0] + 1)

# reordenando las columnas 

cols = panel.columns.tolist() # nombre de varaible a lista 
new_cols_orders = cols[ 0:2 ] + [cols[ -1 ]] + cols[ 2:-1 ] 

# cols[ 0:2 ] dos primeras columnas (conglome, vivienda)
# [cols[ -1 ]] ultima columna (hog)
# cols[ 2:-1 ] desde la tercera hasta la penultima

In [18]:
panel = panel.loc[:, new_cols_orders]

In [19]:
## Reshape Wide to long 

# reshape_panel = pd.wide_to_long(panel, stubnames = new_list,
#                                 i = ['cong', 'viv', 'hog'] , j = 'period' , sep = '_').reset_index()


# new_list: debe contener las variables en comun en todos los años (sin _año)

panel.columns[3::]

Index(['year_16', 'conglome_16', 'vivienda_16', 'hogar_16', 'mieperho_16',
       'gashog2d_16', 'pobreza_16', 'factor07_16', 'year_17', 'conglome_17',
       'vivienda_17', 'hogar_17', 'mieperho_17', 'gashog2d_17', 'pobreza_17',
       'factor07_17', 'year_18', 'conglome_18', 'vivienda_18', 'hogar_18',
       'mieperho_18', 'gashog2d_18', 'pobreza_18', 'factor07_18', 'year_19',
       'conglome_19', 'vivienda_19', 'hogar_19', 'mieperho_19', 'gashog2d_19',
       'pobreza_19', 'factor07_19', 'year_20', 'conglome_20', 'vivienda_20',
       'hogar_20', 'mieperho_20', 'gashog2d_20', 'pobreza_20', 'factor07_20'],
      dtype='object')

In [20]:
filter_list = list( map( lambda x: re.sub('.{3}$',"", x) , list(panel.columns)[3::] )   )
    
#se reemplaza los tres ultimos caracteres 
#(como se usa el carcater especial .), se toma cualquier tipo de caracter ya sea espacio, numero, letras, #!", etc

# Se puede ibservar que filter list tiene duplicados

# Se procede a elimitar los duplicados en la lista

new_list = list(dict.fromkeys(filter_list))

In [21]:
## Reshape Wide to long 

reshape_panel = pd.wide_to_long(panel, stubnames = new_list, i = ['cong', 'viv', 'hog'] , 
                                j = 'period' , sep = '_').reset_index()

In [22]:
# drop a las siguientes variables

del reshape_panel['cong']
del reshape_panel['viv']
del reshape_panel['hog']
del reshape_panel['period']

In [23]:
reshape_panel

      year conglome vivienda hogar  mieperho      gashog2d  pobreza   factor07
0     2016   005012      039    11         3  54039.512787        3  55.543785
1     2017   005012      039    11         4  50814.343978        3  60.289120
2     2018   005012      039    11         3  58186.132812        3  57.849400
3     2019   005012      039    11         3  38984.320312        3  68.354828
4     2020   005012      039    11         3  38381.101562        3  39.763752
...    ...      ...      ...   ...       ...           ...      ...        ...
9690  2016   010370      103    11         4  89767.156829        3   9.228622
9691  2017   010370      103    11         4  88120.271320        3  11.177754
9692  2018   010370      103    11         4  60352.046875        3  11.388186
9693  2019   010370      103    11         3  76771.718750        3  11.558778
9694  2020   010370      103    11         3  86487.531250        3   6.529222

[9695 rows x 8 columns]